In [314]:
import pandas as pd
import numpy as np
import pyreadr

# Data Processing Method:

- read in from analysis.rdata
- calculate PIB from pic per capita and population
- merge labor and social security rais data
- sort jobs and companies by service or industry (Check this with Kathryn, should we get rid of individual ones and also the ones in analysis.Rdata?, I have it by percentage to reduce overlap w population. is this ok?) **
- read in year_deforest data. there are some missing values that result in NAs ** Keep all of them 

- fill in 2016 emission data
- pull in Finbra data ** (change from 6 to 7 digit code, spend more time on this first then ask Kathryn abt NAs)

- legal amazon vs. all of brazil municipalities?
- include election data (incumbent won reelection variables etc., whether mayor has ties to agro)
- indicators and feature importance (https://stats.stackexchange.com/questions/314567/feature-importance-with-dummy-variables)
- grouped variable importance
- see what happens when we drop all but socio/politico variables

# Get Data

## Main Data

In [315]:
main = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/analysis.Rdata') #read R dataframe into Python
df1 = pd.DataFrame(main['forest_full'])
df = df1.sample(10000) #trim because this frame is quite large, test that all runs before doing entire dataset!
#df = df1.sample(100000) #trim because this frame is quite large, test that all runs before doing entire dataset!


#df = df1

In [316]:
df.shape

(10000, 35)

In [317]:
df.head()

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,ironore,silver,copper,gold,soy_price,beef_price,ag_jobs,mining_jobs,public_jobs,construction_jobs
102486,1506138,-10.0,9347694,-50.175,-8.325,2002,42.0,43.50,23.42900,199.0,...,29.309999,1.478946e+05,1559.479980,9965846.0,188.866170,95.403771,11.686938,0.687467,32.363829,1.022387
1766834,5105101,0.0,8807563,-57.675,-11.325,2012,41.0,49.75,25.18667,277.0,...,128.500000,1.001182e+06,7962.350098,53676740.0,537.761837,187.942903,32.314277,1.864873,14.674411,3.317028
2224651,1712454,7.0,9516936,-47.825,-6.225,2015,25.0,30.00,16.33762,254.0,...,55.849998,5.054137e+05,5510.459961,37316380.0,347.355564,200.494371,12.663755,0.000000,68.122271,3.493450
1658460,1302108,0.0,8069639,-67.925,-1.825,2012,97.0,97.00,41.00420,95.0,...,128.500000,1.001182e+06,7962.350098,53676740.0,537.761837,187.942903,0.000000,0.000000,89.041096,0.000000
912161,1506005,0.0,9092224,-53.725,-1.625,2007,44.0,51.75,23.90590,77.0,...,122.989998,4.305019e+05,7118.229980,22400244.0,317.319731,118.038333,29.836830,0.000000,58.508159,0.000000

In [318]:
df.columns

Index(['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l', 'nn_forest.l',
       'rain1', 'elevation', 'slope', 'aspect', 'near_mines', 'near_roads',
       'near_hidrovia', 'indigenous_homol', 'mun_election_year',
       'new_forest_code', 'lula', 'dilma', 'temer', 'bolsonaro',
       'fed_election_year', 'populacao', 'pib_pc', 'ironore', 'silver',
       'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs', 'mining_jobs',
       'public_jobs', 'construction_jobs'],
      dtype='object')

## PIB Data (Economic)

In [319]:
#using givens already instead of filling in

In [320]:
df['PIB'] = df['pib_pc'] * df['populacao']

In [321]:
#pib.Rdata

#pib_read = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/pib.Rdata')
#pib_df = pd.DataFrame(pib_read ['df.pib_pc'])
#pib_df.head()
#df = pd.merge(df, pib_df,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','ano'])

In [322]:
# df = df[['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l', 'nn_forest.l',
#        'rain1', 'elevation', 'slope', 'aspect', 'near_mines', 'near_roads',
#        'near_hidrovia', 'indigenous_homol', 'mun_election_year',
#        'new_forest_code', 'lula', 'dilma', 'temer', 'bolsonaro',
#        'fed_election_year', 'populacao_x', 'pib_pc_x', 'ironore', 'silver',
#        'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs', 'mining_jobs',
#        'public_jobs', 'construction_jobs', 'PIB']]

In [323]:
# df.columns = ['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l', 'nn_forest.l',
#        'rain1', 'elevation', 'slope', 'aspect', 'near_mines', 'near_roads',
#        'near_hidrovia', 'indigenous_homol', 'mun_election_year',
#        'new_forest_code', 'lula', 'dilma', 'temer', 'bolsonaro',
#        'fed_election_year', 'populacao', 'pib_pc', 'ironore', 'silver',
#        'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs', 'mining_jobs',
#        'public_jobs', 'construction_jobs', 'PIB']

In [324]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0}

## RAIS Setor (Labor and Social Security)

In [325]:
#what is the last one in each category n_empresas no label?

In [326]:
#rais_setor_munic.Rdata

rais_read = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/rais_setor_munic.Rdata')
rais_df = pd.DataFrame(rais_read['rais3'])
rais_df.head()

,id_municipio,ano,n_empresas_ADMIN PUBLICA,n_empresas_AGRICULTURA,n_empresas_ALIMENTOS E BEBIDAS,n_empresas_ALOJAMENTO E ALIMENTACAO,n_empresas_ALUGUEL EQUIPAMENTO,n_empresas_ATACADO,n_empresas_ATIVIDADES ASSOCIATIVAS,n_empresas_AUTOMOVEIS E TRANSPORTE,...,n_empregos_IMOBILIARIA,n_empregos_RECICLAGEM,n_empregos_COUROS E CALCADO,n_empregos_BORRACHA E PLASTICO,n_empregos_TEXTEIS,n_empregos_PESQUISA E DESENVOLVIMENTO,n_empregos_TRANSPORTE AEREO,n_empregos_FUMO,n_empregos_REFINO PETROLEO,n_empregos_
0,1100015,2000,2,27,15,13,1,38,126,5,...,0,0,0,0,0,0,0,0,0,0
1,1100015,2001,3,32,17,10,1,40,118,4,...,0,0,0,0,0,0,0,0,0,0
2,1100015,2002,3,45,23,13,0,39,127,4,...,0,0,0,0,0,0,0,0,0,0
3,1100015,2003,2,65,23,13,0,33,109,4,...,0,0,0,0,0,0,0,0,0,0
4,1100015,2004,2,83,44,10,1,29,110,3,...,0,0,0,0,0,0,0,0,0,0

In [327]:
#english names of columns 
rais_df.columns = ['id_municipio', 'ano', 
                   
       'n_companies_PUBLIC ADMIN',
       'n_companies_AGRICULTURE', 'n_companies_FOOD AND DRINKS',
       'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT', 'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD', 'n_companies_NON-METALLIC MINERAL PRODUCTS',
       'n_companies_HEALTH', 'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION', 'n_companies_RETAIL',
       'n_companies_COMPUTING', 'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER',
       'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER-BASED TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR', 'n_companies_RUBBER AND PLASTIC',
       'n_companies_TEXTILES', 'n_companies_RESEARCH AND DEVELOPMENT',
       'n_companies_AERO TRANSPORT', 'n_companies_SMOKE',
       'n_companies_PETROLEUM REFINING', 'n_companies_',
                   
       'n_jobs_PUBLIC ADMIN',
       'n_jobs_AGRICULTURE', 'n_jobs_FOOD AND DRINKS',
       'n_jobs_ACCOMODATION AND FOOD',
       'n_jobs_EQUIPMENT RENTAL', 'n_jobs_WHOLESALE',
       'n_jobs_ASSOCIATIVE ACTIVITIES',
       'n_jobs_AUTOMOBILES AND TRANSPORT', 'n_jobs_FINANCIAL ASSISTANCE',
       'n_jobs_TRADE REP VEHICLES', 'n_jobs_CONSTRUCTION',
       'n_jobs_MAIL AND TELECOM', 'n_jobs_CULTURE AND SPORT',
       'n_jobs_EDITING AND PRINTING', 'n_jobs_EDUCATION',
       'n_jobs_ELECTRICITY AND GAS', 'n_jobs_FINANCES',
       'n_jobs_CLEANING AND SEWAGE', 'n_jobs_MACHINERY',
       'n_jobs_BASIC METALLURGY', 'n_jobs_MINING',
       'n_jobs_WOOD PROD', 'n_jobs_NON-METALLIC MINERAL PRODUCTS',
       'n_jobs_HEALTH', 'n_jobs_SERVICES FOR COMPANIES',
       'n_jobs_PERSONAL SERVICES', 'n_jobs_TRANSPORTATION',
       'n_jobs_GROUND TRANSPORT',
       'n_jobs_WATER TREATMENT AND DISTRIBUTION', 'n_jobs_RETAIL',
       'n_jobs_COMPUTING', 'n_jobs_INSURANCE AND SOCIAL SECURITY',
       'n_jobs_METALLIC PRODUCTS', 'n_jobs_DOMESTIC SERVICES',
       'n_jobs_FORESTRY', 'n_jobs_CLOTHING',
       'n_jobs_PAPER',
       'n_jobs_INTERNATIONAL BODIES',
       'n_jobs_OIL AND GAS', 'n_jobs_FISHING AND AQUACULTURE',
       'n_jobs_CHEMICALS', 'n_jobs_WATER-BASED TRANSPORTATION',
       'n_jobs_REAL ESTATE', 'n_jobs_RECYCLING',
       'n_jobs_LEATHERS AND FOOTWEAR', 'n_jobs_RUBBER AND PLASTIC',
       'n_jobs_TEXTILES', 'n_jobs_RESEARCH AND DEVELOPMENT',
       'n_jobs_AERO TRANSPORT', 'n_jobs_SMOKE',
       'n_jobs_PETROLEUM REFINING', 'n_jobs_']

In [328]:
#sort the 51 categories of companies into industrial and service oriented

industrial_companies = ['n_companies_AGRICULTURE',
                    'n_companies_AUTOMOBILES AND TRANSPORT',
                    'n_companies_TRADE REP VEHICLES', 
                    'n_companies_WOOD PROD', 
                    'n_companies_NON-METALLIC MINERAL PRODUCTS',
                    'n_companies_BASIC METALLURGY', 
                    'n_companies_MINING',
                    'n_companies_TRANSPORTATION',
                    'n_companies_GROUND TRANSPORT',
                    'n_companies_WATER-BASED TRANSPORTATION',
                    'n_companies_AERO TRANSPORT',
                    'n_companies_CONSTRUCTION',
                    'n_companies_OIL AND GAS',
                    'n_companies_MACHINERY',
                    'n_companies_FORESTRY', 
                    'n_companies_ELECTRICITY AND GAS',
                    'n_companies_FISHING AND AQUACULTURE',
                    'n_companies_CHEMICALS', 
                    'n_companies_METALLIC PRODUCTS', 
                    'n_companies_PAPER',
                    'n_companies_WATER TREATMENT AND DISTRIBUTION', 
                    'n_companies_CLEANING AND SEWAGE', 
                    'n_companies_RECYCLING',
                    'n_companies_RUBBER AND PLASTIC', 
                    'n_companies_SMOKE',
                    'n_companies_PETROLEUM REFINING']

service_companies = ['n_companies_PUBLIC ADMIN',
                    'n_companies_FOOD AND DRINKS',
                    'n_companies_ACCOMODATION AND FOOD',
                    'n_companies_EQUIPMENT RENTAL', 
                    'n_companies_WHOLESALE',
                    'n_companies_LEATHERS AND FOOTWEAR',
                    'n_companies_TEXTILES',
                    'n_companies_ASSOCIATIVE ACTIVITIES',
                    'n_companies_FINANCIAL ASSISTANCE',
                    'n_companies_HEALTH', 
                    'n_companies_SERVICES FOR COMPANIES',
                    'n_companies_PERSONAL SERVICES', 
                    'n_companies_MAIL AND TELECOM', 
                    'n_companies_EDITING AND PRINTING', 
                    'n_companies_EDUCATION',
                    'n_companies_DOMESTIC SERVICES',
                    'n_companies_INSURANCE AND SOCIAL SECURITY',
                    'n_companies_RETAIL',
                    'n_companies_FINANCES',
                    'n_companies_CULTURE AND SPORT',
                    'n_companies_REAL ESTATE',
                    'n_companies_RESEARCH AND DEVELOPMENT',
                    'n_companies_COMPUTING',
                    'n_companies_CLOTHING', 
                    'n_companies_INTERNATIONAL BODIES',]

In [329]:
#sort the 51 categories of jobs into industrial and service oriented

industrial_jobs = ['n_jobs_AGRICULTURE',
                    'n_jobs_AUTOMOBILES AND TRANSPORT',
                    'n_jobs_TRADE REP VEHICLES', 
                    'n_jobs_WOOD PROD', 
                    'n_jobs_NON-METALLIC MINERAL PRODUCTS',
                    'n_jobs_BASIC METALLURGY', 
                    'n_jobs_MINING',
                    'n_jobs_TRANSPORTATION',
                    'n_jobs_GROUND TRANSPORT',
                    'n_jobs_WATER-BASED TRANSPORTATION',
                    'n_jobs_AERO TRANSPORT',
                    'n_jobs_CONSTRUCTION',
                    'n_jobs_OIL AND GAS',
                    'n_jobs_MACHINERY',
                    'n_jobs_FORESTRY', 
                    'n_jobs_ELECTRICITY AND GAS',
                    'n_jobs_FISHING AND AQUACULTURE',
                    'n_jobs_CHEMICALS', 
                    'n_jobs_METALLIC PRODUCTS', 
                    'n_jobs_PAPER',
                    'n_jobs_WATER TREATMENT AND DISTRIBUTION', 
                    'n_jobs_CLEANING AND SEWAGE', 
                    'n_jobs_RECYCLING',
                    'n_jobs_RUBBER AND PLASTIC', 
                    'n_jobs_SMOKE',
                    'n_jobs_PETROLEUM REFINING'   ]

service_jobs = ['n_jobs_PUBLIC ADMIN',
                    'n_jobs_FOOD AND DRINKS',
                    'n_jobs_ACCOMODATION AND FOOD',
                    'n_jobs_EQUIPMENT RENTAL', 
                    'n_jobs_WHOLESALE',
                    'n_jobs_LEATHERS AND FOOTWEAR',
                    'n_jobs_TEXTILES',
                    'n_jobs_ASSOCIATIVE ACTIVITIES',
                    'n_jobs_FINANCIAL ASSISTANCE',
                    'n_jobs_HEALTH', 
                    'n_jobs_SERVICES FOR COMPANIES',
                    'n_jobs_PERSONAL SERVICES', 
                    'n_jobs_MAIL AND TELECOM', 
                    'n_jobs_EDITING AND PRINTING', 
                    'n_jobs_EDUCATION',
                    'n_jobs_DOMESTIC SERVICES',
                    'n_jobs_INSURANCE AND SOCIAL SECURITY',
                    'n_jobs_RETAIL',
                    'n_jobs_FINANCES',
                    'n_jobs_CULTURE AND SPORT',
                    'n_jobs_REAL ESTATE',
                    'n_jobs_RESEARCH AND DEVELOPMENT',
                    'n_jobs_COMPUTING',
                    'n_jobs_CLOTHING', 
                    'n_jobs_INTERNATIONAL BODIES',]

In [330]:
#group 
rais_df['n_jobs_TOTAL INDUSTRIAL'] = rais_df[industrial_jobs].sum(axis=1)
rais_df['n_jobs_TOTAL SERVICE'] = rais_df[service_jobs].sum(axis=1)

rais_df['n_companies_TOTAL INDUSTRIAL'] = rais_df[industrial_companies].sum(axis=1)
rais_df['n_companies_TOTAL SERVICE'] = rais_df[service_companies].sum(axis=1)

In [331]:
companies_columns_list = ['n_companies_PUBLIC ADMIN',
       'n_companies_AGRICULTURE', 'n_companies_FOOD AND DRINKS',
       'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT', 'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD', 'n_companies_NON-METALLIC MINERAL PRODUCTS',
       'n_companies_HEALTH', 'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION', 'n_companies_RETAIL',
       'n_companies_COMPUTING', 'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER',
       'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER-BASED TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR', 'n_companies_RUBBER AND PLASTIC',
       'n_companies_TEXTILES', 'n_companies_RESEARCH AND DEVELOPMENT',
       'n_companies_AERO TRANSPORT', 'n_companies_SMOKE',
       'n_companies_PETROLEUM REFINING', 'n_companies_']

rais_df['n_companies_TOTAL'] = rais_df[companies_columns_list].sum(axis=1)

In [332]:
jobs_columns_list = ['n_jobs_PUBLIC ADMIN',
       'n_jobs_AGRICULTURE', 'n_jobs_FOOD AND DRINKS',
       'n_jobs_ACCOMODATION AND FOOD',
       'n_jobs_EQUIPMENT RENTAL', 'n_jobs_WHOLESALE',
       'n_jobs_ASSOCIATIVE ACTIVITIES',
       'n_jobs_AUTOMOBILES AND TRANSPORT', 'n_jobs_FINANCIAL ASSISTANCE',
       'n_jobs_TRADE REP VEHICLES', 'n_jobs_CONSTRUCTION',
       'n_jobs_MAIL AND TELECOM', 'n_jobs_CULTURE AND SPORT',
       'n_jobs_EDITING AND PRINTING', 'n_jobs_EDUCATION',
       'n_jobs_ELECTRICITY AND GAS', 'n_jobs_FINANCES',
       'n_jobs_CLEANING AND SEWAGE', 'n_jobs_MACHINERY',
       'n_jobs_BASIC METALLURGY', 'n_jobs_MINING',
       'n_jobs_WOOD PROD', 'n_jobs_NON-METALLIC MINERAL PRODUCTS',
       'n_jobs_HEALTH', 'n_jobs_SERVICES FOR COMPANIES',
       'n_jobs_PERSONAL SERVICES', 'n_jobs_TRANSPORTATION',
       'n_jobs_GROUND TRANSPORT',
       'n_jobs_WATER TREATMENT AND DISTRIBUTION', 'n_jobs_RETAIL',
       'n_jobs_COMPUTING', 'n_jobs_INSURANCE AND SOCIAL SECURITY',
       'n_jobs_METALLIC PRODUCTS', 'n_jobs_DOMESTIC SERVICES',
       'n_jobs_FORESTRY', 'n_jobs_CLOTHING',
       'n_jobs_PAPER',
       'n_jobs_INTERNATIONAL BODIES',
       'n_jobs_OIL AND GAS', 'n_jobs_FISHING AND AQUACULTURE',
       'n_jobs_CHEMICALS', 'n_jobs_WATER-BASED TRANSPORTATION',
       'n_jobs_REAL ESTATE', 'n_jobs_RECYCLING',
       'n_jobs_LEATHERS AND FOOTWEAR', 'n_jobs_RUBBER AND PLASTIC',
       'n_jobs_TEXTILES', 'n_jobs_RESEARCH AND DEVELOPMENT',
       'n_jobs_AERO TRANSPORT', 'n_jobs_SMOKE',
       'n_jobs_PETROLEUM REFINING', 'n_jobs_']

rais_df['n_jobs_TOTAL'] = rais_df[jobs_columns_list].sum(axis=1)

In [333]:
#change to percentage instead of total

In [334]:
rais_df[jobs_columns_list] = rais_df[jobs_columns_list].div(rais_df.n_jobs_TOTAL, axis=0)
rais_df[companies_columns_list] = rais_df[companies_columns_list].div(rais_df.n_companies_TOTAL, axis=0)

In [335]:
rais_df.head()

,id_municipio,ano,n_companies_PUBLIC ADMIN,n_companies_AGRICULTURE,n_companies_FOOD AND DRINKS,n_companies_ACCOMODATION AND FOOD,n_companies_EQUIPMENT RENTAL,n_companies_WHOLESALE,n_companies_ASSOCIATIVE ACTIVITIES,n_companies_AUTOMOBILES AND TRANSPORT,...,n_jobs_AERO TRANSPORT,n_jobs_SMOKE,n_jobs_PETROLEUM REFINING,n_jobs_,n_jobs_TOTAL INDUSTRIAL,n_jobs_TOTAL SERVICE,n_companies_TOTAL INDUSTRIAL,n_companies_TOTAL SERVICE,n_companies_TOTAL,n_jobs_TOTAL
0,1100015,2000,0.003711,0.050093,0.027829,0.024119,0.001855,0.070501,0.233766,0.009276,...,0.0,0.0,0.0,0.0,336,860,118,421,539,1196
1,1100015,2001,0.005525,0.058932,0.031308,0.018416,0.001842,0.073665,0.217311,0.007366,...,0.0,0.0,0.0,0.0,355,830,124,419,543,1185
2,1100015,2002,0.004992,0.074875,0.038270,0.021631,0.000000,0.064892,0.211314,0.006656,...,0.0,0.0,0.0,0.0,418,1022,145,456,601,1440
3,1100015,2003,0.003190,0.103668,0.036683,0.020734,0.000000,0.052632,0.173844,0.006380,...,0.0,0.0,0.0,0.0,477,1152,163,464,627,1629
4,1100015,2004,0.003125,0.129688,0.068750,0.015625,0.001563,0.045312,0.171875,0.004687,...,0.0,0.0,0.0,0.0,516,1094,180,460,640,1610

In [336]:
df = pd.merge(df, rais_df,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','ano'])

In [337]:
df.head()

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,n_jobs_AERO TRANSPORT,n_jobs_SMOKE,n_jobs_PETROLEUM REFINING,n_jobs_,n_jobs_TOTAL INDUSTRIAL,n_jobs_TOTAL SERVICE,n_companies_TOTAL INDUSTRIAL,n_companies_TOTAL SERVICE,n_companies_TOTAL,n_jobs_TOTAL
0,1506138,-10.0,9347694,-50.175,-8.325,2002,42.0,43.50,23.42900,199.0,...,0.002644,0.0,0.0,0.0,1474,4199,398,949,1347,5673
1,5105101,0.0,8807563,-57.675,-11.325,2012,41.0,49.75,25.18667,277.0,...,0.000000,0.0,0.0,0.0,3084,3458,772,826,1598,6542
2,1712454,7.0,9516936,-47.825,-6.225,2015,25.0,30.00,16.33762,254.0,...,0.000000,0.0,0.0,0.0,45,184,12,36,48,229
3,1302108,0.0,8069639,-67.925,-1.825,2012,97.0,97.00,41.00420,95.0,...,0.000000,0.0,0.0,0.0,16,203,6,26,32,219
4,1506005,0.0,9092224,-53.725,-1.625,2007,44.0,51.75,23.90590,77.0,...,0.000000,0.0,0.0,0.0,259,599,35,87,122,858

In [338]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'id_municipio': 0,
 'ano': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0}

## Year Forest Data

## NOTE: HAS NAs for these municipalities: 
1504752    
2102374    
2103307    
2109304   
2111748
5104526    
5104542    

- check if these were created later with municipality split
- check about if they're early 
- figure out which ones split up, code them as the old municipality for the years before the split

In [339]:
np.array(df2.columns)

array(['year', 'munic_id', 'murder_threats', 'assassination',
       'assassination_attempt', 'emiss_agr', 'emiss_agropec', 'emiss_pec',
       'f_emitted_count', 'expen_agri', 'expen_env_man', 'expen_agr_org',
       'expen_mining', 'expen_petrol', 'expen_prom_ani_pro',
       'expen_prom_veg_pro', 'expen_other_agr', 'expen_agr_defense',
       'expen_min_fuel', 'illegal_mining', 'illegal_other',
       'illegal_industry', 'audits'], dtype=object)

In [340]:
result1 = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/year_deforest.RData')
df2 = pd.DataFrame(result1['year_deforest'])
#df2 = df2.fillna(0)
df2 = df2.drop(['term', 'inc', 'area', 'per'], axis = 1)
df2['audits'] = df2['audits'].fillna(0)
df2.head()

,year,munic_id,murder_threats,assassination,assassination_attempt,emiss_agr,emiss_agropec,emiss_pec,f_emitted_count,expen_agri,...,expen_petrol,expen_prom_ani_pro,expen_prom_veg_pro,expen_other_agr,expen_agr_defense,expen_min_fuel,illegal_mining,illegal_other,illegal_industry,audits
0,2000,1100015,0.0,0.0,0.0,0.0,0.0,0.0,36.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
1,2000,1100023,0.0,0.0,0.0,0.0,0.0,0.0,102.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,173.167599,0.0,1744.914255,0.0
2,2000,1100031,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
3,2000,1100049,0.0,0.0,0.0,0.0,0.0,0.0,46.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
4,2000,1100056,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0

In [341]:
dict(sorted((df2.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'year': 0,
 'munic_id': 0,
 'murder_threats': 0,
 'assassination': 0,
 'assassination_attempt': 0,
 'f_emitted_count': 0,
 'expen_agri': 0,
 'expen_env_man': 0,
 'expen_agr_org': 0,
 'expen_mining': 0,
 'expen_petrol': 0,
 'expen_prom_ani_pro': 0,
 'expen_prom_veg_pro': 0,
 'expen_other_agr': 0,
 'expen_agr_defense': 0,
 'expen_min_fuel': 0,
 'illegal_mining': 0,
 'illegal_other': 0,
 'illegal_industry': 0,
 'audits': 0,
 'emiss_agr': 760,
 'emiss_agropec': 760,
 'emiss_pec': 760}

In [342]:
#merge
df = pd.merge(df, df2,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

In [343]:
#fill nas with 0 for audits
#df['audits'] = df['audits'].fillna(0)

In [344]:
df[df.expen_agri.isna()].groupby(['ID']).size()

ID
1504752    1
2103307    1
2109304    1
dtype: int64

In [345]:
df[df.expen_agri.isna()].groupby(['year']).size()

year
2005    1
2010    1
2015    1
dtype: int64

In [346]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'id_municipio': 0,
 'ano': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'munic_id': 3,
 'murder_threats': 3,
 'assassination': 3,
 'assassination_attempt': 3,
 'f_emitted_count': 3,
 'expen_agri': 3,
 'expen_env_man': 3,
 'expen_agr_org': 3,
 'expen_mining': 3,
 'expen_petrol': 3,
 'expen_prom_ani_pro': 3,
 'expen_prom_veg_pro': 3,
 'expen_other_agr': 3,
 'expen_agr_defense': 3,
 'expen_min_fuel': 3,
 'illegal_mining': 3,
 'illegal_other': 3,
 'illegal_industry': 3,
 'audits': 3,
 'emiss_agr': 661,
 'emiss_agropec': 661,
 'emiss_pec': 661}

In [347]:
#now deal with missing emissions entries
# 3 emissions variables 'emiss_agr', 'emiss_agropec', 'emiss_pec',
#In the data, variable “atividade_economica” contains the values AGR, PEC and AGROPEC. 
#So, for each municipality/year, sum the emissions (emissao) that correspond to atividade_economica 
#== “AGROPEC”, “AGR” and “PEC” and that should give you the three variables.

In [348]:
df[df.emiss_agr.isna()].groupby(['year']).size()

year
2005      1
2010      1
2015      1
2016    658
dtype: int64

In [349]:
#file_path = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/Rdata/emissions2016.Rdata'
file_path = '/Users/annieulichney/Desktop/Deforestation/emissions2016.Rdata'

emission2016 = pyreadr.read_r(file_path)
emdf = pd.DataFrame(emission2016['df.emissions'])
emdf.head()

,ano,sigla_uf,id_municipio,nivel_1,nivel_2,nivel_3,nivel_4,nivel_5,nivel_6,tipo_emissao,gas,atividade_economica,produto,emissao
0,2016,RO,1100015,Energia,Emissões pela Queima de Combustíveis,Geração de Eletricidade (Serviço Público),NaN,Diesel de petróleo,Centrais Elétricas de Serviço Público,Emissão,CO2e (t) GWP-AR5,ENE_ELET,ENE_ELET,882.924870
1,2016,RO,1100015,Energia,Emissões pela Queima de Combustíveis,Geração de Eletricidade (Serviço Público),NaN,Óleo diesel,Centrais Elétricas de Serviço Público,Emissão,CO2e (t) GWP-AR5,ENE_ELET,ENE_ELET,3.456047
2,2016,RO,1100015,Energia,Emissões pela Queima de Combustíveis,Transportes,Aéreo,Querosene de aviação,Aeronaves,Emissão,CO2e (t) GWP-AR5,TRAN,NaN,0.963241
3,2016,RO,1100015,Mudança de Uso da Terra e Floresta,Remoção em Áreas Protegidas,Amazônia,em Área Protegida,Vegetação nativa estável,Floresta primária -- Floresta primária,Remoção,CO2e (t) GWP-AR5,CONSERV,NaN,-271351.000000
4,2016,RO,1100015,Mudança de Uso da Terra e Floresta,Remoção em Áreas Protegidas,Amazônia,em Área Protegida,Vegetação nativa estável,Vegetação não florestal primária -- Vegetação ...,Remoção,CO2e (t) GWP-AR5,CONSERV,NaN,-49479.000000

In [350]:
#agro + pec
both = emdf.loc[emdf['atividade_economica'].isin(['PEC', 'AGR'])][['ano', 'id_municipio', 'atividade_economica', 'emissao']]
both.columns = ['ano', 'id_municipio', 'atividade_economica', 'emissao_agropec_2016']


both['emissao_agropec_2016'] = both['emissao_agropec_2016'].fillna(0)

both_summed = pd.DataFrame(both.groupby(['ano', 'id_municipio'])['emissao_agropec_2016'].sum()).reset_index()

#change dtype
both_summed['id_municipio'] = both_summed['id_municipio'].astype(int)
both_summed['ano'] = both_summed['ano'].astype(int)

both_summed.head()

    ano  id_municipio  emissao_agropec_2016
0  2016       1100015         761694.534692
1  2016       1100023         852491.945741
2  2016       1100031         268736.763683
3  2016       1100049         882192.110315
4  2016       1100056         212634.316121

In [351]:
#agro only
agro_df = emdf.loc[emdf['atividade_economica'].isin(['AGR'])][['ano', 'id_municipio', 'atividade_economica', 'emissao']]
agro_df.columns = ['ano', 'id_municipio', 'atividade_economica', 'emissao_agr_2016']


agro_df['emissao_agr_2016'] = agro_df['emissao_agr_2016'].fillna(0)

agro_df_summed = pd.DataFrame(agro_df.groupby(['ano', 'id_municipio'])['emissao_agr_2016'].sum()).reset_index()

#change dtype
agro_df_summed['id_municipio'] = agro_df_summed['id_municipio'].astype(int)
agro_df_summed['ano'] = agro_df_summed['ano'].astype(int)

agro_df_summed.head()

    ano  id_municipio  emissao_agr_2016
0  2016       1100015       8479.297773
1  2016       1100023       2822.190980
2  2016       1100031      17688.479558
3  2016       1100049       4250.759400
4  2016       1100056      32702.088696

In [352]:
#agro only
pec_df = emdf.loc[emdf['atividade_economica'].isin(['PEC'])][['ano', 'id_municipio', 'atividade_economica', 'emissao']]
pec_df.columns = ['ano', 'id_municipio', 'atividade_economica', 'emissao_pec_2016']


pec_df['emissao_pec_2016'] = pec_df['emissao_pec_2016'].fillna(0)

pec_df_summed = pd.DataFrame(pec_df.groupby(['ano', 'id_municipio'])['emissao_pec_2016'].sum()).reset_index()

#change dtype
pec_df_summed['id_municipio'] = pec_df_summed['id_municipio'].astype(int)
pec_df_summed['ano'] = pec_df_summed['ano'].astype(int)

pec_df_summed.head()

    ano  id_municipio  emissao_pec_2016
0  2016       1100015     753215.236920
1  2016       1100023     849669.754761
2  2016       1100031     251048.284126
3  2016       1100049     877941.350915
4  2016       1100056     179932.227425

In [353]:
#merge twice to get all 3 columns
emiss_df = pd.merge(agro_df_summed, both_summed,  how = 'left', left_on = ['id_municipio','ano'], right_on = ['id_municipio','ano'])
emiss_df = pd.merge(pec_df_summed, emiss_df,  how = 'left', left_on = ['id_municipio','ano'], right_on = ['id_municipio','ano'])

In [354]:
emiss_df.head()

,ano,id_municipio,emissao_pec_2016,emissao_agr_2016,emissao_agropec_2016
0,2016,1100015,753215.236920,8479.297773,761694.534692
1,2016,1100023,849669.754761,2822.190980,852491.945741
2,2016,1100031,251048.284126,17688.479558,268736.763683
3,2016,1100049,877941.350915,4250.759400,882192.110315
4,2016,1100056,179932.227425,32702.088696,212634.316121

In [355]:
df = pd.merge(df, emiss_df,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','ano'])

In [356]:
df['emissao_pec_2016'] = df['emissao_pec_2016'].fillna(0)
df['emissao_agr_2016'] = df['emissao_agr_2016'].fillna(0)
df['emissao_agropec_2016'] = df['emissao_agropec_2016'].fillna(0)


df['emiss_pec'] = df['emiss_pec'].fillna(0)
df['emiss_agr'] = df['emiss_agr'].fillna(0)
df['emiss_agropec'] = df['emiss_agropec'].fillna(0)

In [357]:
df['emiss_pec_full'] = df['emiss_pec'] + df['emissao_pec_2016']
df['emiss_agr_full'] = df['emiss_agr'] + df['emissao_agr_2016']
df['emiss_agropec_full'] = df['emiss_agropec'] + df['emissao_agropec_2016']

In [358]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'id_municipio_x': 0,
 'ano_x': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_agr': 0,
 'emiss_agropec': 0,
 'emiss_pec': 0,
 'emissao_pec_2016': 0,
 'emissao_agr_2016': 0,
 'emissao_agropec_2016': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'munic_id': 3,
 'murder_threats': 3,
 'assassination': 3,
 'assassination_attempt': 3,
 'f_emitted_count': 3,
 'expen_agri': 3,
 'expen_env_man': 3,
 'expen_agr_org': 3,
 'expen_mining': 3,
 'expen_petrol': 3,
 'expen_prom_ani_pro': 3,
 'expen_prom_veg_pro': 3,
 'expen_other_agr': 3,
 'expen_agr_defense': 3,
 'expen_min_fuel': 3,
 'illegal_mining': 3,
 'illegal_other': 3,
 'illegal_industry': 3,
 'audits': 3,
 'ano_y': 9476,
 'id_municipio_y': 9476}

In [359]:
df = df[['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l',
       'nn_forest.l', 'rain1', 'elevation', 'slope', 'aspect',
       'near_mines', 'near_roads', 'near_hidrovia', 'indigenous_homol',
       'mun_election_year', 'new_forest_code', 'lula', 'dilma', 'temer',
       'bolsonaro', 'fed_election_year', 'populacao', 'pib_pc', 'ironore',
       'silver', 'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs',
       'mining_jobs', 'public_jobs', 'construction_jobs', 'PIB','n_companies_PUBLIC ADMIN',
       'n_companies_AGRICULTURE', 'n_companies_FOOD AND DRINKS',
       'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT',
       'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD',
       'n_companies_NON-METALLIC MINERAL PRODUCTS', 'n_companies_HEALTH',
       'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION',
       'n_companies_RETAIL', 'n_companies_COMPUTING',
       'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER', 'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER-BASED TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR',
       'n_companies_RUBBER AND PLASTIC', 'n_companies_TEXTILES',
       'n_companies_RESEARCH AND DEVELOPMENT',
       'n_companies_AERO TRANSPORT', 'n_companies_SMOKE',
       'n_companies_PETROLEUM REFINING', 'n_companies_',
       'n_jobs_PUBLIC ADMIN', 'n_jobs_AGRICULTURE',
       'n_jobs_FOOD AND DRINKS', 'n_jobs_ACCOMODATION AND FOOD',
       'n_jobs_EQUIPMENT RENTAL', 'n_jobs_WHOLESALE',
       'n_jobs_ASSOCIATIVE ACTIVITIES',
       'n_jobs_AUTOMOBILES AND TRANSPORT', 'n_jobs_FINANCIAL ASSISTANCE',
       'n_jobs_TRADE REP VEHICLES', 'n_jobs_CONSTRUCTION',
       'n_jobs_MAIL AND TELECOM', 'n_jobs_CULTURE AND SPORT',
       'n_jobs_EDITING AND PRINTING', 'n_jobs_EDUCATION',
       'n_jobs_ELECTRICITY AND GAS', 'n_jobs_FINANCES',
       'n_jobs_CLEANING AND SEWAGE', 'n_jobs_MACHINERY',
       'n_jobs_BASIC METALLURGY', 'n_jobs_MINING', 'n_jobs_WOOD PROD',
       'n_jobs_NON-METALLIC MINERAL PRODUCTS', 'n_jobs_HEALTH',
       'n_jobs_SERVICES FOR COMPANIES', 'n_jobs_PERSONAL SERVICES',
       'n_jobs_TRANSPORTATION', 'n_jobs_GROUND TRANSPORT',
       'n_jobs_WATER TREATMENT AND DISTRIBUTION', 'n_jobs_RETAIL',
       'n_jobs_COMPUTING', 'n_jobs_INSURANCE AND SOCIAL SECURITY',
       'n_jobs_METALLIC PRODUCTS', 'n_jobs_DOMESTIC SERVICES',
       'n_jobs_FORESTRY', 'n_jobs_CLOTHING', 'n_jobs_PAPER',
       'n_jobs_INTERNATIONAL BODIES', 'n_jobs_OIL AND GAS',
       'n_jobs_FISHING AND AQUACULTURE', 'n_jobs_CHEMICALS',
       'n_jobs_WATER-BASED TRANSPORTATION', 'n_jobs_REAL ESTATE',
       'n_jobs_RECYCLING', 'n_jobs_LEATHERS AND FOOTWEAR',
       'n_jobs_RUBBER AND PLASTIC', 'n_jobs_TEXTILES',
       'n_jobs_RESEARCH AND DEVELOPMENT', 'n_jobs_AERO TRANSPORT',
       'n_jobs_SMOKE', 'n_jobs_PETROLEUM REFINING', 'n_jobs_',
       'n_jobs_TOTAL INDUSTRIAL', 'n_jobs_TOTAL SERVICE',
       'n_companies_TOTAL INDUSTRIAL', 'n_companies_TOTAL SERVICE',
       'n_companies_TOTAL', 'n_jobs_TOTAL', 
       'murder_threats', 'assassination',
       'assassination_attempt', 
       'f_emitted_count', 'expen_agri', 'expen_env_man', 'expen_agr_org',
       'expen_mining', 'expen_petrol', 'expen_prom_ani_pro',
       'expen_prom_veg_pro', 'expen_other_agr', 'expen_agr_defense',
       'expen_min_fuel', 'illegal_mining', 'illegal_other',
       'illegal_industry', 'audits', 
       'emiss_pec_full', 'emiss_agr_full', 'emiss_agropec_full']]

In [360]:
df[df.murder_threats.isna()].groupby(['ID']).size()

ID
1504752    1
2103307    1
2109304    1
dtype: int64

In [361]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'murder_threats': 3,
 'assassination': 3,
 'assassination_attempt': 3,
 'f_emitted_count': 3,
 'expen_agri': 3,
 'expen_env_man': 3,
 'expen_agr_org': 3,
 'expen_mining': 3,
 'expen_petrol': 3,
 'expen_prom_ani_pro': 3,
 'expen_prom_veg_pro': 3,
 'expen_other_agr': 3,
 'expen_agr_defense': 3,
 'expen_min_fuel': 3,
 'illegal_mining': 3,
 'illegal_other': 3,
 'illegal_industry': 3,
 'audits': 3}

In [362]:
#check that the merge worked
#df[(df.year == 2016) & (df.ID == 1100015) & (df.FID == 8454645)].emiss_pec_full.values[0] + df[(df.year == 2016) & (df.ID == 1100015) & (df.FID == 8454645)].emiss_agr_full.values[0] == df[(df.year == 2016) & (df.ID == 1100015) & (df.FID == 8454645)].emiss_agropec_full.values[0]

In [363]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'murder_threats': 3,
 'assassination': 3,
 'assassination_attempt': 3,
 'f_emitted_count': 3,
 'expen_agri': 3,
 'expen_env_man': 3,
 'expen_agr_org': 3,
 'expen_mining': 3,
 'expen_petrol': 3,
 'expen_prom_ani_pro': 3,
 'expen_prom_veg_pro': 3,
 'expen_other_agr': 3,
 'expen_agr_defense': 3,
 'expen_min_fuel': 3,
 'illegal_mining': 3,
 'illegal_other': 3,
 'illegal_industry': 3,
 'audits': 3}

In [364]:
df[df.illegal_mining.isna()].groupby(['ID']).size()

ID
1504752    1
2103307    1
2109304    1
dtype: int64

In [365]:
df[df.expen_mining.isna()].groupby(['ID']).size()

ID
1504752    1
2103307    1
2109304    1
dtype: int64

## Illegal mining data by municipality

In [366]:
#this is also in year_deforest so I don't double merge

In [367]:
#illegal_mine = pd.read_csv('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/illegal_mining.csv')
#df = pd.merge(df, illegal_mine,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

In [368]:
#illegal_mine.head()

## Violence

In [369]:
#made all NAs 0 here
#ended up also commenting this out because it's repeated in the year_deforest dataset

In [370]:
#violence = pd.read_csv('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/violence_all.csv')
#violence.fillna(0)
#violence = violence[['year', 'murder_threats', 'assassination', 'assassination_attempt', 'munic_id']]
#df = pd.merge(df, violence,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

## Fines

In [371]:
#also in year_deforest

In [372]:
#fines = pd.read_csv('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/fines.csv')
#fines = fines[['munic_id', 'year', 'f_emitted_count']]
#df = pd.merge(df, fines,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

In [373]:
#fines.head()

In [374]:
#dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

## Political Variables

In [375]:
path = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/legal_amazon_muncipalities_panel2001to2019.dta'

legal = pd.read_stata(path)
legal['forestplantaon'] = legal['forestplantaon'].fillna(0)
legal['soybean'] = legal['soybean'].fillna(0)
legal['sugarcane'] = legal['sugarcane'].fillna(0)




legal = legal[['id', 'municipality', 'state', 'region', 'year', 'pmv',
       'forestformation', 'forestplantaon', 'pasture', 'sugarcane', 'soybean',
       'yrmean_maxtemp', 'yrmean_pdsi', 'yrmean_prec', 'firetotal',
         'cowratio',
       'totalfineadj', 'adi', 'gfwlosssqkm', 'incremento',
       'forest_extent_sqkm', 'SFlosssqkm', 'SFincrement', 'sf1to8', 'sf9to16',
       'sf17to24', 'sf25to34']]

In [376]:
dict(sorted((legal.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'id': 0,
 'municipality': 0,
 'state': 0,
 'region': 0,
 'year': 0,
 'pmv': 0,
 'forestformation': 0,
 'forestplantaon': 0,
 'pasture': 0,
 'sugarcane': 0,
 'soybean': 0,
 'yrmean_maxtemp': 0,
 'yrmean_pdsi': 0,
 'yrmean_prec': 0,
 'firetotal': 0,
 'cowratio': 0,
 'totalfineadj': 0,
 'adi': 0,
 'gfwlosssqkm': 0,
 'incremento': 0,
 'forest_extent_sqkm': 0,
 'SFlosssqkm': 0,
 'SFincrement': 0,
 'sf1to8': 0,
 'sf9to16': 0,
 'sf17to24': 0,
 'sf25to34': 0}

In [377]:
#count fines and gdp per capita we already have and pop den

#drop yearpmv, pmv municipios verdes program participation, opt in, self selection so hard to test effect
#aid, tax benefits, in exchange for limiting deforestation and other forest code guidelines
#want more municipalities to register & keep deforestation under code levels, state/fed help & subsidies

#soybean and forest plantation missing values should be 0s DONE

#nonagvaladd data not available for 2001 and 2019, can drop for now since we have workforce in non ag as proxy

In [378]:
legal[legal.sugarcane.isna()].groupby(['id']).size()

Series([], dtype: int64)

In [379]:
legal.shape[0]

14402

In [ ]:
legal.year[0].year

In [381]:
legal['year']= legal['year'].apply(lambda x: x.year)

In [382]:
df = pd.merge(df, legal,  how = 'left', left_on = ['ID','year'], right_on = ['id','year'])

In [383]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'murder_threats': 3,
 'assassination': 3,
 'assassination_attempt': 3,
 'f_emitted_count': 3,
 'expen_agri': 3,
 'expen_env_man': 3,
 'expen_agr_org': 3,
 'expen_mining': 3,
 'expen_petrol': 3,
 'expen_prom_ani_pro': 3,
 'expen_prom_veg_pro': 3,
 'expen_other_agr': 3,
 'expen_agr_defense': 3,
 'expen_min_fuel': 3,
 'illegal_mining': 3,
 'illegal_other': 3,
 'illegal_industry': 3,
 'audits': 3,
 'id': 15,
 'municipality': 15,
 'state': 15,
 'region': 15,
 'pmv': 15,
 'forestformation': 15,
 'forestplantaon': 15,
 'pasture': 15,
 'sugarcane': 15,
 'soybean': 15,
 'yrmean_maxtemp': 15,
 'yrmean_pdsi': 15,
 'yrmean_prec': 15,
 'firetotal': 15,
 'cowratio': 15,
 'totalfineadj': 15,
 'adi': 15,
 'gfwlosssqkm': 15,
 'incremento': 15,
 'forest_extent_sqkm': 15,
 'SFlosssqkm': 15,
 'SFincrement': 15,
 'sf1to8': 15,
 'sf9to16': 15,
 'sf17to24': 15,
 'sf25to34': 15}

In [384]:
df[df.sf25to34.isna()].groupby(['ID']).size()

ID
1504752    1
2103307    1
2109304    1
5104526    5
5104542    7
dtype: int64

In [ ]:
#might be better to use other data than elec here, 

#candidate level dataset, more cands than muns, need to collapse to mun level
#this includes those that didn't win but not margin of victory 

#cand prefeito vote, includes vote counts for all of the candidates
#1996 doesn't have the cpf but we start in 2000
#cand prefeito includes the characteristics of each cand, merge to get votes (on cpf, )

#votes one has fewer cands, id candidato bd

#percentage of votes for prefeito, and margin of victory 

#effects of reelection and term limits, if the mayor appears 

#if person in office in 1996 term limited in 2004
#create one variable for if the person is an encumbant running for reelection, person in 1996 running in 2000 (binary)
#encumbant wins reelection (in next election will be term limited)

#first term or second term binary variables 
#percentage of votes and margin of victory

#resultado 

#keep sigla partido of the winner and coalition 

#keep age gender job of winner

In [ ]:
#create 3rd dataset at the municipality level that I'm going to merge in for Kathryn

In [175]:
path_2 = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/elections_munic.xlsx'


elec = pd.read_excel(path_2)

In [189]:
elec.head()

,municipio_ibge,cd_ibge,cd_tse,uf,ano,el_turno,el_candidato,el_cargo,el_situacao,el_partido,...,el_votos_validos,el_D_B,el_votos_brancos,el_E_B,el_votos_nulos,el_F_B,el_votos_nulos_apurados,el_G_B,id,term
0,Alta Floresta D'Oeste,1100015,310,RO,2004,1,VALDOIR GOMES FERREIRA,PREFEITO,ELEITO,PDT,...,13485.0,0.934641,185.0,0.012822,758.0,0.052537,0.0,0.0,11000152004,2005
1,Ariquemes,1100023,78,RO,2004,1,CONFUCIO AIRES MOURA,PREFEITO,ELEITO,PMDB,...,40434.0,0.945603,466.0,0.010898,1860.0,0.043499,0.0,0.0,11000232004,2005
2,Cabixi,1100031,450,RO,2004,1,JOS… ROZARIO BARROSO,PREFEITO,ELEITO,PDT,...,3664.0,0.926422,57.0,0.014412,234.0,0.059166,0.0,0.0,11000312004,2005
3,Cacoal,1100049,94,RO,2004,1,SUELI ALVES ARAG√O,PREFEITO,ELEITO,PMDB,...,37935.0,0.941572,507.0,0.012584,1847.0,0.045844,0.0,0.0,11000492004,2005
4,Cerejeiras,1100056,272,RO,2004,1,MANOEL FRANCISCO DE ALMEIDA,PREFEITO,ELEITO,PSDB,...,9819.0,0.939617,133.0,0.012727,498.0,0.047656,0.0,0.0,11000562004,2005

In [186]:
dict(sorted((elec.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'municipio_ibge': 0,
 'cd_ibge': 0,
 'cd_tse': 0,
 'uf': 0,
 'ano': 0,
 'el_turno': 0,
 'el_candidato': 0,
 'el_cargo': 0,
 'el_situacao': 0,
 'el_partido': 0,
 'el_votos': 0,
 'id': 0,
 'term': 0,
 'el_votos_p': 31,
 'el_tipo': 31,
 'el_votos_c': 31,
 'el_coligacao': 32,
 'el_aptos': 102,
 'el_comparecimentos': 102,
 'el_B_A': 102,
 'el_abstencoes': 102,
 'el_C_A': 102,
 'el_votos_validos': 102,
 'el_D_B': 102,
 'el_votos_brancos': 102,
 'el_E_B': 102,
 'el_votos_nulos': 102,
 'el_F_B': 102,
 'el_votos_nulos_apurados': 102,
 'el_G_B': 102,
 'el_ocupacao': 2480,
 'el_sexo': 2480,
 'el_instrucao': 2480,
 'el_estado_civil': 2480,
 'el_idade': 2485,
 'el_titulo': 2496,
 'el_eleito': 2523,
 'el_incumb': 2523,
 'el_mand': 2523,
 'el_tent': 2523,
 'el_num_candidato': 7774,
 'el_novo': 7774,
 'el_seq_candidato': 16991,
 'el_coef': 22242,
 'el_coef_c': 22242,
 'el_eleitos_c': 22242,
 'el_eleitos_c_media': 22242}

In [190]:
elec[elec.el_votos_p.isna()].groupby(['ano']).size()

ano
2008    31
dtype: int64

In [187]:
elec[elec.el_votos_p.isna()].groupby(['id']).size()

id
13026032008    1
15014022008    1
16003032008    1
21113002008    1
25040092008    1
29274082008    1
31062002008    1
31186012008    1
31367022008    1
31433022008    1
32052002008    1
33010092008    1
33039062008    1
33045572008    1
35060032008    1
35188002008    1
35294012008    1
35478092008    1
35487082008    1
35498052008    1
35503082008    1
41137002008    2
41199052008    1
42054072008    1
42091022008    1
43046062008    1
43144072008    1
43149022008    1
51034032008    1
52011082008    1
dtype: int64

## Finbra

In [200]:
#codes aren't merging correctly here, there's an issue with municpality ids being different!

In [ ]:
#

In [201]:
#can't find 7 digit code for 1504752 
#{'ibge7_code': , 'ibge6_code': 89, 'tse_code': 93, 'mesoregion': 99, 'microregion': 99, 'UF': }


#1504752 
#2103307    
#2111748

In [202]:
#url = 'https://raw.githubusercontent.com/ekatovich/Municipality_Name_ID_crosswalk/master/Raw_Brazil_GeographicalUnits.csv'
url = '/Users/annieulichney/Desktop/BrazilMunicipalIdentifiers.csv'
codes_df = pd.read_csv(url, header = 0, encoding='latin-1')

In [203]:
#add 6 digit codes to main dataframe
df = df.merge(codes_df[['ibge7_code', 'ibge6_code']], how = 'left', left_on = 'ID', right_on = 'ibge7_code')

In [212]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'audits': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'ibge7_code': 2,
 'ibge6_code': 2,
 'murder_threats': 5,
 'assassination': 5,
 'assassination_attempt': 5,
 'f_emitted_count': 5,
 'expen_agri': 5,
 'expen_env_man': 5,
 'expen_agr_org': 5,
 'expen_mining': 5,
 'expen_petrol': 5,
 'expen_prom_ani_pro': 5,
 'expen_prom_veg_pro': 5,
 'expen_other_agr': 5,
 'expen_agr_defense': 5,
 'expen_min_fuel': 5,
 'illegal_mining': 5,
 'illegal_other': 5,
 'illegal_industry': 5}

In [215]:
#pib.Rdata
finbra_read = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/finbra2001-2015.Rdata')
finbra_df = pd.DataFrame(finbra_read['finbra_2001_2015'])

finbra_df.cd_ibge_6 = finbra_df.cd_ibge_6.astype(int)
finbra_df.y = finbra_df.y.astype(int)

finbra_df.head()
#df = pd.merge(df, finbra_df,  how = 'left', left_on = ['ID','year'], right_on = ['cd_ibge_6','y'])

,cd_ibge_6,y,rev_total,rev_curr,rev_trib,rev_tax,rev_fee,rev_tr_curr,rev_tr_fed,rev_tr_stt,...,exp_ind,exp_heal_san,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2
0,431453,2001,2758335.41,2758335.41,6.555268e+04,4.331561e+04,22237.070000,2547699.62,1512795.74,1034903.88,...,362316.540000,265031.240,22846.1500,0.0,5337.26,0.00,NaN,NaN,.2001,4314532001
1,431453,2002,1973343.31,2136505.56,1.184666e+05,1.013939e+05,16159.060000,1924668.31,668256.74,1230217.45,...,3733.949951,452991.125,0.0000,278591.8,16365.81,40513.07,NaN,NaN,.2002,4314532002
2,421265,2013,9365629.00,9365629.00,1.260199e+05,1.089185e+05,12907.500000,9154815.00,6183653.00,2237162.00,...,16886.099609,988255.000,138301.4375,0.0,0.00,0.00,1492860.125,NaN,.2013,4212652013
3,500627,2013,20841374.00,20725176.00,2.806561e+06,2.773809e+06,32752.500000,17692492.00,6929948.50,10463405.00,...,0.000000,3325298.500,613889.8750,48373.0,0.00,0.00,4512029.000,NaN,.2013,5006272013
4,150475,2013,25632392.00,25632392.00,9.417746e+05,9.291695e+05,12605.080078,24414776.00,10333942.00,2591715.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.2013,1504752013

In [218]:
dict(sorted((finbra_df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'cd_ibge_6': 0,
 'y': 0,
 'id': 0,
 'id2': 0,
 'codigo': 15,
 'rev_total': 16,
 'rev_curr': 16,
 'rev_trib': 16,
 'rev_tax': 16,
 'rev_fee': 16,
 'rev_tr_curr': 16,
 'rev_tr_fed': 16,
 'rev_tr_stt': 17,
 'rev_cap': 17,
 'exp_total': 241,
 'exp_leg': 241,
 'exp_jud': 241,
 'exp_agr': 241,
 'exp_ed_cult': 241,
 'exp_hab': 241,
 'exp_ind': 241,
 'exp_heal_san': 241,
 'exp_assist': 241,
 'exp_transp': 241,
 'exp_secur': 241,
 'exp_energy': 241,
 'rev_tr_mun': 5469,
 'rev_tr_mult': 5469,
 'rev_agr': 5469,
 'rev_curr_oth': 15508,
 'exp_admin': 16490,
 'exp_cap': 63393,
 'rev_tr_curr_oth': 64151,
 'rev_tr_oth': 74190}

In [216]:
finbra_df

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,expen_min_fuel,illegal_mining,illegal_other,illegal_industry,audits,emiss_pec_full,emiss_agr_full,emiss_agropec_full,ibge7_code,ibge6_code
0,1303205,0.0,8458450,-62.525,-2.675,2007,97.0,97.0,33.92076,60.0,...,0.0,0.0,0.0,0.000000,0.0,2459.822903,185.570590,6.784400e+04,1303205.0,130320.0
1,1500602,-14.0,9207358,-52.125,-5.025,2006,97.0,86.0,30.37709,245.0,...,0.0,0.0,0.0,0.000000,0.0,701271.987288,5599.908313,2.176242e+07,1500602.0,150060.0
2,1505809,23.0,9229007,-51.825,-2.625,2016,57.0,73.5,36.30330,69.0,...,0.0,0.0,0.0,0.000000,0.0,37790.168646,8000.091185,4.579026e+04,1505809.0,150580.0
3,1505304,0.0,8775377,-58.125,0.625,2003,97.0,85.0,30.42850,194.0,...,0.0,0.0,0.0,4648.736041,0.0,203120.067529,3833.255441,3.113700e+06,1505304.0,150530.0
4,1300060,0.0,8030001,-68.475,-3.725,2009,87.0,85.5,35.60793,118.0,...,0.0,0.0,0.0,0.000000,0.0,3217.114687,211.541794,5.345200e+04,1300060.0,130006.0

In [217]:
pd.merge(df, finbra_df,  how = 'left', left_on = ['ID','year'], right_on = ['cd_ibge_6','y'])

,ID,forest.diff,FID,x,y_x,year,forest.l,nn_forest.l,rain1,elevation,...,exp_ind,exp_heal_san,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2
0,1303205,0.0,8458450,-62.525,-2.675,2007,97.0,97.00,33.92076,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1500602,-14.0,9207358,-52.125,-5.025,2006,97.0,86.00,30.37709,245.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1505809,23.0,9229007,-51.825,-2.625,2016,57.0,73.50,36.30330,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1505304,0.0,8775377,-58.125,0.625,2003,97.0,85.00,30.42850,194.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1300060,0.0,8030001,-68.475,-3.725,2009,87.0,85.50,35.60793,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10108,1101492,-19.0,8386259,-63.525,-12.025,2003,65.0,71.75,21.96903,176.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10109,1300201,-10.0,7716613,-72.825,-5.425,2008,97.0,85.75,26.75168,158.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10110,1200302,-3.0,7824562,-71.325,-9.375,2009,89.0,90.00,30.70481,303.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10111,1502764,-18.0,9318899,-50.575,-8.075,2014,57.0,47.50,32.85638,347.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10112,1300201,4.0,7727381,-72.675,-7.025,2016,93.0,88.50,28.74181,211.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [266]:
dir_read = pyreadr.read_r('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/diretorio.Rdata')
dir_df = dir_read['df.diretorio']

In [267]:
dir_df.head()

,id_municipio,id_municipio_6,id_municipio_tse,id_municipio_rf,id_municipio_bcb,municipio,capital_uf,id_comarca,id_regiao_saude,regiao_saude,...,microrregiao,id_mesorregiao,mesorregiao,id_uf,sigla_uf,uf,regiao,existia_1991,existia_2000,existia_2010
0,1100023,110002,78,7,9393,Ariquemes,0,1100023,11001,Vale do Jamari,...,Ariquemes,1102,Leste Rondoniense,11,RO,Rondônia,Norte,1,1,1
1,1100106,110010,19,1,22882,Guajará-Mirim,0,1100106,11004,Madeira-Mamoré,...,Guajará-Mirim,1101,Madeira-Guaporé,11,RO,Rondônia,Norte,1,1,1
2,1100114,110011,159,15,41258,Jaru,0,1100114,11003,Central,...,Ji-Paraná,1102,Leste Rondoniense,11,RO,Rondônia,Norte,1,1,1
3,1100130,110013,396,39,44547,Machadinho D'Oeste,0,1100122,11001,Vale do Jamari,...,Ariquemes,1102,Leste Rondoniense,11,RO,Rondônia,Norte,1,1,1
4,1100205,110020,35,3,30719,Porto Velho,1,1100205,11004,Madeira-Mamoré,...,Porto Velho,1101,Madeira-Guaporé,11,RO,Rondônia,Norte,1,1,1

In [268]:
finbra_merged = pd.merge(finbra_df, dir_df[['id_municipio', 'id_municipio_6']],  how = 'left', left_on = ['cd_ibge_6'], right_on = ['id_municipio_6'])
finbra_merged.head()

,cd_ibge_6,y,rev_total,rev_curr,rev_trib,rev_tax,rev_fee,rev_tr_curr,rev_tr_fed,rev_tr_stt,...,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2,id_municipio,id_municipio_6
0,431453,2001,2758335.41,2758335.41,6.555268e+04,4.331561e+04,22237.070000,2547699.62,1512795.74,1034903.88,...,22846.1500,0.0,5337.26,0.00,NaN,NaN,.2001,4314532001,NaN,NaN
1,431453,2002,1973343.31,2136505.56,1.184666e+05,1.013939e+05,16159.060000,1924668.31,668256.74,1230217.45,...,0.0000,278591.8,16365.81,40513.07,NaN,NaN,.2002,4314532002,NaN,NaN
2,421265,2013,9365629.00,9365629.00,1.260199e+05,1.089185e+05,12907.500000,9154815.00,6183653.00,2237162.00,...,138301.4375,0.0,0.00,0.00,1492860.125,NaN,.2013,4212652013,4212650.0,421265.0
3,500627,2013,20841374.00,20725176.00,2.806561e+06,2.773809e+06,32752.500000,17692492.00,6929948.50,10463405.00,...,613889.8750,48373.0,0.00,0.00,4512029.000,NaN,.2013,5006272013,5006275.0,500627.0
4,150475,2013,25632392.00,25632392.00,9.417746e+05,9.291695e+05,12605.080078,24414776.00,10333942.00,2591715.00,...,NaN,NaN,NaN,NaN,NaN,NaN,.2013,1504752013,1504752.0,150475.0

In [269]:
df_test = pd.merge(df, finbra_merged,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','y'])
df_test.head()

,ID,forest.diff,FID,x,y_x,year,forest.l,nn_forest.l,rain1,elevation,...,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2,id_municipio,id_municipio_6
0,5107875,2.0,8742672,-58.575,-13.575,2002,6.0,12.00,21.65034,567.0,...,6.208226e+04,668505.70,20029.0,76877.42,NaN,5107875.0,51078752002,5107872002,5107875.0,510787.0
1,5102504,8.0,8782223,-58.025,-17.225,2005,20.0,26.75,14.50631,100.0,...,2.398593e+06,810917.48,0.0,0.00,10956848.24,5102504.0,51025042005,5102502005,5102504.0,510250.0
2,1503606,0.0,8915685,-56.175,-5.675,2011,97.0,97.00,36.99985,188.0,...,6.027266e+06,1192557.58,0.0,632884.25,10160661.19,1503606.0,15036062011,1503602011,1503606.0,150360.0
3,2104081,-4.0,9696933,-45.325,-6.375,2014,19.0,13.75,14.08383,339.0,...,4.200002e+05,3488240.00,0.0,0.00,2367759.25,2104081.0,21040812014,2104082014,2104081.0,210408.0
4,2111805,4.0,9599741,-46.675,-5.975,2006,21.0,24.50,19.17032,307.0,...,3.829417e+05,787684.96,0.0,87984.56,2519134.64,2111805.0,21118052006,2111802006,2111805.0,211180.0

In [270]:
dict(sorted((df_test.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y_x': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'audits': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'munic_id': 532,
 'murder_threats': 532,
 'assassination': 532,
 'assassination_attempt': 532,
 'f_emitted_count': 532,
 'expen_agri': 532,
 'expen_env_man': 532,
 'expen_agr_org': 532,
 'expen_mining': 532,
 'expen_petrol': 532,
 'expen_prom_ani_pro': 532,
 'expen_prom_veg_pro': 532,
 'expen_other_agr': 532,
 'expen_agr_defense': 532,
 'expen_min_fuel': 532,
 'illegal_mining': 532,
 'illegal_other': 532,
 'illegal_industry': 532,
 'cd_ibge_6': 169140,
 'y_y': 169140,
 'id': 169140,
 'id2': 169140,
 'id_municipio': 169140,
 'id_municipio_6': 169140,
 'codigo': 169349,
 'rev_total': 169794,
 'rev_curr': 169794,
 'rev_trib': 169794,
 'rev_tax': 169794,
 'rev_fee': 169794,
 'rev_tr_curr': 169794,
 'rev_tr_fed': 169794,
 'rev_tr_stt': 169794,
 'rev_tr_mun': 169794,
 'rev_tr_mult': 169794,
 'rev_agr': 169794,
 'rev_cap': 169794,
 'exp_total': 171156,
 'exp_leg': 171156,
 'exp_jud': 171156,
 'exp_agr': 171156,
 'exp_ed_cult': 171156,
 'exp_hab': 171156,
 'exp_ind': 171156,
 'exp_heal_san': 171156,
 'exp_assist': 171156,
 'exp_transp': 171156,
 'exp_secur': 171156,
 'exp_energy': 171156,
 'exp_admin': 299855,
 'rev_curr_oth': 341163,
 'rev_tr_curr_oth': 840484,
 'exp_cap': 883154,
 'rev_tr_oth': 1011853}

In [271]:
df_test[df_test.exp_energy.isna()].groupby(['ID']).size()

ID
1100015    100
1100023    131
1100031     18
1100049     45
1100056     43
          ...
5108808     33
5108857     43
5108907    305
5108956    234
5204904      1
Length: 767, dtype: int64

In [272]:
#df = pd.merge(df, finbra_df,  how = 'left', left_on = ['ID','year'], right_on = ['cd_ibge_6','y'])

In [273]:
dir_df[['id_municipio', 'id_municipio_6']]

      id_municipio  id_municipio_6
0          1100023          110002
1          1100106          110010
2          1100114          110011
3          1100130          110013
4          1100205          110020
...            ...             ...
5565       2311801          231180
5566       2312502          231250
5567       2312700          231270
5568       2313005          231300
5569       2313104          231310

[5570 rows x 2 columns]

In [274]:
finbra_df.head()

,cd_ibge_6,y,rev_total,rev_curr,rev_trib,rev_tax,rev_fee,rev_tr_curr,rev_tr_fed,rev_tr_stt,...,exp_ind,exp_heal_san,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2
0,431453,2001,2758335.41,2758335.41,6.555268e+04,4.331561e+04,22237.070000,2547699.62,1512795.74,1034903.88,...,362316.540000,265031.240,22846.1500,0.0,5337.26,0.00,NaN,NaN,.2001,4314532001
1,431453,2002,1973343.31,2136505.56,1.184666e+05,1.013939e+05,16159.060000,1924668.31,668256.74,1230217.45,...,3733.949951,452991.125,0.0000,278591.8,16365.81,40513.07,NaN,NaN,.2002,4314532002
2,421265,2013,9365629.00,9365629.00,1.260199e+05,1.089185e+05,12907.500000,9154815.00,6183653.00,2237162.00,...,16886.099609,988255.000,138301.4375,0.0,0.00,0.00,1492860.125,NaN,.2013,4212652013
3,500627,2013,20841374.00,20725176.00,2.806561e+06,2.773809e+06,32752.500000,17692492.00,6929948.50,10463405.00,...,0.000000,3325298.500,613889.8750,48373.0,0.00,0.00,4512029.000,NaN,.2013,5006272013
4,150475,2013,25632392.00,25632392.00,9.417746e+05,9.291695e+05,12605.080078,24414776.00,10333942.00,2591715.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.2013,1504752013

In [275]:
df.head()

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,expen_other_agr,expen_agr_defense,expen_min_fuel,illegal_mining,illegal_other,illegal_industry,audits,emiss_pec_full,emiss_agr_full,emiss_agropec_full
0,5107875,2.0,8742672,-58.575,-13.575,2002,6.0,12.00,21.65034,567.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,7.954469e+04,255205.316782,2354614.00
1,5102504,8.0,8782223,-58.025,-17.225,2005,20.0,26.75,14.50631,100.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,2.019085e+06,6601.067956,5112750.12
2,1503606,0.0,8915685,-56.175,-5.675,2011,97.0,97.00,36.99985,188.0,...,0.0,0.0,0.0,14857.099798,0.0,37.680209,1.0,6.375880e+05,13068.949745,4260268.00
3,2104081,-4.0,9696933,-45.325,-6.375,2014,19.0,13.75,14.08383,339.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,3.759173e+04,1363.441263,301568.00
4,2111805,4.0,9599741,-46.675,-5.975,2006,21.0,24.50,19.17032,307.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,1.303679e+05,1407.663215,481164.00

In [276]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'audits': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'munic_id': 532,
 'murder_threats': 532,
 'assassination': 532,
 'assassination_attempt': 532,
 'f_emitted_count': 532,
 'expen_agri': 532,
 'expen_env_man': 532,
 'expen_agr_org': 532,
 'expen_mining': 532,
 'expen_petrol': 532,
 'expen_prom_ani_pro': 532,
 'expen_prom_veg_pro': 532,
 'expen_other_agr': 532,
 'expen_agr_defense': 532,
 'expen_min_fuel': 532,
 'illegal_mining': 532,
 'illegal_other': 532,
 'illegal_industry': 532}

## Drop NAs (for Now)

In [277]:
#todo: clean duplicate columns

In [278]:
df.shape

(1011853, 168)

In [279]:
df.head()

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,expen_other_agr,expen_agr_defense,expen_min_fuel,illegal_mining,illegal_other,illegal_industry,audits,emiss_pec_full,emiss_agr_full,emiss_agropec_full
0,5107875,2.0,8742672,-58.575,-13.575,2002,6.0,12.00,21.65034,567.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,7.954469e+04,255205.316782,2354614.00
1,5102504,8.0,8782223,-58.025,-17.225,2005,20.0,26.75,14.50631,100.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,2.019085e+06,6601.067956,5112750.12
2,1503606,0.0,8915685,-56.175,-5.675,2011,97.0,97.00,36.99985,188.0,...,0.0,0.0,0.0,14857.099798,0.0,37.680209,1.0,6.375880e+05,13068.949745,4260268.00
3,2104081,-4.0,9696933,-45.325,-6.375,2014,19.0,13.75,14.08383,339.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,3.759173e+04,1363.441263,301568.00
4,2111805,4.0,9599741,-46.675,-5.975,2006,21.0,24.50,19.17032,307.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,1.303679e+05,1407.663215,481164.00

In [280]:
df = df.dropna()

In [281]:
df.shape

(1011321, 168)

In [282]:
df_2016 = df[df.year == 2016]

In [283]:
df_2016

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,expen_other_agr,expen_agr_defense,expen_min_fuel,illegal_mining,illegal_other,illegal_industry,audits,emiss_pec_full,emiss_agr_full,emiss_agropec_full
14,1400209,-14.0,8483695,-62.175,-0.825,2016,97.0,95.00,37.68456,57.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,7.636415e+04,497.299835,7.686145e+04
31,1500602,0.0,9120900,-53.325,-7.825,2016,97.0,89.25,27.49327,263.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,1.236045e+06,7691.796031,1.243737e+06
61,1502707,7.0,9405296,-49.375,-8.225,2016,44.0,36.50,20.84242,328.0,...,0.0,0.0,0.0,59.388681,0.0,0.000000,0.0,5.609564e+05,5955.426047,5.669118e+05
103,2106102,7.0,9689708,-45.425,-7.625,2016,18.0,24.00,13.72303,429.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,4.864789e+04,13451.852302,6.209974e+04
117,1707306,-4.0,9390832,-49.575,-11.425,2016,27.0,30.75,20.98895,193.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,2.932008e+05,66046.151292,3.592469e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011807,1716208,-3.0,9538407,-47.525,-12.675,2016,28.0,24.50,16.02681,347.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,2.616064e+05,837.626922,2.624440e+05
1011814,1505031,-5.0,8922818,-56.075,-9.025,2016,92.0,74.50,31.50287,203.0,...,0.0,0.0,0.0,121.775275,0.0,0.000000,0.0,1.075639e+06,23960.078478,1.099599e+06
1011841,1100338,-13.0,8260295,-65.275,-9.975,2016,65.0,65.75,24.62126,144.0,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,1.197392e+06,1319.702434,1.198712e+06
1011845,5107040,-1.0,9048736,-54.325,-15.225,2016,30.0,23.25,25.14077,670.0,...,0.0,0.0,0.0,1.558370,0.0,6.752923,0.0,1.069208e+05,230980.130953,3.379009e+05
1011852,5108808,-3.0,8966008,-55.475,-10.175,2016,36.0,40.50,30.07215,282.0,...,0.0,0.0,0.0,1556.137509,0.0,0.000000,1.0,2.908982e+05,5969.696667,2.968679e+05

In [284]:
path = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/full_data_2016.csv'
df_2016.to_csv(path, index=False)

In [285]:
#df.to_csv('full_data.csv', index=False)