In [81]:
import pandas as pd
import numpy as np
import pyreadr

# Data Processing Method:

- read in from analysis.rdata
- calculate PIB from pic per capita and population
- merge labor and social security rais data
- sort jobs and companies by service or industry (Check this with Kathryn, should we get rid of individual ones and also the ones in analysis.Rdata?, I have it by percentage to reduce overlap w population. is this ok?) **
- read in year_deforest data. there are some missing values that result in NAs ** Keep all of them 

- fill in 2016 emission data
- pull in Finbra data ** (change from 6 to 7 digit code, spend more time on this first then ask Kathryn abt NAs)

- legal amazon vs. all of brazil municipalities?
- include election data (incumbent won reelection variables etc., whether mayor has ties to agro)
- indicators and feature importance (https://stats.stackexchange.com/questions/314567/feature-importance-with-dummy-variables)
- grouped variable importance
- see what happens when we drop all but socio/politico variables

# Get Data

## Main Data

In [82]:
main = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/analysis.Rdata') #read R dataframe into Python
df1 = pd.DataFrame(main['forest_full'])
df = df1.sample(10000) #trim because this frame is quite large, test that all runs before doing entire dataset!
#df = df1.sample(100000) #trim because this frame is quite large, test that all runs before doing entire dataset!


#df = df1

In [83]:
df.shape

(10000, 35)

In [84]:
df.head()

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,ironore,silver,copper,gold,soy_price,beef_price,ag_jobs,mining_jobs,public_jobs,construction_jobs
190911,1301209,-18.0,8418817,-63.075,-4.325,2003,89.0,84.0,25.07463,23.0,...,31.950001,1.568969e+05,1779.140015,11687210.0,233.187498,89.735417,0.901461,15.853279,40.534660,11.687908
314041,5106505,-2.0,8839853,-57.225,-16.925,2003,77.0,59.0,15.30963,114.0,...,31.950001,1.568969e+05,1779.140015,11687210.0,233.187498,89.735417,30.774278,5.380577,29.133858,0.590551
880514,1500206,8.0,9452215,-48.725,-2.275,2007,86.0,91.0,40.02547,24.0,...,122.989998,4.305019e+05,7118.229980,22400244.0,317.319731,118.038333,19.571640,1.477105,70.014771,0.000000
492246,1101476,9.0,8551885,-61.225,-11.775,2005,42.0,38.0,26.15856,226.0,...,65.000000,2.350238e+05,3678.879883,14302051.0,223.150343,118.729167,9.215017,0.000000,72.354949,0.000000
1730112,1508050,-24.0,8930107,-55.975,-4.575,2012,97.0,89.5,29.74225,92.0,...,128.500000,1.001182e+06,7962.350098,53676740.0,537.761837,187.942903,17.384615,0.000000,70.461538,0.615385

In [85]:
df.columns

Index(['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l', 'nn_forest.l',
       'rain1', 'elevation', 'slope', 'aspect', 'near_mines', 'near_roads',
       'near_hidrovia', 'indigenous_homol', 'mun_election_year',
       'new_forest_code', 'lula', 'dilma', 'temer', 'bolsonaro',
       'fed_election_year', 'populacao', 'pib_pc', 'ironore', 'silver',
       'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs', 'mining_jobs',
       'public_jobs', 'construction_jobs'],
      dtype='object')

## PIB Data (Economic)

In [86]:
#using givens already instead of filling in

In [87]:
df['PIB'] = df['pib_pc'] * df['populacao']

In [88]:
#pib.Rdata

#pib_read = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/pib.Rdata')
#pib_df = pd.DataFrame(pib_read ['df.pib_pc'])
#pib_df.head()
#df = pd.merge(df, pib_df,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','ano'])

In [89]:
# df = df[['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l', 'nn_forest.l',
#        'rain1', 'elevation', 'slope', 'aspect', 'near_mines', 'near_roads',
#        'near_hidrovia', 'indigenous_homol', 'mun_election_year',
#        'new_forest_code', 'lula', 'dilma', 'temer', 'bolsonaro',
#        'fed_election_year', 'populacao_x', 'pib_pc_x', 'ironore', 'silver',
#        'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs', 'mining_jobs',
#        'public_jobs', 'construction_jobs', 'PIB']]

In [90]:
# df.columns = ['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l', 'nn_forest.l',
#        'rain1', 'elevation', 'slope', 'aspect', 'near_mines', 'near_roads',
#        'near_hidrovia', 'indigenous_homol', 'mun_election_year',
#        'new_forest_code', 'lula', 'dilma', 'temer', 'bolsonaro',
#        'fed_election_year', 'populacao', 'pib_pc', 'ironore', 'silver',
#        'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs', 'mining_jobs',
#        'public_jobs', 'construction_jobs', 'PIB']

In [91]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0}

## RAIS Setor (Labor and Social Security)

In [92]:
#what is the last one in each category n_empresas no label?

In [93]:
#rais_setor_munic.Rdata

rais_read = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/rais_setor_munic.Rdata')
rais_df = pd.DataFrame(rais_read['rais3'])
rais_df.head()

,id_municipio,ano,n_empresas_ADMIN PUBLICA,n_empresas_AGRICULTURA,n_empresas_ALIMENTOS E BEBIDAS,n_empresas_ALOJAMENTO E ALIMENTACAO,n_empresas_ALUGUEL EQUIPAMENTO,n_empresas_ATACADO,n_empresas_ATIVIDADES ASSOCIATIVAS,n_empresas_AUTOMOVEIS E TRANSPORTE,...,n_empregos_IMOBILIARIA,n_empregos_RECICLAGEM,n_empregos_COUROS E CALCADO,n_empregos_BORRACHA E PLASTICO,n_empregos_TEXTEIS,n_empregos_PESQUISA E DESENVOLVIMENTO,n_empregos_TRANSPORTE AEREO,n_empregos_FUMO,n_empregos_REFINO PETROLEO,n_empregos_
0,1100015,2000,2,27,15,13,1,38,126,5,...,0,0,0,0,0,0,0,0,0,0
1,1100015,2001,3,32,17,10,1,40,118,4,...,0,0,0,0,0,0,0,0,0,0
2,1100015,2002,3,45,23,13,0,39,127,4,...,0,0,0,0,0,0,0,0,0,0
3,1100015,2003,2,65,23,13,0,33,109,4,...,0,0,0,0,0,0,0,0,0,0
4,1100015,2004,2,83,44,10,1,29,110,3,...,0,0,0,0,0,0,0,0,0,0

In [94]:
#english names of columns 
rais_df.columns = ['id_municipio', 'ano', 
                   
       'n_companies_PUBLIC ADMIN',
       'n_companies_AGRICULTURE', 'n_companies_FOOD AND DRINKS',
       'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT', 'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD', 'n_companies_NON-METALLIC MINERAL PRODUCTS',
       'n_companies_HEALTH', 'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION', 'n_companies_RETAIL',
       'n_companies_COMPUTING', 'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER',
       'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER-BASED TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR', 'n_companies_RUBBER AND PLASTIC',
       'n_companies_TEXTILES', 'n_companies_RESEARCH AND DEVELOPMENT',
       'n_companies_AERO TRANSPORT', 'n_companies_SMOKE',
       'n_companies_PETROLEUM REFINING', 'n_companies_',
                   
       'n_jobs_PUBLIC ADMIN',
       'n_jobs_AGRICULTURE', 'n_jobs_FOOD AND DRINKS',
       'n_jobs_ACCOMODATION AND FOOD',
       'n_jobs_EQUIPMENT RENTAL', 'n_jobs_WHOLESALE',
       'n_jobs_ASSOCIATIVE ACTIVITIES',
       'n_jobs_AUTOMOBILES AND TRANSPORT', 'n_jobs_FINANCIAL ASSISTANCE',
       'n_jobs_TRADE REP VEHICLES', 'n_jobs_CONSTRUCTION',
       'n_jobs_MAIL AND TELECOM', 'n_jobs_CULTURE AND SPORT',
       'n_jobs_EDITING AND PRINTING', 'n_jobs_EDUCATION',
       'n_jobs_ELECTRICITY AND GAS', 'n_jobs_FINANCES',
       'n_jobs_CLEANING AND SEWAGE', 'n_jobs_MACHINERY',
       'n_jobs_BASIC METALLURGY', 'n_jobs_MINING',
       'n_jobs_WOOD PROD', 'n_jobs_NON-METALLIC MINERAL PRODUCTS',
       'n_jobs_HEALTH', 'n_jobs_SERVICES FOR COMPANIES',
       'n_jobs_PERSONAL SERVICES', 'n_jobs_TRANSPORTATION',
       'n_jobs_GROUND TRANSPORT',
       'n_jobs_WATER TREATMENT AND DISTRIBUTION', 'n_jobs_RETAIL',
       'n_jobs_COMPUTING', 'n_jobs_INSURANCE AND SOCIAL SECURITY',
       'n_jobs_METALLIC PRODUCTS', 'n_jobs_DOMESTIC SERVICES',
       'n_jobs_FORESTRY', 'n_jobs_CLOTHING',
       'n_jobs_PAPER',
       'n_jobs_INTERNATIONAL BODIES',
       'n_jobs_OIL AND GAS', 'n_jobs_FISHING AND AQUACULTURE',
       'n_jobs_CHEMICALS', 'n_jobs_WATER-BASED TRANSPORTATION',
       'n_jobs_REAL ESTATE', 'n_jobs_RECYCLING',
       'n_jobs_LEATHERS AND FOOTWEAR', 'n_jobs_RUBBER AND PLASTIC',
       'n_jobs_TEXTILES', 'n_jobs_RESEARCH AND DEVELOPMENT',
       'n_jobs_AERO TRANSPORT', 'n_jobs_SMOKE',
       'n_jobs_PETROLEUM REFINING', 'n_jobs_']

In [95]:
#sort the 51 categories of companies into industrial and service oriented

industrial_companies = ['n_companies_AGRICULTURE',
                    'n_companies_AUTOMOBILES AND TRANSPORT',
                    'n_companies_TRADE REP VEHICLES', 
                    'n_companies_WOOD PROD', 
                    'n_companies_NON-METALLIC MINERAL PRODUCTS',
                    'n_companies_BASIC METALLURGY', 
                    'n_companies_MINING',
                    'n_companies_TRANSPORTATION',
                    'n_companies_GROUND TRANSPORT',
                    'n_companies_WATER-BASED TRANSPORTATION',
                    'n_companies_AERO TRANSPORT',
                    'n_companies_CONSTRUCTION',
                    'n_companies_OIL AND GAS',
                    'n_companies_MACHINERY',
                    'n_companies_FORESTRY', 
                    'n_companies_ELECTRICITY AND GAS',
                    'n_companies_FISHING AND AQUACULTURE',
                    'n_companies_CHEMICALS', 
                    'n_companies_METALLIC PRODUCTS', 
                    'n_companies_PAPER',
                    'n_companies_WATER TREATMENT AND DISTRIBUTION', 
                    'n_companies_CLEANING AND SEWAGE', 
                    'n_companies_RECYCLING',
                    'n_companies_RUBBER AND PLASTIC', 
                    'n_companies_SMOKE',
                    'n_companies_PETROLEUM REFINING']

service_companies = ['n_companies_PUBLIC ADMIN',
                    'n_companies_FOOD AND DRINKS',
                    'n_companies_ACCOMODATION AND FOOD',
                    'n_companies_EQUIPMENT RENTAL', 
                    'n_companies_WHOLESALE',
                    'n_companies_LEATHERS AND FOOTWEAR',
                    'n_companies_TEXTILES',
                    'n_companies_ASSOCIATIVE ACTIVITIES',
                    'n_companies_FINANCIAL ASSISTANCE',
                    'n_companies_HEALTH', 
                    'n_companies_SERVICES FOR COMPANIES',
                    'n_companies_PERSONAL SERVICES', 
                    'n_companies_MAIL AND TELECOM', 
                    'n_companies_EDITING AND PRINTING', 
                    'n_companies_EDUCATION',
                    'n_companies_DOMESTIC SERVICES',
                    'n_companies_INSURANCE AND SOCIAL SECURITY',
                    'n_companies_RETAIL',
                    'n_companies_FINANCES',
                    'n_companies_CULTURE AND SPORT',
                    'n_companies_REAL ESTATE',
                    'n_companies_RESEARCH AND DEVELOPMENT',
                    'n_companies_COMPUTING',
                    'n_companies_CLOTHING', 
                    'n_companies_INTERNATIONAL BODIES',]

In [96]:
#sort the 51 categories of jobs into industrial and service oriented

industrial_jobs = ['n_jobs_AGRICULTURE',
                    'n_jobs_AUTOMOBILES AND TRANSPORT',
                    'n_jobs_TRADE REP VEHICLES', 
                    'n_jobs_WOOD PROD', 
                    'n_jobs_NON-METALLIC MINERAL PRODUCTS',
                    'n_jobs_BASIC METALLURGY', 
                    'n_jobs_MINING',
                    'n_jobs_TRANSPORTATION',
                    'n_jobs_GROUND TRANSPORT',
                    'n_jobs_WATER-BASED TRANSPORTATION',
                    'n_jobs_AERO TRANSPORT',
                    'n_jobs_CONSTRUCTION',
                    'n_jobs_OIL AND GAS',
                    'n_jobs_MACHINERY',
                    'n_jobs_FORESTRY', 
                    'n_jobs_ELECTRICITY AND GAS',
                    'n_jobs_FISHING AND AQUACULTURE',
                    'n_jobs_CHEMICALS', 
                    'n_jobs_METALLIC PRODUCTS', 
                    'n_jobs_PAPER',
                    'n_jobs_WATER TREATMENT AND DISTRIBUTION', 
                    'n_jobs_CLEANING AND SEWAGE', 
                    'n_jobs_RECYCLING',
                    'n_jobs_RUBBER AND PLASTIC', 
                    'n_jobs_SMOKE',
                    'n_jobs_PETROLEUM REFINING'   ]

service_jobs = ['n_jobs_PUBLIC ADMIN',
                    'n_jobs_FOOD AND DRINKS',
                    'n_jobs_ACCOMODATION AND FOOD',
                    'n_jobs_EQUIPMENT RENTAL', 
                    'n_jobs_WHOLESALE',
                    'n_jobs_LEATHERS AND FOOTWEAR',
                    'n_jobs_TEXTILES',
                    'n_jobs_ASSOCIATIVE ACTIVITIES',
                    'n_jobs_FINANCIAL ASSISTANCE',
                    'n_jobs_HEALTH', 
                    'n_jobs_SERVICES FOR COMPANIES',
                    'n_jobs_PERSONAL SERVICES', 
                    'n_jobs_MAIL AND TELECOM', 
                    'n_jobs_EDITING AND PRINTING', 
                    'n_jobs_EDUCATION',
                    'n_jobs_DOMESTIC SERVICES',
                    'n_jobs_INSURANCE AND SOCIAL SECURITY',
                    'n_jobs_RETAIL',
                    'n_jobs_FINANCES',
                    'n_jobs_CULTURE AND SPORT',
                    'n_jobs_REAL ESTATE',
                    'n_jobs_RESEARCH AND DEVELOPMENT',
                    'n_jobs_COMPUTING',
                    'n_jobs_CLOTHING', 
                    'n_jobs_INTERNATIONAL BODIES',]

In [97]:
#group 
rais_df['n_jobs_TOTAL INDUSTRIAL'] = rais_df[industrial_jobs].sum(axis=1)
rais_df['n_jobs_TOTAL SERVICE'] = rais_df[service_jobs].sum(axis=1)

rais_df['n_companies_TOTAL INDUSTRIAL'] = rais_df[industrial_companies].sum(axis=1)
rais_df['n_companies_TOTAL SERVICE'] = rais_df[service_companies].sum(axis=1)

In [98]:
companies_columns_list = ['n_companies_PUBLIC ADMIN',
       'n_companies_AGRICULTURE', 'n_companies_FOOD AND DRINKS',
       'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT', 'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD', 'n_companies_NON-METALLIC MINERAL PRODUCTS',
       'n_companies_HEALTH', 'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION', 'n_companies_RETAIL',
       'n_companies_COMPUTING', 'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER',
       'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER-BASED TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR', 'n_companies_RUBBER AND PLASTIC',
       'n_companies_TEXTILES', 'n_companies_RESEARCH AND DEVELOPMENT',
       'n_companies_AERO TRANSPORT', 'n_companies_SMOKE',
       'n_companies_PETROLEUM REFINING', 'n_companies_']

rais_df['n_companies_TOTAL'] = rais_df[companies_columns_list].sum(axis=1)

In [99]:
jobs_columns_list = ['n_jobs_PUBLIC ADMIN',
       'n_jobs_AGRICULTURE', 'n_jobs_FOOD AND DRINKS',
       'n_jobs_ACCOMODATION AND FOOD',
       'n_jobs_EQUIPMENT RENTAL', 'n_jobs_WHOLESALE',
       'n_jobs_ASSOCIATIVE ACTIVITIES',
       'n_jobs_AUTOMOBILES AND TRANSPORT', 'n_jobs_FINANCIAL ASSISTANCE',
       'n_jobs_TRADE REP VEHICLES', 'n_jobs_CONSTRUCTION',
       'n_jobs_MAIL AND TELECOM', 'n_jobs_CULTURE AND SPORT',
       'n_jobs_EDITING AND PRINTING', 'n_jobs_EDUCATION',
       'n_jobs_ELECTRICITY AND GAS', 'n_jobs_FINANCES',
       'n_jobs_CLEANING AND SEWAGE', 'n_jobs_MACHINERY',
       'n_jobs_BASIC METALLURGY', 'n_jobs_MINING',
       'n_jobs_WOOD PROD', 'n_jobs_NON-METALLIC MINERAL PRODUCTS',
       'n_jobs_HEALTH', 'n_jobs_SERVICES FOR COMPANIES',
       'n_jobs_PERSONAL SERVICES', 'n_jobs_TRANSPORTATION',
       'n_jobs_GROUND TRANSPORT',
       'n_jobs_WATER TREATMENT AND DISTRIBUTION', 'n_jobs_RETAIL',
       'n_jobs_COMPUTING', 'n_jobs_INSURANCE AND SOCIAL SECURITY',
       'n_jobs_METALLIC PRODUCTS', 'n_jobs_DOMESTIC SERVICES',
       'n_jobs_FORESTRY', 'n_jobs_CLOTHING',
       'n_jobs_PAPER',
       'n_jobs_INTERNATIONAL BODIES',
       'n_jobs_OIL AND GAS', 'n_jobs_FISHING AND AQUACULTURE',
       'n_jobs_CHEMICALS', 'n_jobs_WATER-BASED TRANSPORTATION',
       'n_jobs_REAL ESTATE', 'n_jobs_RECYCLING',
       'n_jobs_LEATHERS AND FOOTWEAR', 'n_jobs_RUBBER AND PLASTIC',
       'n_jobs_TEXTILES', 'n_jobs_RESEARCH AND DEVELOPMENT',
       'n_jobs_AERO TRANSPORT', 'n_jobs_SMOKE',
       'n_jobs_PETROLEUM REFINING', 'n_jobs_']

rais_df['n_jobs_TOTAL'] = rais_df[jobs_columns_list].sum(axis=1)

In [100]:
#change to percentage instead of total

In [101]:
rais_df[jobs_columns_list] = rais_df[jobs_columns_list].div(rais_df.n_jobs_TOTAL, axis=0)
rais_df[companies_columns_list] = rais_df[companies_columns_list].div(rais_df.n_companies_TOTAL, axis=0)

In [102]:
rais_df.head()

,id_municipio,ano,n_companies_PUBLIC ADMIN,n_companies_AGRICULTURE,n_companies_FOOD AND DRINKS,n_companies_ACCOMODATION AND FOOD,n_companies_EQUIPMENT RENTAL,n_companies_WHOLESALE,n_companies_ASSOCIATIVE ACTIVITIES,n_companies_AUTOMOBILES AND TRANSPORT,...,n_jobs_AERO TRANSPORT,n_jobs_SMOKE,n_jobs_PETROLEUM REFINING,n_jobs_,n_jobs_TOTAL INDUSTRIAL,n_jobs_TOTAL SERVICE,n_companies_TOTAL INDUSTRIAL,n_companies_TOTAL SERVICE,n_companies_TOTAL,n_jobs_TOTAL
0,1100015,2000,0.003711,0.050093,0.027829,0.024119,0.001855,0.070501,0.233766,0.009276,...,0.0,0.0,0.0,0.0,336,860,118,421,539,1196
1,1100015,2001,0.005525,0.058932,0.031308,0.018416,0.001842,0.073665,0.217311,0.007366,...,0.0,0.0,0.0,0.0,355,830,124,419,543,1185
2,1100015,2002,0.004992,0.074875,0.038270,0.021631,0.000000,0.064892,0.211314,0.006656,...,0.0,0.0,0.0,0.0,418,1022,145,456,601,1440
3,1100015,2003,0.003190,0.103668,0.036683,0.020734,0.000000,0.052632,0.173844,0.006380,...,0.0,0.0,0.0,0.0,477,1152,163,464,627,1629
4,1100015,2004,0.003125,0.129688,0.068750,0.015625,0.001563,0.045312,0.171875,0.004687,...,0.0,0.0,0.0,0.0,516,1094,180,460,640,1610

In [103]:
df = pd.merge(df, rais_df,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','ano'])

In [104]:
df.head()

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,n_jobs_AERO TRANSPORT,n_jobs_SMOKE,n_jobs_PETROLEUM REFINING,n_jobs_,n_jobs_TOTAL INDUSTRIAL,n_jobs_TOTAL SERVICE,n_companies_TOTAL INDUSTRIAL,n_companies_TOTAL SERVICE,n_companies_TOTAL,n_jobs_TOTAL
0,1301209,-18.0,8418817,-63.075,-4.325,2003,89.0,84.0,25.07463,23.0,...,0.0,0.0,0.084240,0.0,1249,1968,110,334,444,3217
1,5106505,-2.0,8839853,-57.225,-16.925,2003,77.0,59.0,15.30963,114.0,...,0.0,0.0,0.016404,0.0,614,910,264,628,892,1524
2,1500206,8.0,9452215,-48.725,-2.275,2007,86.0,91.0,40.02547,24.0,...,0.0,0.0,0.000000,0.0,576,2132,62,157,219,2708
3,1101476,9.0,8551885,-61.225,-11.775,2005,42.0,38.0,26.15856,226.0,...,0.0,0.0,0.000000,0.0,75,218,24,39,63,293
4,1508050,-24.0,8930107,-55.975,-4.575,2012,97.0,89.5,29.74225,92.0,...,0.0,0.0,0.000000,0.0,130,520,56,134,190,650

In [105]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'id_municipio': 0,
 'ano': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0}

## Year Forest Data

## NOTE: HAS NAs for these municipalities: 
1504752    
2102374    
2103307    
2109304   
2111748
5104526    
5104542    

- check if these were created later with municipality split
- check about if they're early 
- figure out which ones split up, code them as the old municipality for the years before the split

In [106]:
result1 = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/year_deforest.RData')
df2 = pd.DataFrame(result1['year_deforest'])
#df2 = df2.fillna(0)
df2 = df2.drop(['term', 'inc', 'area', 'per'], axis = 1)
df2['audits'] = df2['audits'].fillna(0)
df2.head()

,year,munic_id,murder_threats,assassination,assassination_attempt,emiss_agr,emiss_agropec,emiss_pec,f_emitted_count,expen_agri,...,expen_petrol,expen_prom_ani_pro,expen_prom_veg_pro,expen_other_agr,expen_agr_defense,expen_min_fuel,illegal_mining,illegal_other,illegal_industry,audits
0,2000,1100015,0.0,0.0,0.0,0.0,0.0,0.0,36.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
1,2000,1100023,0.0,0.0,0.0,0.0,0.0,0.0,102.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,173.167599,0.0,1744.914255,0.0
2,2000,1100031,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
3,2000,1100049,0.0,0.0,0.0,0.0,0.0,0.0,46.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
4,2000,1100056,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0

In [107]:
dict(sorted((df2.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'year': 0,
 'munic_id': 0,
 'murder_threats': 0,
 'assassination': 0,
 'assassination_attempt': 0,
 'f_emitted_count': 0,
 'expen_agri': 0,
 'expen_env_man': 0,
 'expen_agr_org': 0,
 'expen_mining': 0,
 'expen_petrol': 0,
 'expen_prom_ani_pro': 0,
 'expen_prom_veg_pro': 0,
 'expen_other_agr': 0,
 'expen_agr_defense': 0,
 'expen_min_fuel': 0,
 'illegal_mining': 0,
 'illegal_other': 0,
 'illegal_industry': 0,
 'audits': 0,
 'emiss_agr': 760,
 'emiss_agropec': 760,
 'emiss_pec': 760}

In [108]:
#merge
df = pd.merge(df, df2,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

In [109]:
#fill nas with 0 for audits
#df['audits'] = df['audits'].fillna(0)

In [110]:
df[df.expen_agri.isna()].groupby(['ID']).size()

ID
1504752    2
2103307    6
dtype: int64

In [111]:
df[df.expen_agri.isna()].groupby(['year']).size()

year
2004    1
2005    1
2008    1
2012    1
2013    1
2015    1
2016    2
dtype: int64

In [112]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'id_municipio': 0,
 'ano': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'munic_id': 8,
 'murder_threats': 8,
 'assassination': 8,
 'assassination_attempt': 8,
 'f_emitted_count': 8,
 'expen_agri': 8,
 'expen_env_man': 8,
 'expen_agr_org': 8,
 'expen_mining': 8,
 'expen_petrol': 8,
 'expen_prom_ani_pro': 8,
 'expen_prom_veg_pro': 8,
 'expen_other_agr': 8,
 'expen_agr_defense': 8,
 'expen_min_fuel': 8,
 'illegal_mining': 8,
 'illegal_other': 8,
 'illegal_industry': 8,
 'audits': 8,
 'emiss_agr': 663,
 'emiss_agropec': 663,
 'emiss_pec': 663}

In [113]:
#now deal with missing emissions entries
# 3 emissions variables 'emiss_agr', 'emiss_agropec', 'emiss_pec',
#In the data, variable “atividade_economica” contains the values AGR, PEC and AGROPEC. 
#So, for each municipality/year, sum the emissions (emissao) that correspond to atividade_economica 
#== “AGROPEC”, “AGR” and “PEC” and that should give you the three variables.

In [114]:
df[df.emiss_agr.isna()].groupby(['year']).size()

year
2004      1
2005      1
2008      1
2012      1
2013      1
2015      1
2016    657
dtype: int64

In [115]:
#file_path = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/Rdata/emissions2016.Rdata'
file_path = '/Users/annieulichney/Desktop/Deforestation/emissions2016.Rdata'

emission2016 = pyreadr.read_r(file_path)
emdf = pd.DataFrame(emission2016['df.emissions'])
emdf.head()

,ano,sigla_uf,id_municipio,nivel_1,nivel_2,nivel_3,nivel_4,nivel_5,nivel_6,tipo_emissao,gas,atividade_economica,produto,emissao
0,2016,RO,1100015,Energia,Emissões pela Queima de Combustíveis,Geração de Eletricidade (Serviço Público),NaN,Diesel de petróleo,Centrais Elétricas de Serviço Público,Emissão,CO2e (t) GWP-AR5,ENE_ELET,ENE_ELET,882.924870
1,2016,RO,1100015,Energia,Emissões pela Queima de Combustíveis,Geração de Eletricidade (Serviço Público),NaN,Óleo diesel,Centrais Elétricas de Serviço Público,Emissão,CO2e (t) GWP-AR5,ENE_ELET,ENE_ELET,3.456047
2,2016,RO,1100015,Energia,Emissões pela Queima de Combustíveis,Transportes,Aéreo,Querosene de aviação,Aeronaves,Emissão,CO2e (t) GWP-AR5,TRAN,NaN,0.963241
3,2016,RO,1100015,Mudança de Uso da Terra e Floresta,Remoção em Áreas Protegidas,Amazônia,em Área Protegida,Vegetação nativa estável,Floresta primária -- Floresta primária,Remoção,CO2e (t) GWP-AR5,CONSERV,NaN,-271351.000000
4,2016,RO,1100015,Mudança de Uso da Terra e Floresta,Remoção em Áreas Protegidas,Amazônia,em Área Protegida,Vegetação nativa estável,Vegetação não florestal primária -- Vegetação ...,Remoção,CO2e (t) GWP-AR5,CONSERV,NaN,-49479.000000

In [116]:
#agro + pec
both = emdf.loc[emdf['atividade_economica'].isin(['PEC', 'AGR'])][['ano', 'id_municipio', 'atividade_economica', 'emissao']]
both.columns = ['ano', 'id_municipio', 'atividade_economica', 'emissao_agropec_2016']


both['emissao_agropec_2016'] = both['emissao_agropec_2016'].fillna(0)

both_summed = pd.DataFrame(both.groupby(['ano', 'id_municipio'])['emissao_agropec_2016'].sum()).reset_index()

#change dtype
both_summed['id_municipio'] = both_summed['id_municipio'].astype(int)
both_summed['ano'] = both_summed['ano'].astype(int)

both_summed.head()

    ano  id_municipio  emissao_agropec_2016
0  2016       1100015         761694.534692
1  2016       1100023         852491.945741
2  2016       1100031         268736.763683
3  2016       1100049         882192.110315
4  2016       1100056         212634.316121

In [117]:
#agro only
agro_df = emdf.loc[emdf['atividade_economica'].isin(['AGR'])][['ano', 'id_municipio', 'atividade_economica', 'emissao']]
agro_df.columns = ['ano', 'id_municipio', 'atividade_economica', 'emissao_agr_2016']


agro_df['emissao_agr_2016'] = agro_df['emissao_agr_2016'].fillna(0)

agro_df_summed = pd.DataFrame(agro_df.groupby(['ano', 'id_municipio'])['emissao_agr_2016'].sum()).reset_index()

#change dtype
agro_df_summed['id_municipio'] = agro_df_summed['id_municipio'].astype(int)
agro_df_summed['ano'] = agro_df_summed['ano'].astype(int)

agro_df_summed.head()

    ano  id_municipio  emissao_agr_2016
0  2016       1100015       8479.297773
1  2016       1100023       2822.190980
2  2016       1100031      17688.479558
3  2016       1100049       4250.759400
4  2016       1100056      32702.088696

In [118]:
#agro only
pec_df = emdf.loc[emdf['atividade_economica'].isin(['PEC'])][['ano', 'id_municipio', 'atividade_economica', 'emissao']]
pec_df.columns = ['ano', 'id_municipio', 'atividade_economica', 'emissao_pec_2016']


pec_df['emissao_pec_2016'] = pec_df['emissao_pec_2016'].fillna(0)

pec_df_summed = pd.DataFrame(pec_df.groupby(['ano', 'id_municipio'])['emissao_pec_2016'].sum()).reset_index()

#change dtype
pec_df_summed['id_municipio'] = pec_df_summed['id_municipio'].astype(int)
pec_df_summed['ano'] = pec_df_summed['ano'].astype(int)

pec_df_summed.head()

    ano  id_municipio  emissao_pec_2016
0  2016       1100015     753215.236920
1  2016       1100023     849669.754761
2  2016       1100031     251048.284126
3  2016       1100049     877941.350915
4  2016       1100056     179932.227425

In [119]:
#merge twice to get all 3 columns
emiss_df = pd.merge(agro_df_summed, both_summed,  how = 'left', left_on = ['id_municipio','ano'], right_on = ['id_municipio','ano'])
emiss_df = pd.merge(pec_df_summed, emiss_df,  how = 'left', left_on = ['id_municipio','ano'], right_on = ['id_municipio','ano'])

In [120]:
emiss_df.head()

,ano,id_municipio,emissao_pec_2016,emissao_agr_2016,emissao_agropec_2016
0,2016,1100015,753215.236920,8479.297773,761694.534692
1,2016,1100023,849669.754761,2822.190980,852491.945741
2,2016,1100031,251048.284126,17688.479558,268736.763683
3,2016,1100049,877941.350915,4250.759400,882192.110315
4,2016,1100056,179932.227425,32702.088696,212634.316121

In [121]:
df = pd.merge(df, emiss_df,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','ano'])

In [122]:
df['emissao_pec_2016'] = df['emissao_pec_2016'].fillna(0)
df['emissao_agr_2016'] = df['emissao_agr_2016'].fillna(0)
df['emissao_agropec_2016'] = df['emissao_agropec_2016'].fillna(0)


df['emiss_pec'] = df['emiss_pec'].fillna(0)
df['emiss_agr'] = df['emiss_agr'].fillna(0)
df['emiss_agropec'] = df['emiss_agropec'].fillna(0)

In [123]:
df['emiss_pec_full'] = df['emiss_pec'] + df['emissao_pec_2016']
df['emiss_agr_full'] = df['emiss_agr'] + df['emissao_agr_2016']
df['emiss_agropec_full'] = df['emiss_agropec'] + df['emissao_agropec_2016']

In [124]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'id_municipio_x': 0,
 'ano_x': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_agr': 0,
 'emiss_agropec': 0,
 'emiss_pec': 0,
 'emissao_pec_2016': 0,
 'emissao_agr_2016': 0,
 'emissao_agropec_2016': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'munic_id': 8,
 'murder_threats': 8,
 'assassination': 8,
 'assassination_attempt': 8,
 'f_emitted_count': 8,
 'expen_agri': 8,
 'expen_env_man': 8,
 'expen_agr_org': 8,
 'expen_mining': 8,
 'expen_petrol': 8,
 'expen_prom_ani_pro': 8,
 'expen_prom_veg_pro': 8,
 'expen_other_agr': 8,
 'expen_agr_defense': 8,
 'expen_min_fuel': 8,
 'illegal_mining': 8,
 'illegal_other': 8,
 'illegal_industry': 8,
 'audits': 8,
 'ano_y': 9475,
 'id_municipio_y': 9475}

In [125]:
df = df[['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l',
       'nn_forest.l', 'rain1', 'elevation', 'slope', 'aspect',
       'near_mines', 'near_roads', 'near_hidrovia', 'indigenous_homol',
       'mun_election_year', 'new_forest_code', 'lula', 'dilma', 'temer',
       'bolsonaro', 'fed_election_year', 'populacao', 'pib_pc', 'ironore',
       'silver', 'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs',
       'mining_jobs', 'public_jobs', 'construction_jobs', 'PIB','n_companies_PUBLIC ADMIN',
       'n_companies_AGRICULTURE', 'n_companies_FOOD AND DRINKS',
       'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT',
       'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD',
       'n_companies_NON-METALLIC MINERAL PRODUCTS', 'n_companies_HEALTH',
       'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION',
       'n_companies_RETAIL', 'n_companies_COMPUTING',
       'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER', 'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER-BASED TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR',
       'n_companies_RUBBER AND PLASTIC', 'n_companies_TEXTILES',
       'n_companies_RESEARCH AND DEVELOPMENT',
       'n_companies_AERO TRANSPORT', 'n_companies_SMOKE',
       'n_companies_PETROLEUM REFINING', 'n_companies_',
       'n_jobs_PUBLIC ADMIN', 'n_jobs_AGRICULTURE',
       'n_jobs_FOOD AND DRINKS', 'n_jobs_ACCOMODATION AND FOOD',
       'n_jobs_EQUIPMENT RENTAL', 'n_jobs_WHOLESALE',
       'n_jobs_ASSOCIATIVE ACTIVITIES',
       'n_jobs_AUTOMOBILES AND TRANSPORT', 'n_jobs_FINANCIAL ASSISTANCE',
       'n_jobs_TRADE REP VEHICLES', 'n_jobs_CONSTRUCTION',
       'n_jobs_MAIL AND TELECOM', 'n_jobs_CULTURE AND SPORT',
       'n_jobs_EDITING AND PRINTING', 'n_jobs_EDUCATION',
       'n_jobs_ELECTRICITY AND GAS', 'n_jobs_FINANCES',
       'n_jobs_CLEANING AND SEWAGE', 'n_jobs_MACHINERY',
       'n_jobs_BASIC METALLURGY', 'n_jobs_MINING', 'n_jobs_WOOD PROD',
       'n_jobs_NON-METALLIC MINERAL PRODUCTS', 'n_jobs_HEALTH',
       'n_jobs_SERVICES FOR COMPANIES', 'n_jobs_PERSONAL SERVICES',
       'n_jobs_TRANSPORTATION', 'n_jobs_GROUND TRANSPORT',
       'n_jobs_WATER TREATMENT AND DISTRIBUTION', 'n_jobs_RETAIL',
       'n_jobs_COMPUTING', 'n_jobs_INSURANCE AND SOCIAL SECURITY',
       'n_jobs_METALLIC PRODUCTS', 'n_jobs_DOMESTIC SERVICES',
       'n_jobs_FORESTRY', 'n_jobs_CLOTHING', 'n_jobs_PAPER',
       'n_jobs_INTERNATIONAL BODIES', 'n_jobs_OIL AND GAS',
       'n_jobs_FISHING AND AQUACULTURE', 'n_jobs_CHEMICALS',
       'n_jobs_WATER-BASED TRANSPORTATION', 'n_jobs_REAL ESTATE',
       'n_jobs_RECYCLING', 'n_jobs_LEATHERS AND FOOTWEAR',
       'n_jobs_RUBBER AND PLASTIC', 'n_jobs_TEXTILES',
       'n_jobs_RESEARCH AND DEVELOPMENT', 'n_jobs_AERO TRANSPORT',
       'n_jobs_SMOKE', 'n_jobs_PETROLEUM REFINING', 'n_jobs_',
       'n_jobs_TOTAL INDUSTRIAL', 'n_jobs_TOTAL SERVICE',
       'n_companies_TOTAL INDUSTRIAL', 'n_companies_TOTAL SERVICE',
       'n_companies_TOTAL', 'n_jobs_TOTAL', 
       'murder_threats', 'assassination',
       'assassination_attempt', 
       'f_emitted_count', 'expen_agri', 'expen_env_man', 'expen_agr_org',
       'expen_mining', 'expen_petrol', 'expen_prom_ani_pro',
       'expen_prom_veg_pro', 'expen_other_agr', 'expen_agr_defense',
       'expen_min_fuel', 'illegal_mining', 'illegal_other',
       'illegal_industry', 'audits', 
       'emiss_pec_full', 'emiss_agr_full', 'emiss_agropec_full']]

In [126]:
df[df.murder_threats.isna()].groupby(['ID']).size()

ID
1504752    2
2103307    6
dtype: int64

In [127]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'murder_threats': 8,
 'assassination': 8,
 'assassination_attempt': 8,
 'f_emitted_count': 8,
 'expen_agri': 8,
 'expen_env_man': 8,
 'expen_agr_org': 8,
 'expen_mining': 8,
 'expen_petrol': 8,
 'expen_prom_ani_pro': 8,
 'expen_prom_veg_pro': 8,
 'expen_other_agr': 8,
 'expen_agr_defense': 8,
 'expen_min_fuel': 8,
 'illegal_mining': 8,
 'illegal_other': 8,
 'illegal_industry': 8,
 'audits': 8}

In [128]:
#check that the merge worked
#df[(df.year == 2016) & (df.ID == 1100015) & (df.FID == 8454645)].emiss_pec_full.values[0] + df[(df.year == 2016) & (df.ID == 1100015) & (df.FID == 8454645)].emiss_agr_full.values[0] == df[(df.year == 2016) & (df.ID == 1100015) & (df.FID == 8454645)].emiss_agropec_full.values[0]

In [129]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'murder_threats': 8,
 'assassination': 8,
 'assassination_attempt': 8,
 'f_emitted_count': 8,
 'expen_agri': 8,
 'expen_env_man': 8,
 'expen_agr_org': 8,
 'expen_mining': 8,
 'expen_petrol': 8,
 'expen_prom_ani_pro': 8,
 'expen_prom_veg_pro': 8,
 'expen_other_agr': 8,
 'expen_agr_defense': 8,
 'expen_min_fuel': 8,
 'illegal_mining': 8,
 'illegal_other': 8,
 'illegal_industry': 8,
 'audits': 8}

In [130]:
#df[df.illegal_mining.isna()].groupby(['ID']).size()

In [131]:
#df[df.expen_mining.isna()].groupby(['ID']).size()

## Illegal mining data by municipality

In [132]:
#this is also in year_deforest so I don't double merge

In [133]:
#illegal_mine = pd.read_csv('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/illegal_mining.csv')
#df = pd.merge(df, illegal_mine,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

In [134]:
#illegal_mine.head()

## Violence

In [135]:
#made all NAs 0 here
#ended up also commenting this out because it's repeated in the year_deforest dataset

In [136]:
#violence = pd.read_csv('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/violence_all.csv')
#violence.fillna(0)
#violence = violence[['year', 'murder_threats', 'assassination', 'assassination_attempt', 'munic_id']]
#df = pd.merge(df, violence,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

## Fines

In [137]:
#also in year_deforest

In [138]:
#fines = pd.read_csv('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/fines.csv')
#fines = fines[['munic_id', 'year', 'f_emitted_count']]
#df = pd.merge(df, fines,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

In [139]:
#fines.head()

In [140]:
#dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

## Political Variables

In [141]:
path = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/legal_amazon_muncipalities_panel2001to2019.dta'

legal = pd.read_stata(path)
legal['forestplantaon'] = legal['forestplantaon'].fillna(0)
legal['soybean'] = legal['soybean'].fillna(0)
legal['sugarcane'] = legal['sugarcane'].fillna(0)




legal = legal[['id', 'municipality', 'state', 'region', 'year', 'pmv',
       'forestformation', 'forestplantaon', 'pasture', 'sugarcane', 'soybean',
       'yrmean_maxtemp', 'yrmean_pdsi', 'yrmean_prec', 'firetotal',
         'cowratio',
       'totalfineadj', 'adi', 'gfwlosssqkm', 'incremento',
       'forest_extent_sqkm', 'SFlosssqkm', 'SFincrement', 'sf1to8', 'sf9to16',
       'sf17to24', 'sf25to34']]

In [142]:
dict(sorted((legal.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'id': 0,
 'municipality': 0,
 'state': 0,
 'region': 0,
 'year': 0,
 'pmv': 0,
 'forestformation': 0,
 'forestplantaon': 0,
 'pasture': 0,
 'sugarcane': 0,
 'soybean': 0,
 'yrmean_maxtemp': 0,
 'yrmean_pdsi': 0,
 'yrmean_prec': 0,
 'firetotal': 0,
 'cowratio': 0,
 'totalfineadj': 0,
 'adi': 0,
 'gfwlosssqkm': 0,
 'incremento': 0,
 'forest_extent_sqkm': 0,
 'SFlosssqkm': 0,
 'SFincrement': 0,
 'sf1to8': 0,
 'sf9to16': 0,
 'sf17to24': 0,
 'sf25to34': 0}

In [143]:
#count fines and gdp per capita we already have and pop den

#drop yearpmv, pmv municipios verdes program participation, opt in, self selection so hard to test effect
#aid, tax benefits, in exchange for limiting deforestation and other forest code guidelines
#want more municipalities to register & keep deforestation under code levels, state/fed help & subsidies

#soybean and forest plantation missing values should be 0s DONE

#nonagvaladd data not available for 2001 and 2019, can drop for now since we have workforce in non ag as proxy

In [144]:
legal['year']= legal['year'].apply(lambda x: x.year)

In [145]:
df = pd.merge(df, legal,  how = 'left', left_on = ['ID','year'], right_on = ['id','year'])

In [146]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'murder_threats': 8,
 'assassination': 8,
 'assassination_attempt': 8,
 'f_emitted_count': 8,
 'expen_agri': 8,
 'expen_env_man': 8,
 'expen_agr_org': 8,
 'expen_mining': 8,
 'expen_petrol': 8,
 'expen_prom_ani_pro': 8,
 'expen_prom_veg_pro': 8,
 'expen_other_agr': 8,
 'expen_agr_defense': 8,
 'expen_min_fuel': 8,
 'illegal_mining': 8,
 'illegal_other': 8,
 'illegal_industry': 8,
 'audits': 8,
 'id': 24,
 'municipality': 24,
 'state': 24,
 'region': 24,
 'pmv': 24,
 'forestformation': 24,
 'forestplantaon': 24,
 'pasture': 24,
 'sugarcane': 24,
 'soybean': 24,
 'yrmean_maxtemp': 24,
 'yrmean_pdsi': 24,
 'yrmean_prec': 24,
 'firetotal': 24,
 'cowratio': 24,
 'totalfineadj': 24,
 'adi': 24,
 'gfwlosssqkm': 24,
 'incremento': 24,
 'forest_extent_sqkm': 24,
 'SFlosssqkm': 24,
 'SFincrement': 24,
 'sf1to8': 24,
 'sf9to16': 24,
 'sf17to24': 24,
 'sf25to34': 24}

In [79]:
df[df.sf25to34.isna()].groupby(['ID']).size()

ID
1504752    5
2103307    3
5104526    4
5104542    5
dtype: int64

In [80]:
#might be better to use other data than elec here, 

#candidate level dataset, more cands than muns, need to collapse to mun level
#this includes those that didn't win but not margin of victory 

#cand prefeito vote, includes vote counts for all of the candidates
#1996 doesn't have the cpf but we start in 2000
#cand prefeito includes the characteristics of each cand, merge to get votes (on cpf, )

#votes one has fewer cands, id candidato bd

#percentage of votes for prefeito, and margin of victory 

#effects of reelection and term limits, if the mayor appears 

#if person in office in 1996 term limited in 2004
#create one variable for if the person is an encumbant running for reelection, person in 1996 running in 2000 (binary)
#encumbant wins reelection (in next election will be term limited)

#first term or second term binary variables 
#percentage of votes and margin of victory

#resultado 

#keep sigla partido of the winner and coalition 

#keep age gender job of winner

In [69]:
#create 3rd dataset at the municipality level that I'm going to merge in for Kathryn

In [70]:
# path_2 = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/elections_munic.xlsx'
# elec = pd.read_excel(path_2)
# elec.head()

# dict(sorted((elec.isna().sum()).to_dict().items(), key=lambda item: item[1]))
# elec[elec.el_votos_p.isna()].groupby(['ano']).size()
# elec[elec.el_votos_p.isna()].groupby(['id']).size()

In [147]:
elec = pd.read_csv('/Users/annieulichney/Documents/GitHub/Deforestation/ElectionCleanedData.csv', index_col = [0])

In [148]:
elec.head()

,ano,id_municipio,id_candidato_bd,sigla_partido,votos_winner,votos,incumbant_run,incumbant_win,term_lim_seat,margin,votos_pct,genero,ocupacao,instrucao,idade
0,2000,2708907,1265591.0,PSD,3147,4882,0.0,0.0,0.0,1412.0,0.644613,masculino,proprietario de estabelecimento comercial,ensino medio completo,45.0
1,2000,1302553,19147.0,PST,1455,5658,0.0,0.0,0.0,155.0,0.257158,masculino,medico,ensino superior completo,31.0
2,2000,2903300,1071793.0,PAN,2135,3598,0.0,0.0,0.0,708.0,0.593385,masculino,outros,ensino superior completo,51.0
3,2000,2906907,962907.0,PSD,4614,8760,0.0,0.0,0.0,640.0,0.526712,masculino,outros,ensino fundamental incompleto,58.0
4,2000,2908606,1523132.0,PST,3643,8872,0.0,0.0,0.0,1015.0,0.410618,masculino,proprietario de estabelecimento comercial,ensino fundamental completo,42.0

In [180]:
dict(sorted((elec.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ano': 0,
 'id_municipio': 0,
 'sigla_partido': 0,
 'votos_winner': 0,
 'votos': 0,
 'incumbant_run': 0,
 'incumbant_win': 0,
 'term_lim_seat': 0,
 'margin': 0,
 'votos_pct': 0,
 'idade': 787,
 'ocupacao': 47197,
 'genero': 47787,
 'instrucao': 48579,
 'id_candidato_bd': 91981}

In [181]:
df.shape

(2771, 208)

In [149]:
df = pd.merge(df, elec,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','ano'])

In [182]:
df.shape

(2771, 208)

In [185]:
df.year

4        2012
7        2016
22       2008
25       2008
26       2008
         ...
15890    2012
15898    2004
15899    2012
15901    2004
15902    2004
Name: year, Length: 2771, dtype: int32

In [ ]:
#make list of 3x cands
#make summary of NAs

#sit/situacao_candidatura variable in original, check if the 3 term people are denied, code and word, word is deferido

#cod sit candidatura, deferido, deferido con recurso (initially denied then accepted), 
#cod sit candidatura === 2 
#number of candidates per municipality, how attractive office is in that mun

#turno, numero turno 1/2, large muns, if cand doesn't get 50+% have runoffs, same mun two elections, 
#identify muns that have runoffs, indicator, num cands in first term, margin in second term keep

In [150]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'murder_threats': 8,
 'assassination': 8,
 'assassination_attempt': 8,
 'f_emitted_count': 8,
 'expen_agri': 8,
 'expen_env_man': 8,
 'expen_agr_org': 8,
 'expen_mining': 8,
 'expen_petrol': 8,
 'expen_prom_ani_pro': 8,
 'expen_prom_veg_pro': 8,
 'expen_other_agr': 8,
 'expen_agr_defense': 8,
 'expen_min_fuel': 8,
 'illegal_mining': 8,
 'illegal_other': 8,
 'illegal_industry': 8,
 'audits': 8,
 'id': 24,
 'municipality': 24,
 'state': 24,
 'region': 24,
 'pmv': 24,
 'forestformation': 24,
 'forestplantaon': 24,
 'pasture': 24,
 'sugarcane': 24,
 'soybean': 24,
 'yrmean_maxtemp': 24,
 'yrmean_pdsi': 24,
 'yrmean_prec': 24,
 'firetotal': 24,
 'cowratio': 24,
 'totalfineadj': 24,
 'adi': 24,
 'gfwlosssqkm': 24,
 'incremento': 24,
 'forest_extent_sqkm': 24,
 'SFlosssqkm': 24,
 'SFincrement': 24,
 'sf1to8': 24,
 'sf9to16': 24,
 'sf17to24': 24,
 'sf25to34': 24,
 'ano': 7463,
 'id_municipio': 7463,
 'sigla_partido': 7463,
 'votos_winner': 7463,
 'votos': 7463,
 'incumbant_run': 7463,
 'incumbant_win': 7463,
 'term_lim_seat': 7463,
 'margin': 7463,
 'votos_pct': 7463,
 'ocupacao': 7463,
 'genero': 7529,
 'idade': 7545,
 'instrucao': 7564,
 'id_candidato_bd': 13120}

In [78]:
dict(df[df.sigla_partido.isna()].groupby(['ID']).size())

{1100015: 13,
 1100023: 3,
 1100031: 1,
 1100049: 2,
 1100056: 4,
 1100072: 6,
 1100080: 7,
 1100098: 9,
 1100106: 31,
 1100114: 8,
 1100122: 7,
 1100130: 7,
 1100155: 1,
 1100189: 7,
 1100205: 54,
 1100254: 3,
 1100262: 4,
 1100296: 4,
 1100304: 10,
 1100320: 14,
 1100338: 21,
 1100346: 4,
 1100379: 7,
 1100403: 6,
 1100452: 4,
 1100502: 2,
 1100601: 2,
 1100700: 2,
 1100809: 21,
 1100924: 8,
 1100940: 6,
 1101005: 5,
 1101104: 7,
 1101203: 1,
 1101302: 3,
 1101401: 6,
 1101450: 4,
 1101468: 9,
 1101492: 18,
 1101500: 5,
 1101609: 3,
 1101708: 1,
 1101757: 2,
 1200013: 3,
 1200054: 9,
 1200104: 6,
 1200138: 5,
 1200179: 2,
 1200203: 13,
 1200252: 1,
 1200302: 44,
 1200328: 13,
 1200336: 11,
 1200344: 17,
 1200351: 19,
 1200385: 5,
 1200393: 6,
 1200401: 14,
 1200427: 5,
 1200435: 8,
 1200450: 5,
 1200500: 27,
 1200609: 33,
 1200708: 6,
 1300029: 9,
 1300060: 2,
 1300086: 4,
 1300102: 15,
 1300144: 70,
 1300201: 111,
 1300300: 12,
 1300409: 187,
 1300508: 8,
 1300607: 12,
 1300631: 24,
 1300680: 5,
 1300706: 22,
 1300805: 67,
 1300839: 16,
 1300904: 56,
 1301001: 39,
 1301100: 15,
 1301159: 1,
 1301209: 74,
 1301308: 37,
 1301407: 13,
 1301506: 14,
 1301605: 24,
 1301654: 7,
 1301704: 65,
 1301803: 19,
 1301852: 3,
 1301902: 12,
 1301951: 39,
 1302009: 9,
 1302108: 84,
 1302207: 31,
 1302306: 99,
 1302405: 90,
 1302504: 14,
 1302553: 9,
 1302603: 13,
 1302702: 81,
 1302801: 23,
 1302900: 65,
 1303007: 24,
 1303106: 5,
 1303205: 56,
 1303304: 69,
 1303403: 6,
 1303502: 69,
 1303536: 27,
 1303569: 13,
 1303601: 101,
 1303700: 20,
 1303809: 159,
 1303908: 22,
 1303957: 13,
 1304005: 6,
 1304062: 3,
 1304104: 130,
 1304203: 31,
 1304237: 11,
 1304260: 20,
 1304302: 44,
 1304401: 4,
 1400027: 51,
 1400050: 30,
 1400100: 9,
 1400159: 12,
 1400175: 17,
 1400209: 78,
 1400233: 15,
 1400282: 25,
 1400308: 19,
 1400407: 9,
 1400456: 9,
 1400472: 62,
 1400506: 9,
 1400605: 1,
 1400704: 9,
 1500107: 6,
 1500131: 3,
 1500206: 8,
 1500305: 7,
 1500347: 11,
 1500404: 40,
 1500503: 106,
 1500602: 219,
 1500701: 10,
 1500859: 18,
 1500909: 4,
 1500958: 2,
 1501006: 21,
 1501105: 10,
 1501204: 6,
 1501253: 5,
 1501303: 2,
 1501402: 1,
 1501451: 4,
 1501576: 4,
 1501600: 1,
 1501709: 1,
 1501725: 7,
 1501758: 1,
 1501782: 6,
 1501808: 18,
 1501907: 1,
 1501956: 3,
 1502004: 4,
 1502103: 3,
 1502152: 1,
 1502202: 1,
 1502301: 4,
 1502400: 2,
 1502509: 18,
 1502707: 7,
 1502764: 22,
 1502772: 2,
 1502806: 4,
 1502855: 1,
 1502905: 2,
 1502939: 13,
 1502954: 5,
 1503002: 17,
 1503044: 9,
 1503077: 2,
 1503093: 8,
 1503101: 15,
 1503200: 4,
 1503309: 3,
 1503457: 2,
 1503507: 2,
 1503606: 91,
 1503705: 8,
 1503754: 70,
 1503804: 4,
 1503903: 14,
 1504000: 2,
 1504208: 17,
 1504307: 1,
 1504455: 12,
 1504505: 14,
 1504703: 15,
 1504752: 2,
 1504802: 33,
 1504901: 7,
 1504950: 5,
 1504976: 4,
 1505031: 38,
 1505064: 17,
 1505106: 27,
 1505205: 4,
 1505304: 146,
 1505437: 25,
 1505486: 15,
 1505502: 30,
 1505536: 10,
 1505551: 6,
 1505601: 1,
 1505635: 4,
 1505650: 11,
 1505700: 5,
 1505809: 40,
 1505908: 26,
 1506005: 25,
 1506112: 1,
 1506138: 5,
 1506161: 3,
 1506187: 17,
 1506195: 8,
 1506302: 2,
 1506401: 1,
 1506500: 2,
 1506559: 2,
 1506583: 16,
 1506609: 1,
 1506708: 16,
 1506807: 18,
 1506906: 2,
 1507102: 4,
 1507151: 5,
 1507201: 2,
 1507300: 115,
 1507409: 1,
 1507458: 7,
 1507474: 1,
 1507508: 3,
 1507607: 1,
 1507706: 3,
 1507805: 24,
 1507904: 5,
 1507953: 5,
 1507979: 4,
 1508001: 2,
 1508035: 3,
 1508050: 17,
 1508084: 3,
 1508100: 2,
 1508126: 7,
 1508159: 14,
 1508209: 1,
 1508308: 3,
 1508357: 6,
 1508407: 2,
 1600055: 9,
 1600105: 13,
 1600154: 19,
 1600204: 22,
 1600212: 3,
 1600238: 4,
 1600279: 35,
 1600303: 9,
 1600402: 22,
 1600501: 23,
 1600535: 6,
 1600550: 8,
 1600600: 4,
 1600709: 9,
 1600808: 2,
 1700251: 1,
 1700301: 1,
 1700350: 1,
 1700400: 5,
 1700707: 6,
 1701002: 2,
 1701051: 1,
 1701101: 3,
 1701309: 2,
 1701903: 5,
 1702000: 4,
 1702109: 6,
 1702158: 1,
 1702208: 6,
 1702307: 6,
 1702406: 10,
 1703008: 3,
 1703057: 2,
 1703073: 1,
 1703107: 1,
 1703206: 1,
 1703305: 3,
 1703701: 5,
 1703800: 1,
 1703826: 2,
 1703842: 7,
 1703867: 1,
 1703883: 1,
 1703909: 2,
 1704105: 4,
 1705102: 2,
 1705508: 1,
 1706001: 3,
 1706100: 2,
 1706258: 3,
 1706506: 3,
 1707009: 2,
 1707108: 2,
 1707207: 8,
 1707306: 6,
 1707405: 1,
 1707553: 3,
 1707652: 2,
 1707702: 1,
 1708205: 17,
 1708254: 1,
 1708304: 6,
 1709005: 10,
 1709302: 1,
 1709500: 4,
 1709807: 2,
 1710508: 3,
 1710706: 1,
 1710904: 3,
 1711100: 1,
 1711506: 4,
 1711803: 1,
 1711902: 5,
 1711951: 3,
 1712009: 2,
 1712405: 8,
 1712504: 3,
 1712702: 13,
 1712801: 1,
 1713205: 5,
 1713304: 2,
 1713601: 9,
 1713700: 3,
 1713809: 3,
 1713957: 2,
 1714203: 5,
 1714302: 1,
 1714880: 3,
 1715101: 7,
 1715259: 2,
 1715507: 2,
 1715705: 2,
 1715754: 4,
 1716109: 1,
 1716208: 14,
 1716307: 5,
 1716505: 4,
 1716604: 5,
 1716703: 2,
 1717008: 1,
 1717206: 2,
 1717503: 14,
 1717800: 2,
 1717909: 10,
 1718006: 2,
 1718204: 6,
 1718402: 1,
 1718659: 3,
 1718709: 2,
 1718758: 18,
 1718808: 1,
 1718840: 6,
 1718865: 2,
 1718881: 2,
 1718899: 2,
 1718907: 3,
 1720150: 1,
 1720259: 1,
 1720499: 3,
 1720655: 2,
 1720903: 7,
 1720937: 4,
 1720978: 3,
 1721000: 1,
 1721109: 1,
 1721208: 1,
 1722081: 1,
 1722107: 3,
 2100055: 7,
 2100204: 5,
 2100436: 1,
 2100477: 1,
 2100501: 15,
 2100600: 10,
 2100709: 1,
 2100873: 2,
 2100956: 6,
 2101202: 2,
 2101251: 3,
 2101301: 3,
 2101400: 22,
 2101608: 8,
 2101806: 2,
 2101905: 1,
 2102002: 9,
 2102036: 3,
 2102150: 1,
 2102325: 3,
 2102358: 2,
 2102556: 3,
 2102606: 3,
 2102754: 3,
 2102804: 9,
 2102903: 3,
 2103109: 1,
 2103158: 1,
 2103174: 15,
 2103257: 2,
 2103307: 1,
 2103505: 3,
 2103554: 1,
 2104057: 6,
 2104073: 2,
 2104081: 5,
 2104099: 3,
 2104107: 2,
 2104305: 1,
 2104404: 1,
 2104552: 1,
 2104602: 1,
 2104651: 2,
 2104677: 1,
 2104701: 1,
 2104800: 12,
 2105302: 4,
 2105401: 1,
 2105427: 4,
 2105450: 1,
 2105476: 5,
 2105609: 2,
 2105708: 2,
 2105807: 2,
 2105906: 1,
 2105989: 4,
 2106102: 5,
 2106201: 1,
 2106326: 1,
 2106359: 3,
 2106375: 4,
 2106706: 11,
 2106805: 1,
 2107001: 3,
 2107258: 3,
 2107357: 1,
 2107407: 2,
 2107506: 1,
 2107605: 1,
 2108108: 1,
 2108256: 1,
 2108454: 2,
 2108504: 1,
 2108603: 1,
 2108801: 1,
 2109007: 2,
 2109056: 1,
 2109106: 3,
 2109270: 1,
 2109502: 16,
 2109601: 1,
 2109700: 4,
 2109759: 1,
 2109809: 2,
 2109908: 1,
 2110005: 15,
 2110039: 3,
 2110500: 3,
 2110658: 1,
 2110708: 1,
 2110807: 4,
 2110856: 1,
 2111029: 1,
 2111052: 2,
 2111300: 1,
 2111508: 1,
 2111532: 2,
 2111573: 1,
 2111607: 5,
 2111722: 3,
 2111763: 4,
 2111789: 4,
 2111805: 3,
 2111904: 3,
 2112001: 6,
 2112274: 1,
 2112308: 4,
 2112407: 5,
 2112456: 2,
 2112803: 1,
 2112902: 2,
 2113009: 1,
 2114007: 4,
 5100102: 1,
 5100201: 6,
 5100250: 16,
 5100300: 7,
 5100359: 5,
 5100409: 4,
 5100508: 3,
 5100607: 2,
 5100805: 26,
 5101001: 10,
 5101209: 2,
 5101258: 1,
 5101407: 38,
 5101605: 17,
 5101704: 11,
 5101803: 13,
 5101852: 8,
 5101902: 13,
 5102504: 43,
 5102603: 13,
 5102637: 16,
 5102678: 6,
 5102686: 14,
 5102694: 3,
 5102702: 22,
 5102793: 3,
 5102850: 5,
 5103007: 5,
 5103056: 9,
 5103106: 23,
 5103205: 6,
 5103254: 50,
 5103304: 25,
 5103353: 8,
 5103361: 2,
 5103379: 12,
 5103403: 5,
 5103437: 1,
 5103452: 3,
 5103502: 9,
 5103601: 2,
 5103700: 18,
 5103858: 28,
 5103908: 8,
 5103957: 2,
 5104104: 5,
 5104203: 1,
 5104500: 1,
 5104526: 8,
 5104542: 2,
 5104559: 5,
 5104609: 23,
 5104807: 4,
 5104906: 1,
 5105002: 1,
 5105101: 45,
 5105150: 24,
 5105176: 2,
 5105200: 2,
 5105234: 5,
 5105259: 3,
 5105309: 4,
 5105507: 18,
 5105580: 27,
 5105606: 6,
 5105622: 1,
 5105903: 5,
 5106000: 1,
 5106109: 7,
 5106158: 13,
 5106174: 5,
 5106182: 9,
 5106190: 3,
 5106208: 4,
 5106216: 9,
 5106224: 18,
 5106232: 2,
 5106240: 20,
 5106257: 10,
 5106265: 10,
 5106273: 1,
 5106281: 2,
 5106299: 8,
 5106307: 34,
 5106315: 7,
 5106372: 7,
 5106422: 35,
 5106455: 3,
 5106505: 28,
 5106653: 6,
 5106752: 15,
 5106778: 8,
 5106802: 9,
 5106828: 8,
 5106851: 2,
 5107008: 5,
 5107040: 9,
 5107065: 27,
 5107107: 1,
 5107180: 23,
 5107198: 1,
 5107206: 1,
 5107248: 7,
 5107263: 4,
 5107305: 6,
 5107354: 9,
 5107404: 1,
 5107578: 24,
 5107602: 8,
 5107701: 9,
 5107743: 8,
 5107750: 2,
 5107768: 7,
 5107776: 4,
 5107792: 7,
 5107800: 12,
 5107859: 31,
 5107875: 19,
 5107883: 2,
 5107909: 8,
 5107925: 15,
 5107941: 13,
 5107958: 18,
 5108006: 8,
 5108055: 6,
 5108105: 7,
 5108204: 2,
 5108303: 11,
 5108352: 5,
 5108501: 4,
 5108600: 12,
 5108808: 2,
 5108857: 2,
 5108907: 20,
 5108956: 4}

## Finbra

In [ ]:
#codes aren't merging correctly here, there's an issue with municpality ids being different!

In [ ]:
#

In [ ]:
#can't find 7 digit code for 1504752 
#{'ibge7_code': , 'ibge6_code': 89, 'tse_code': 93, 'mesoregion': 99, 'microregion': 99, 'UF': }


#1504752 
#2103307    
#2111748

In [151]:
#url = 'https://raw.githubusercontent.com/ekatovich/Municipality_Name_ID_crosswalk/master/Raw_Brazil_GeographicalUnits.csv'
url = '/Users/annieulichney/Desktop/BrazilMunicipalIdentifiers.csv'
codes_df = pd.read_csv(url, header = 0, encoding='latin-1')

In [152]:
#add 6 digit codes to main dataframe
df = df.merge(codes_df[['ibge7_code', 'ibge6_code']], how = 'left', left_on = 'ID', right_on = 'ibge7_code')

In [153]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'ibge7_code': 2,
 'ibge6_code': 2,
 'murder_threats': 8,
 'assassination': 8,
 'assassination_attempt': 8,
 'f_emitted_count': 8,
 'expen_agri': 8,
 'expen_env_man': 8,
 'expen_agr_org': 8,
 'expen_mining': 8,
 'expen_petrol': 8,
 'expen_prom_ani_pro': 8,
 'expen_prom_veg_pro': 8,
 'expen_other_agr': 8,
 'expen_agr_defense': 8,
 'expen_min_fuel': 8,
 'illegal_mining': 8,
 'illegal_other': 8,
 'illegal_industry': 8,
 'audits': 8,
 'id': 24,
 'municipality': 24,
 'state': 24,
 'region': 24,
 'pmv': 24,
 'forestformation': 24,
 'forestplantaon': 24,
 'pasture': 24,
 'sugarcane': 24,
 'soybean': 24,
 'yrmean_maxtemp': 24,
 'yrmean_pdsi': 24,
 'yrmean_prec': 24,
 'firetotal': 24,
 'cowratio': 24,
 'totalfineadj': 24,
 'adi': 24,
 'gfwlosssqkm': 24,
 'incremento': 24,
 'forest_extent_sqkm': 24,
 'SFlosssqkm': 24,
 'SFincrement': 24,
 'sf1to8': 24,
 'sf9to16': 24,
 'sf17to24': 24,
 'sf25to34': 24,
 'ano': 7463,
 'id_municipio': 7463,
 'sigla_partido': 7463,
 'votos_winner': 7463,
 'votos': 7463,
 'incumbant_run': 7463,
 'incumbant_win': 7463,
 'term_lim_seat': 7463,
 'margin': 7463,
 'votos_pct': 7463,
 'ocupacao': 7463,
 'genero': 7529,
 'idade': 7545,
 'instrucao': 7564,
 'id_candidato_bd': 13120}

In [154]:
#pib.Rdata
finbra_read = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/finbra2001-2015.Rdata')
finbra_df = pd.DataFrame(finbra_read['finbra_2001_2015'])

finbra_df.cd_ibge_6 = finbra_df.cd_ibge_6.astype(int)
finbra_df.y = finbra_df.y.astype(int)

finbra_df.head()
#df = pd.merge(df, finbra_df,  how = 'left', left_on = ['ID','year'], right_on = ['cd_ibge_6','y'])

,cd_ibge_6,y,rev_total,rev_curr,rev_trib,rev_tax,rev_fee,rev_tr_curr,rev_tr_fed,rev_tr_stt,...,exp_ind,exp_heal_san,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2
0,431453,2001,2758335.41,2758335.41,6.555268e+04,4.331561e+04,22237.070000,2547699.62,1512795.74,1034903.88,...,362316.540000,265031.240,22846.1500,0.0,5337.26,0.00,NaN,NaN,.2001,4314532001
1,431453,2002,1973343.31,2136505.56,1.184666e+05,1.013939e+05,16159.060000,1924668.31,668256.74,1230217.45,...,3733.949951,452991.125,0.0000,278591.8,16365.81,40513.07,NaN,NaN,.2002,4314532002
2,421265,2013,9365629.00,9365629.00,1.260199e+05,1.089185e+05,12907.500000,9154815.00,6183653.00,2237162.00,...,16886.099609,988255.000,138301.4375,0.0,0.00,0.00,1492860.125,NaN,.2013,4212652013
3,500627,2013,20841374.00,20725176.00,2.806561e+06,2.773809e+06,32752.500000,17692492.00,6929948.50,10463405.00,...,0.000000,3325298.500,613889.8750,48373.0,0.00,0.00,4512029.000,NaN,.2013,5006272013
4,150475,2013,25632392.00,25632392.00,9.417746e+05,9.291695e+05,12605.080078,24414776.00,10333942.00,2591715.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.2013,1504752013

In [155]:
dict(sorted((finbra_df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'cd_ibge_6': 0,
 'y': 0,
 'id': 0,
 'id2': 0,
 'codigo': 15,
 'rev_total': 16,
 'rev_curr': 16,
 'rev_trib': 16,
 'rev_tax': 16,
 'rev_fee': 16,
 'rev_tr_curr': 16,
 'rev_tr_fed': 16,
 'rev_tr_stt': 17,
 'rev_cap': 17,
 'exp_total': 241,
 'exp_leg': 241,
 'exp_jud': 241,
 'exp_agr': 241,
 'exp_ed_cult': 241,
 'exp_hab': 241,
 'exp_ind': 241,
 'exp_heal_san': 241,
 'exp_assist': 241,
 'exp_transp': 241,
 'exp_secur': 241,
 'exp_energy': 241,
 'rev_tr_mun': 5469,
 'rev_tr_mult': 5469,
 'rev_agr': 5469,
 'rev_curr_oth': 15508,
 'exp_admin': 16490,
 'exp_cap': 63393,
 'rev_tr_curr_oth': 64151,
 'rev_tr_oth': 74190}

In [156]:
finbra_df

,cd_ibge_6,y,rev_total,rev_curr,rev_trib,rev_tax,rev_fee,rev_tr_curr,rev_tr_fed,rev_tr_stt,...,exp_ind,exp_heal_san,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2
0,431453,2001,2.758335e+06,2.758335e+06,6.555268e+04,4.331561e+04,2.223707e+04,2.547700e+06,1.512796e+06,1.034904e+06,...,3.623165e+05,2.650312e+05,2.284615e+04,0.000000e+00,5.337260e+03,0.000000e+00,NaN,NaN,.2001,4314532001
1,431453,2002,1.973343e+06,2.136506e+06,1.184666e+05,1.013939e+05,1.615906e+04,1.924668e+06,6.682567e+05,1.230217e+06,...,3.733950e+03,4.529911e+05,0.000000e+00,2.785918e+05,1.636581e+04,4.051307e+04,NaN,NaN,.2002,4314532002
2,421265,2013,9.365629e+06,9.365629e+06,1.260199e+05,1.089185e+05,1.290750e+04,9.154815e+06,6.183653e+06,2.237162e+06,...,1.688610e+04,9.882550e+05,1.383014e+05,0.000000e+00,0.000000e+00,0.000000e+00,1.492860e+06,NaN,.2013,4212652013
3,500627,2013,2.084137e+07,2.072518e+07,2.806561e+06,2.773809e+06,3.275250e+04,1.769249e+07,6.929948e+06,1.046340e+07,...,0.000000e+00,3.325298e+06,6.138899e+05,4.837300e+04,0.000000e+00,0.000000e+00,4.512029e+06,NaN,.2013,5006272013
4,150475,2013,2.563239e+07,2.563239e+07,9.417746e+05,9.291695e+05,1.260508e+04,2.441478e+07,1.033394e+07,2.591715e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.2013,1504752013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79639,522230,2012,1.351721e+07,1.544733e+07,1.187842e+06,1.181899e+06,5.943280e+03,1.412793e+07,7.123859e+06,4.577965e+06,...,3.460486e+05,2.689667e+06,8.631386e+05,4.967377e+05,0.000000e+00,0.000000e+00,1.674587e+06,5.222302e+06,52223022012,5222302012
79640,522230,2013,1.811173e+07,1.789173e+07,1.042245e+06,1.030196e+06,1.204840e+04,1.679562e+07,7.619004e+06,6.433764e+06,...,1.109080e+05,3.361664e+06,9.963528e+05,2.368516e+05,0.000000e+00,0.000000e+00,2.457511e+06,5.222302e+06,52223022013,5222302013
79641,522230,2014,1.914798e+07,1.821412e+07,6.581836e+05,6.413223e+05,1.686127e+04,1.746049e+07,8.298852e+06,6.390106e+06,...,3.600722e+05,3.688938e+06,1.025383e+06,1.055815e+05,0.000000e+00,0.000000e+00,2.167078e+06,5.222302e+06,52223022014,5222302014
79642,522230,2015,1.970494e+07,1.929254e+07,8.276906e+05,8.100056e+05,1.768507e+04,1.834481e+07,8.892128e+06,6.603110e+06,...,1.621564e+05,3.959784e+06,1.232056e+06,1.320656e+05,5.117601e+04,0.000000e+00,1.565677e+06,5.222302e+06,52223022015,5222302015
79643,6553600,0,6.790387e-313,9.973380e-313,2.058336e-312,9.973380e-313,2.355415e-312,2.121996e-312,2.419075e-312,9.973380e-313,...,1.018558e-312,1.018558e-312,2.334195e-312,1.782476e-312,9.973380e-313,1.442957e-312,1.082218e-312,7.847271e-44,7.85e-440,65536000

In [157]:
pd.merge(df, finbra_df,  how = 'left', left_on = ['ID','year'], right_on = ['cd_ibge_6','y'])

,ID,forest.diff,FID,x,y_x,year,forest.l,nn_forest.l,rain1,elevation,...,exp_ind,exp_heal_san,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id_y,id2
0,1301209,-18.0,8418817,-63.075,-4.325,2003,89.0,84.00,25.07463,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5106505,-2.0,8839853,-57.225,-16.925,2003,77.0,59.00,15.30963,114.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1500206,8.0,9452215,-48.725,-2.275,2007,86.0,91.00,40.02547,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1101476,9.0,8551885,-61.225,-11.775,2005,42.0,38.00,26.15856,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1508050,-24.0,8930107,-55.975,-4.575,2012,97.0,89.50,29.74225,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15903,1303304,0.0,8660013,-59.725,-6.125,2014,97.0,96.00,35.97835,123.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15904,1400308,1.0,8498161,-61.975,2.325,2007,92.0,97.00,32.02155,148.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15905,1400209,23.0,8494504,-62.025,-0.525,2007,74.0,97.00,39.68859,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15906,2101608,-3.0,9722152,-44.975,-5.425,2015,51.0,56.00,12.31050,176.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15907,5106505,1.0,8843436,-57.175,-17.775,2013,83.0,76.25,13.19258,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
dir_read = pyreadr.read_r('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/diretorio.Rdata')
dir_df = dir_read['df.diretorio']

In [159]:
dir_df.head()

,id_municipio,id_municipio_6,id_municipio_tse,id_municipio_rf,id_municipio_bcb,municipio,capital_uf,id_comarca,id_regiao_saude,regiao_saude,...,microrregiao,id_mesorregiao,mesorregiao,id_uf,sigla_uf,uf,regiao,existia_1991,existia_2000,existia_2010
0,1100023,110002,78,7,9393,Ariquemes,0,1100023,11001,Vale do Jamari,...,Ariquemes,1102,Leste Rondoniense,11,RO,Rondônia,Norte,1,1,1
1,1100106,110010,19,1,22882,Guajará-Mirim,0,1100106,11004,Madeira-Mamoré,...,Guajará-Mirim,1101,Madeira-Guaporé,11,RO,Rondônia,Norte,1,1,1
2,1100114,110011,159,15,41258,Jaru,0,1100114,11003,Central,...,Ji-Paraná,1102,Leste Rondoniense,11,RO,Rondônia,Norte,1,1,1
3,1100130,110013,396,39,44547,Machadinho D'Oeste,0,1100122,11001,Vale do Jamari,...,Ariquemes,1102,Leste Rondoniense,11,RO,Rondônia,Norte,1,1,1
4,1100205,110020,35,3,30719,Porto Velho,1,1100205,11004,Madeira-Mamoré,...,Porto Velho,1101,Madeira-Guaporé,11,RO,Rondônia,Norte,1,1,1

In [160]:
finbra_merged = pd.merge(finbra_df, dir_df[['id_municipio', 'id_municipio_6']],  how = 'left', left_on = ['cd_ibge_6'], right_on = ['id_municipio_6'])
finbra_merged.head()

,cd_ibge_6,y,rev_total,rev_curr,rev_trib,rev_tax,rev_fee,rev_tr_curr,rev_tr_fed,rev_tr_stt,...,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2,id_municipio,id_municipio_6
0,431453,2001,2758335.41,2758335.41,6.555268e+04,4.331561e+04,22237.070000,2547699.62,1512795.74,1034903.88,...,22846.1500,0.0,5337.26,0.00,NaN,NaN,.2001,4314532001,NaN,NaN
1,431453,2002,1973343.31,2136505.56,1.184666e+05,1.013939e+05,16159.060000,1924668.31,668256.74,1230217.45,...,0.0000,278591.8,16365.81,40513.07,NaN,NaN,.2002,4314532002,NaN,NaN
2,421265,2013,9365629.00,9365629.00,1.260199e+05,1.089185e+05,12907.500000,9154815.00,6183653.00,2237162.00,...,138301.4375,0.0,0.00,0.00,1492860.125,NaN,.2013,4212652013,4212650.0,421265.0
3,500627,2013,20841374.00,20725176.00,2.806561e+06,2.773809e+06,32752.500000,17692492.00,6929948.50,10463405.00,...,613889.8750,48373.0,0.00,0.00,4512029.000,NaN,.2013,5006272013,5006275.0,500627.0
4,150475,2013,25632392.00,25632392.00,9.417746e+05,9.291695e+05,12605.080078,24414776.00,10333942.00,2591715.00,...,NaN,NaN,NaN,NaN,NaN,NaN,.2013,1504752013,1504752.0,150475.0

In [161]:
df_test = pd.merge(df, finbra_merged,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','y'])
df_test.head()

,ID,forest.diff,FID,x,y_x,year,forest.l,nn_forest.l,rain1,elevation,...,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id_y,id2,id_municipio_y,id_municipio_6
0,1301209,-18.0,8418817,-63.075,-4.325,2003,89.0,84.0,25.07463,23.0,...,2.627506e+06,2811173.21,863682.79,1248112.20,NaN,1301209.0,13012092003,1301202003,1301209.0,130120.0
1,5106505,-2.0,8839853,-57.225,-16.925,2003,77.0,59.0,15.30963,114.0,...,5.007382e+05,184757.80,0.00,0.00,NaN,5106505.0,51065052003,5106502003,5106505.0,510650.0
2,1500206,8.0,9452215,-48.725,-2.275,2007,86.0,91.0,40.02547,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1101476,9.0,8551885,-61.225,-11.775,2005,42.0,38.0,26.15856,226.0,...,1.385868e+05,410922.08,0.00,70722.77,1610727.72,1101476.0,11014762005,1101472005,1101476.0,110147.0
4,1508050,-24.0,8930107,-55.975,-4.575,2012,97.0,89.5,29.74225,92.0,...,9.834749e+05,1332.00,83415.00,0.00,4296740.56,1508050.0,15080502012,1508052012,1508050.0,150805.0

In [162]:
dict(sorted((df_test.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y_x': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'ibge7_code': 2,
 'ibge6_code': 2,
 'murder_threats': 8,
 'assassination': 8,
 'assassination_attempt': 8,
 'f_emitted_count': 8,
 'expen_agri': 8,
 'expen_env_man': 8,
 'expen_agr_org': 8,
 'expen_mining': 8,
 'expen_petrol': 8,
 'expen_prom_ani_pro': 8,
 'expen_prom_veg_pro': 8,
 'expen_other_agr': 8,
 'expen_agr_defense': 8,
 'expen_min_fuel': 8,
 'illegal_mining': 8,
 'illegal_other': 8,
 'illegal_industry': 8,
 'audits': 8,
 'id_x': 24,
 'municipality': 24,
 'state': 24,
 'region': 24,
 'pmv': 24,
 'forestformation': 24,
 'forestplantaon': 24,
 'pasture': 24,
 'sugarcane': 24,
 'soybean': 24,
 'yrmean_maxtemp': 24,
 'yrmean_pdsi': 24,
 'yrmean_prec': 24,
 'firetotal': 24,
 'cowratio': 24,
 'totalfineadj': 24,
 'adi': 24,
 'gfwlosssqkm': 24,
 'incremento': 24,
 'forest_extent_sqkm': 24,
 'SFlosssqkm': 24,
 'SFincrement': 24,
 'sf1to8': 24,
 'sf9to16': 24,
 'sf17to24': 24,
 'sf25to34': 24,
 'cd_ibge_6': 2970,
 'y_y': 2970,
 'id_y': 2970,
 'id2': 2970,
 'id_municipio_y': 2970,
 'id_municipio_6': 2970,
 'codigo': 2971,
 'rev_total': 2976,
 'rev_curr': 2976,
 'rev_trib': 2976,
 'rev_tax': 2976,
 'rev_fee': 2976,
 'rev_tr_curr': 2976,
 'rev_tr_fed': 2976,
 'rev_tr_stt': 2976,
 'rev_tr_mun': 2976,
 'rev_tr_mult': 2976,
 'rev_agr': 2976,
 'rev_cap': 2976,
 'exp_total': 2994,
 'exp_leg': 2994,
 'exp_jud': 2994,
 'exp_agr': 2994,
 'exp_ed_cult': 2994,
 'exp_hab': 2994,
 'exp_ind': 2994,
 'exp_heal_san': 2994,
 'exp_assist': 2994,
 'exp_transp': 2994,
 'exp_secur': 2994,
 'exp_energy': 2994,
 'exp_admin': 4251,
 'rev_curr_oth': 4711,
 'ano': 7463,
 'id_municipio_x': 7463,
 'sigla_partido': 7463,
 'votos_winner': 7463,
 'votos': 7463,
 'incumbant_run': 7463,
 'incumbant_win': 7463,
 'term_lim_seat': 7463,
 'margin': 7463,
 'votos_pct': 7463,
 'ocupacao': 7463,
 'genero': 7529,
 'idade': 7545,
 'instrucao': 7564,
 'id_candidato_bd': 13120,
 'rev_tr_curr_oth': 14173,
 'exp_cap': 14651,
 'rev_tr_oth': 15908}

In [163]:
df_test[df_test.exp_energy.isna()].groupby(['ID']).size()

ID
1100015      2
1100023      1
1100106    320
1100122      1
1100130      1
          ...
5108352      1
5108600      4
5108857      2
5108907      6
5108956      2
Length: 394, dtype: int64

In [164]:
#df = pd.merge(df, finbra_df,  how = 'left', left_on = ['ID','year'], right_on = ['cd_ibge_6','y'])

In [165]:
dir_df[['id_municipio', 'id_municipio_6']]

      id_municipio  id_municipio_6
0          1100023          110002
1          1100106          110010
2          1100114          110011
3          1100130          110013
4          1100205          110020
...            ...             ...
5565       2311801          231180
5566       2312502          231250
5567       2312700          231270
5568       2313005          231300
5569       2313104          231310

[5570 rows x 2 columns]

In [166]:
finbra_df.head()

,cd_ibge_6,y,rev_total,rev_curr,rev_trib,rev_tax,rev_fee,rev_tr_curr,rev_tr_fed,rev_tr_stt,...,exp_ind,exp_heal_san,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2
0,431453,2001,2758335.41,2758335.41,6.555268e+04,4.331561e+04,22237.070000,2547699.62,1512795.74,1034903.88,...,362316.540000,265031.240,22846.1500,0.0,5337.26,0.00,NaN,NaN,.2001,4314532001
1,431453,2002,1973343.31,2136505.56,1.184666e+05,1.013939e+05,16159.060000,1924668.31,668256.74,1230217.45,...,3733.949951,452991.125,0.0000,278591.8,16365.81,40513.07,NaN,NaN,.2002,4314532002
2,421265,2013,9365629.00,9365629.00,1.260199e+05,1.089185e+05,12907.500000,9154815.00,6183653.00,2237162.00,...,16886.099609,988255.000,138301.4375,0.0,0.00,0.00,1492860.125,NaN,.2013,4212652013
3,500627,2013,20841374.00,20725176.00,2.806561e+06,2.773809e+06,32752.500000,17692492.00,6929948.50,10463405.00,...,0.000000,3325298.500,613889.8750,48373.0,0.00,0.00,4512029.000,NaN,.2013,5006272013
4,150475,2013,25632392.00,25632392.00,9.417746e+05,9.291695e+05,12605.080078,24414776.00,10333942.00,2591715.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.2013,1504752013

In [167]:
df.head()

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,incumbant_win,term_lim_seat,margin,votos_pct,genero,ocupacao,instrucao,idade,ibge7_code,ibge6_code
0,1301209,-18.0,8418817,-63.075,-4.325,2003,89.0,84.0,25.07463,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1301209.0,130120.0
1,5106505,-2.0,8839853,-57.225,-16.925,2003,77.0,59.0,15.30963,114.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5106505.0,510650.0
2,1500206,8.0,9452215,-48.725,-2.275,2007,86.0,91.0,40.02547,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500206.0,150020.0
3,1101476,9.0,8551885,-61.225,-11.775,2005,42.0,38.0,26.15856,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101476.0,110147.0
4,1508050,-24.0,8930107,-55.975,-4.575,2012,97.0,89.5,29.74225,92.0,...,1.0,0.0,1320.0,0.452698,masculino,prefeito,ensino medio completo,49.0,1508050.0,150805.0

In [168]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'ibge7_code': 2,
 'ibge6_code': 2,
 'murder_threats': 8,
 'assassination': 8,
 'assassination_attempt': 8,
 'f_emitted_count': 8,
 'expen_agri': 8,
 'expen_env_man': 8,
 'expen_agr_org': 8,
 'expen_mining': 8,
 'expen_petrol': 8,
 'expen_prom_ani_pro': 8,
 'expen_prom_veg_pro': 8,
 'expen_other_agr': 8,
 'expen_agr_defense': 8,
 'expen_min_fuel': 8,
 'illegal_mining': 8,
 'illegal_other': 8,
 'illegal_industry': 8,
 'audits': 8,
 'id': 24,
 'municipality': 24,
 'state': 24,
 'region': 24,
 'pmv': 24,
 'forestformation': 24,
 'forestplantaon': 24,
 'pasture': 24,
 'sugarcane': 24,
 'soybean': 24,
 'yrmean_maxtemp': 24,
 'yrmean_pdsi': 24,
 'yrmean_prec': 24,
 'firetotal': 24,
 'cowratio': 24,
 'totalfineadj': 24,
 'adi': 24,
 'gfwlosssqkm': 24,
 'incremento': 24,
 'forest_extent_sqkm': 24,
 'SFlosssqkm': 24,
 'SFincrement': 24,
 'sf1to8': 24,
 'sf9to16': 24,
 'sf17to24': 24,
 'sf25to34': 24,
 'ano': 7463,
 'id_municipio': 7463,
 'sigla_partido': 7463,
 'votos_winner': 7463,
 'votos': 7463,
 'incumbant_run': 7463,
 'incumbant_win': 7463,
 'term_lim_seat': 7463,
 'margin': 7463,
 'votos_pct': 7463,
 'ocupacao': 7463,
 'genero': 7529,
 'idade': 7545,
 'instrucao': 7564,
 'id_candidato_bd': 13120}

## Drop NAs (for Now)

In [169]:
#todo: clean duplicate columns

In [ ]:
#I think I need to drop the jobs variables, since they're correlated w the other n_jobs variables

In [174]:
df = df[['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l',
       'nn_forest.l', 'rain1', 'elevation', 'slope', 'aspect',
       'near_mines', 'near_roads', 'near_hidrovia', 'indigenous_homol',
       'mun_election_year', 'new_forest_code', 'lula', 'dilma', 'temer',
       'bolsonaro', 'fed_election_year', 'populacao', 'pib_pc', 'ironore',
       'silver', 'copper', 'gold', 'soy_price', 'beef_price', 'PIB',
       'n_companies_PUBLIC ADMIN', 'n_companies_AGRICULTURE',
       'n_companies_FOOD AND DRINKS', 'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT',
       'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD',
       'n_companies_NON-METALLIC MINERAL PRODUCTS', 'n_companies_HEALTH',
       'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION',
       'n_companies_RETAIL', 'n_companies_COMPUTING',
       'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER', 'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER-BASED TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR',
       'n_companies_RUBBER AND PLASTIC', 'n_companies_TEXTILES',
       'n_companies_RESEARCH AND DEVELOPMENT',
       'n_companies_AERO TRANSPORT', 'n_companies_SMOKE',
       'n_companies_PETROLEUM REFINING', 'n_companies_',
       'n_jobs_PUBLIC ADMIN', 'n_jobs_AGRICULTURE',
       'n_jobs_FOOD AND DRINKS', 'n_jobs_ACCOMODATION AND FOOD',
       'n_jobs_EQUIPMENT RENTAL', 'n_jobs_WHOLESALE',
       'n_jobs_ASSOCIATIVE ACTIVITIES',
       'n_jobs_AUTOMOBILES AND TRANSPORT', 'n_jobs_FINANCIAL ASSISTANCE',
       'n_jobs_TRADE REP VEHICLES', 'n_jobs_CONSTRUCTION',
       'n_jobs_MAIL AND TELECOM', 'n_jobs_CULTURE AND SPORT',
       'n_jobs_EDITING AND PRINTING', 'n_jobs_EDUCATION',
       'n_jobs_ELECTRICITY AND GAS', 'n_jobs_FINANCES',
       'n_jobs_CLEANING AND SEWAGE', 'n_jobs_MACHINERY',
       'n_jobs_BASIC METALLURGY', 'n_jobs_MINING', 'n_jobs_WOOD PROD',
       'n_jobs_NON-METALLIC MINERAL PRODUCTS', 'n_jobs_HEALTH',
       'n_jobs_SERVICES FOR COMPANIES', 'n_jobs_PERSONAL SERVICES',
       'n_jobs_TRANSPORTATION', 'n_jobs_GROUND TRANSPORT',
       'n_jobs_WATER TREATMENT AND DISTRIBUTION', 'n_jobs_RETAIL',
       'n_jobs_COMPUTING', 'n_jobs_INSURANCE AND SOCIAL SECURITY',
       'n_jobs_METALLIC PRODUCTS', 'n_jobs_DOMESTIC SERVICES',
       'n_jobs_FORESTRY', 'n_jobs_CLOTHING', 'n_jobs_PAPER',
       'n_jobs_INTERNATIONAL BODIES', 'n_jobs_OIL AND GAS',
       'n_jobs_FISHING AND AQUACULTURE', 'n_jobs_CHEMICALS',
       'n_jobs_WATER-BASED TRANSPORTATION', 'n_jobs_REAL ESTATE',
       'n_jobs_RECYCLING', 'n_jobs_LEATHERS AND FOOTWEAR',
       'n_jobs_RUBBER AND PLASTIC', 'n_jobs_TEXTILES',
       'n_jobs_RESEARCH AND DEVELOPMENT', 'n_jobs_AERO TRANSPORT',
       'n_jobs_SMOKE', 'n_jobs_PETROLEUM REFINING', 'n_jobs_',
       'n_jobs_TOTAL INDUSTRIAL', 'n_jobs_TOTAL SERVICE',
       'n_companies_TOTAL INDUSTRIAL', 'n_companies_TOTAL SERVICE',
       'n_companies_TOTAL', 'n_jobs_TOTAL', 'murder_threats',
       'assassination', 'assassination_attempt', 'f_emitted_count',
       'expen_agri', 'expen_env_man', 'expen_agr_org', 'expen_mining',
       'expen_petrol', 'expen_prom_ani_pro', 'expen_prom_veg_pro',
       'expen_other_agr', 'expen_agr_defense', 'expen_min_fuel',
       'illegal_mining', 'illegal_other', 'illegal_industry', 'audits',
       'emiss_pec_full', 'emiss_agr_full', 'emiss_agropec_full', 'id',
       'municipality', 'state', 'region', 'pmv', 'forestformation',
       'forestplantaon', 'pasture', 'sugarcane', 'soybean',
       'yrmean_maxtemp', 'yrmean_pdsi', 'yrmean_prec', 'firetotal',
       'cowratio', 'totalfineadj', 'adi', 'gfwlosssqkm', 'incremento',
       'forest_extent_sqkm', 'SFlosssqkm', 'SFincrement', 'sf1to8',
       'sf9to16', 'sf17to24', 'sf25to34', 
       'id_candidato_bd', 'sigla_partido', 'votos_winner', 'votos',
       'incumbant_run', 'incumbant_win', 'term_lim_seat', 'margin',
       'votos_pct', 'genero', 'ocupacao', 'instrucao', 'idade',
       'ibge7_code', 'ibge6_code']]

In [175]:
df.shape

(15908, 208)

In [176]:
df.head()

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,incumbant_win,term_lim_seat,margin,votos_pct,genero,ocupacao,instrucao,idade,ibge7_code,ibge6_code
0,1301209,-18.0,8418817,-63.075,-4.325,2003,89.0,84.0,25.07463,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1301209.0,130120.0
1,5106505,-2.0,8839853,-57.225,-16.925,2003,77.0,59.0,15.30963,114.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5106505.0,510650.0
2,1500206,8.0,9452215,-48.725,-2.275,2007,86.0,91.0,40.02547,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500206.0,150020.0
3,1101476,9.0,8551885,-61.225,-11.775,2005,42.0,38.0,26.15856,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101476.0,110147.0
4,1508050,-24.0,8930107,-55.975,-4.575,2012,97.0,89.5,29.74225,92.0,...,1.0,0.0,1320.0,0.452698,masculino,prefeito,ensino medio completo,49.0,1508050.0,150805.0

In [177]:
df = df.dropna()

In [178]:
df.shape

(2771, 208)

In [179]:
df.to_csv('TempFullData.csv')

In [ ]:
df_2016 = df[df.year == 2016]

In [ ]:
df_2016

In [ ]:
path = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/full_data_2016.csv'
df_2016.to_csv(path, index=False)

In [285]:
#df.to_csv('full_data.csv', index=False)