In [212]:
import pandas as pd
import numpy as np
import pyreadr

# Data Processing Method:

- read in from analysis.rdata
- calculate PIB from pic per capita and population
- merge labor and social security rais data
- sort jobs and companies by service or industry (Check this with Kathryn, should we get rid of individual ones and also the ones in analysis.Rdata?, I have it by percentage to reduce overlap w population. is this ok?) **
- read in year_deforest data. there are some missing values that result in NAs ** Keep all of them 

- fill in 2016 emission data
- pull in Finbra data ** (change from 6 to 7 digit code, spend more time on this first then ask Kathryn abt NAs)

- legal amazon vs. all of brazil municipalities?
- include election data (incumbent won reelection variables etc., whether mayor has ties to agro)
- indicators and feature importance (https://stats.stackexchange.com/questions/314567/feature-importance-with-dummy-variables)
- grouped variable importance
- see what happens when we drop all but socio/politico variables

# Get Data

## Main Data

In [213]:
main = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/analysis.Rdata') #read R dataframe into Python
df1 = pd.DataFrame(main['forest_full'])
df = df1.sample(50000) #trim because this frame is quite large, test that all runs before doing entire dataset!
#df = df1.sample(100000) #trim because this frame is quite large, test that all runs before doing entire dataset!


#df = df1

In [214]:
df.shape

(50000, 35)

In [215]:
df.head()

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,ironore,silver,copper,gold,soy_price,beef_price,ag_jobs,mining_jobs,public_jobs,construction_jobs
1266996,2109908,-6.0,9678982,-45.575,-3.925,2009,50.0,48.25,27.66923,41.0,...,79.980003,4.706907e+05,5149.740234,31281958.0,378.545551,119.622917,3.028727,0.376966,32.120109,0.805927
1576581,1702406,0.0,9570801,-47.075,-12.975,2011,25.0,24.25,20.85613,557.0,...,167.750000,1.132358e+06,8828.190430,50451668.0,484.245913,183.178349,5.263158,6.277161,18.058909,60.453887
1637331,1300144,-7.0,8692383,-59.275,-7.625,2012,89.0,90.50,35.39343,241.0,...,128.500000,1.001182e+06,7962.350098,53676740.0,537.761837,187.942903,1.977750,0.000000,76.637824,1.606922
1045269,1500503,0.0,9056236,-54.225,-0.275,2008,97.0,97.00,31.51432,352.0,...,155.990005,4.822650e+05,6955.879883,28026348.0,452.942519,121.103472,52.595535,2.862622,20.230105,3.615943
155293,5107263,-7.0,8814701,-57.575,-14.425,2002,32.0,44.00,22.05117,314.0,...,29.309999,1.478946e+05,1559.479980,9965846.0,188.866170,95.403771,20.710059,0.000000,72.189349,0.000000

In [216]:
df.columns

Index(['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l', 'nn_forest.l',
       'rain1', 'elevation', 'slope', 'aspect', 'near_mines', 'near_roads',
       'near_hidrovia', 'indigenous_homol', 'mun_election_year',
       'new_forest_code', 'lula', 'dilma', 'temer', 'bolsonaro',
       'fed_election_year', 'populacao', 'pib_pc', 'ironore', 'silver',
       'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs', 'mining_jobs',
       'public_jobs', 'construction_jobs'],
      dtype='object')

## PIB Data (Economic)

In [217]:
#using givens already instead of filling in

In [218]:
df['PIB'] = df['pib_pc'] * df['populacao']

In [219]:
#pib.Rdata

#pib_read = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/pib.Rdata')
#pib_df = pd.DataFrame(pib_read ['df.pib_pc'])
#pib_df.head()
#df = pd.merge(df, pib_df,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','ano'])

In [220]:
# df = df[['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l', 'nn_forest.l',
#        'rain1', 'elevation', 'slope', 'aspect', 'near_mines', 'near_roads',
#        'near_hidrovia', 'indigenous_homol', 'mun_election_year',
#        'new_forest_code', 'lula', 'dilma', 'temer', 'bolsonaro',
#        'fed_election_year', 'populacao_x', 'pib_pc_x', 'ironore', 'silver',
#        'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs', 'mining_jobs',
#        'public_jobs', 'construction_jobs', 'PIB']]

In [221]:
# df.columns = ['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l', 'nn_forest.l',
#        'rain1', 'elevation', 'slope', 'aspect', 'near_mines', 'near_roads',
#        'near_hidrovia', 'indigenous_homol', 'mun_election_year',
#        'new_forest_code', 'lula', 'dilma', 'temer', 'bolsonaro',
#        'fed_election_year', 'populacao', 'pib_pc', 'ironore', 'silver',
#        'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs', 'mining_jobs',
#        'public_jobs', 'construction_jobs', 'PIB']

In [222]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0}

## RAIS Setor (Labor and Social Security)

In [223]:
#what is the last one in each category n_empresas no label?

In [224]:
#rais_setor_munic.Rdata

rais_read = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/rais_setor_munic.Rdata')
rais_df = pd.DataFrame(rais_read['rais3'])
rais_df.head()

,id_municipio,ano,n_empresas_ADMIN PUBLICA,n_empresas_AGRICULTURA,n_empresas_ALIMENTOS E BEBIDAS,n_empresas_ALOJAMENTO E ALIMENTACAO,n_empresas_ALUGUEL EQUIPAMENTO,n_empresas_ATACADO,n_empresas_ATIVIDADES ASSOCIATIVAS,n_empresas_AUTOMOVEIS E TRANSPORTE,...,n_empregos_IMOBILIARIA,n_empregos_RECICLAGEM,n_empregos_COUROS E CALCADO,n_empregos_BORRACHA E PLASTICO,n_empregos_TEXTEIS,n_empregos_PESQUISA E DESENVOLVIMENTO,n_empregos_TRANSPORTE AEREO,n_empregos_FUMO,n_empregos_REFINO PETROLEO,n_empregos_
0,1100015,2000,2,27,15,13,1,38,126,5,...,0,0,0,0,0,0,0,0,0,0
1,1100015,2001,3,32,17,10,1,40,118,4,...,0,0,0,0,0,0,0,0,0,0
2,1100015,2002,3,45,23,13,0,39,127,4,...,0,0,0,0,0,0,0,0,0,0
3,1100015,2003,2,65,23,13,0,33,109,4,...,0,0,0,0,0,0,0,0,0,0
4,1100015,2004,2,83,44,10,1,29,110,3,...,0,0,0,0,0,0,0,0,0,0

In [225]:
#english names of columns 
rais_df.columns = ['id_municipio', 'ano', 
                   
       'n_companies_PUBLIC ADMIN',
       'n_companies_AGRICULTURE', 'n_companies_FOOD AND DRINKS',
       'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT', 'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD', 'n_companies_NON-METALLIC MINERAL PRODUCTS',
       'n_companies_HEALTH', 'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION', 'n_companies_RETAIL',
       'n_companies_COMPUTING', 'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER',
       'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER-BASED TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR', 'n_companies_RUBBER AND PLASTIC',
       'n_companies_TEXTILES', 'n_companies_RESEARCH AND DEVELOPMENT',
       'n_companies_AERO TRANSPORT', 'n_companies_SMOKE',
       'n_companies_PETROLEUM REFINING', 'n_companies_',
                   
       'n_jobs_PUBLIC ADMIN',
       'n_jobs_AGRICULTURE', 'n_jobs_FOOD AND DRINKS',
       'n_jobs_ACCOMODATION AND FOOD',
       'n_jobs_EQUIPMENT RENTAL', 'n_jobs_WHOLESALE',
       'n_jobs_ASSOCIATIVE ACTIVITIES',
       'n_jobs_AUTOMOBILES AND TRANSPORT', 'n_jobs_FINANCIAL ASSISTANCE',
       'n_jobs_TRADE REP VEHICLES', 'n_jobs_CONSTRUCTION',
       'n_jobs_MAIL AND TELECOM', 'n_jobs_CULTURE AND SPORT',
       'n_jobs_EDITING AND PRINTING', 'n_jobs_EDUCATION',
       'n_jobs_ELECTRICITY AND GAS', 'n_jobs_FINANCES',
       'n_jobs_CLEANING AND SEWAGE', 'n_jobs_MACHINERY',
       'n_jobs_BASIC METALLURGY', 'n_jobs_MINING',
       'n_jobs_WOOD PROD', 'n_jobs_NON-METALLIC MINERAL PRODUCTS',
       'n_jobs_HEALTH', 'n_jobs_SERVICES FOR COMPANIES',
       'n_jobs_PERSONAL SERVICES', 'n_jobs_TRANSPORTATION',
       'n_jobs_GROUND TRANSPORT',
       'n_jobs_WATER TREATMENT AND DISTRIBUTION', 'n_jobs_RETAIL',
       'n_jobs_COMPUTING', 'n_jobs_INSURANCE AND SOCIAL SECURITY',
       'n_jobs_METALLIC PRODUCTS', 'n_jobs_DOMESTIC SERVICES',
       'n_jobs_FORESTRY', 'n_jobs_CLOTHING',
       'n_jobs_PAPER',
       'n_jobs_INTERNATIONAL BODIES',
       'n_jobs_OIL AND GAS', 'n_jobs_FISHING AND AQUACULTURE',
       'n_jobs_CHEMICALS', 'n_jobs_WATER-BASED TRANSPORTATION',
       'n_jobs_REAL ESTATE', 'n_jobs_RECYCLING',
       'n_jobs_LEATHERS AND FOOTWEAR', 'n_jobs_RUBBER AND PLASTIC',
       'n_jobs_TEXTILES', 'n_jobs_RESEARCH AND DEVELOPMENT',
       'n_jobs_AERO TRANSPORT', 'n_jobs_SMOKE',
       'n_jobs_PETROLEUM REFINING', 'n_jobs_']

In [226]:
#sort the 51 categories of companies into industrial and service oriented

industrial_companies = ['n_companies_AGRICULTURE',
                    'n_companies_AUTOMOBILES AND TRANSPORT',
                    'n_companies_TRADE REP VEHICLES', 
                    'n_companies_WOOD PROD', 
                    'n_companies_NON-METALLIC MINERAL PRODUCTS',
                    'n_companies_BASIC METALLURGY', 
                    'n_companies_MINING',
                    'n_companies_TRANSPORTATION',
                    'n_companies_GROUND TRANSPORT',
                    'n_companies_WATER-BASED TRANSPORTATION',
                    'n_companies_AERO TRANSPORT',
                    'n_companies_CONSTRUCTION',
                    'n_companies_OIL AND GAS',
                    'n_companies_MACHINERY',
                    'n_companies_FORESTRY', 
                    'n_companies_ELECTRICITY AND GAS',
                    'n_companies_FISHING AND AQUACULTURE',
                    'n_companies_CHEMICALS', 
                    'n_companies_METALLIC PRODUCTS', 
                    'n_companies_PAPER',
                    'n_companies_WATER TREATMENT AND DISTRIBUTION', 
                    'n_companies_CLEANING AND SEWAGE', 
                    'n_companies_RECYCLING',
                    'n_companies_RUBBER AND PLASTIC', 
                    'n_companies_SMOKE',
                    'n_companies_PETROLEUM REFINING']

service_companies = ['n_companies_PUBLIC ADMIN',
                    'n_companies_FOOD AND DRINKS',
                    'n_companies_ACCOMODATION AND FOOD',
                    'n_companies_EQUIPMENT RENTAL', 
                    'n_companies_WHOLESALE',
                    'n_companies_LEATHERS AND FOOTWEAR',
                    'n_companies_TEXTILES',
                    'n_companies_ASSOCIATIVE ACTIVITIES',
                    'n_companies_FINANCIAL ASSISTANCE',
                    'n_companies_HEALTH', 
                    'n_companies_SERVICES FOR COMPANIES',
                    'n_companies_PERSONAL SERVICES', 
                    'n_companies_MAIL AND TELECOM', 
                    'n_companies_EDITING AND PRINTING', 
                    'n_companies_EDUCATION',
                    'n_companies_DOMESTIC SERVICES',
                    'n_companies_INSURANCE AND SOCIAL SECURITY',
                    'n_companies_RETAIL',
                    'n_companies_FINANCES',
                    'n_companies_CULTURE AND SPORT',
                    'n_companies_REAL ESTATE',
                    'n_companies_RESEARCH AND DEVELOPMENT',
                    'n_companies_COMPUTING',
                    'n_companies_CLOTHING', 
                    'n_companies_INTERNATIONAL BODIES',]

In [227]:
#sort the 51 categories of jobs into industrial and service oriented

industrial_jobs = ['n_jobs_AGRICULTURE',
                    'n_jobs_AUTOMOBILES AND TRANSPORT',
                    'n_jobs_TRADE REP VEHICLES', 
                    'n_jobs_WOOD PROD', 
                    'n_jobs_NON-METALLIC MINERAL PRODUCTS',
                    'n_jobs_BASIC METALLURGY', 
                    'n_jobs_MINING',
                    'n_jobs_TRANSPORTATION',
                    'n_jobs_GROUND TRANSPORT',
                    'n_jobs_WATER-BASED TRANSPORTATION',
                    'n_jobs_AERO TRANSPORT',
                    'n_jobs_CONSTRUCTION',
                    'n_jobs_OIL AND GAS',
                    'n_jobs_MACHINERY',
                    'n_jobs_FORESTRY', 
                    'n_jobs_ELECTRICITY AND GAS',
                    'n_jobs_FISHING AND AQUACULTURE',
                    'n_jobs_CHEMICALS', 
                    'n_jobs_METALLIC PRODUCTS', 
                    'n_jobs_PAPER',
                    'n_jobs_WATER TREATMENT AND DISTRIBUTION', 
                    'n_jobs_CLEANING AND SEWAGE', 
                    'n_jobs_RECYCLING',
                    'n_jobs_RUBBER AND PLASTIC', 
                    'n_jobs_SMOKE',
                    'n_jobs_PETROLEUM REFINING'   ]

service_jobs = ['n_jobs_PUBLIC ADMIN',
                    'n_jobs_FOOD AND DRINKS',
                    'n_jobs_ACCOMODATION AND FOOD',
                    'n_jobs_EQUIPMENT RENTAL', 
                    'n_jobs_WHOLESALE',
                    'n_jobs_LEATHERS AND FOOTWEAR',
                    'n_jobs_TEXTILES',
                    'n_jobs_ASSOCIATIVE ACTIVITIES',
                    'n_jobs_FINANCIAL ASSISTANCE',
                    'n_jobs_HEALTH', 
                    'n_jobs_SERVICES FOR COMPANIES',
                    'n_jobs_PERSONAL SERVICES', 
                    'n_jobs_MAIL AND TELECOM', 
                    'n_jobs_EDITING AND PRINTING', 
                    'n_jobs_EDUCATION',
                    'n_jobs_DOMESTIC SERVICES',
                    'n_jobs_INSURANCE AND SOCIAL SECURITY',
                    'n_jobs_RETAIL',
                    'n_jobs_FINANCES',
                    'n_jobs_CULTURE AND SPORT',
                    'n_jobs_REAL ESTATE',
                    'n_jobs_RESEARCH AND DEVELOPMENT',
                    'n_jobs_COMPUTING',
                    'n_jobs_CLOTHING', 
                    'n_jobs_INTERNATIONAL BODIES',]

In [228]:
#group 
rais_df['n_jobs_TOTAL INDUSTRIAL'] = rais_df[industrial_jobs].sum(axis=1)
rais_df['n_jobs_TOTAL SERVICE'] = rais_df[service_jobs].sum(axis=1)

rais_df['n_companies_TOTAL INDUSTRIAL'] = rais_df[industrial_companies].sum(axis=1)
rais_df['n_companies_TOTAL SERVICE'] = rais_df[service_companies].sum(axis=1)

In [229]:
companies_columns_list = ['n_companies_PUBLIC ADMIN',
       'n_companies_AGRICULTURE', 'n_companies_FOOD AND DRINKS',
       'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT', 'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD', 'n_companies_NON-METALLIC MINERAL PRODUCTS',
       'n_companies_HEALTH', 'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION', 'n_companies_RETAIL',
       'n_companies_COMPUTING', 'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER',
       'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER-BASED TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR', 'n_companies_RUBBER AND PLASTIC',
       'n_companies_TEXTILES', 'n_companies_RESEARCH AND DEVELOPMENT',
       'n_companies_AERO TRANSPORT', 'n_companies_SMOKE',
       'n_companies_PETROLEUM REFINING', 'n_companies_']

rais_df['n_companies_TOTAL'] = rais_df[companies_columns_list].sum(axis=1)

In [230]:
jobs_columns_list = ['n_jobs_PUBLIC ADMIN',
       'n_jobs_AGRICULTURE', 'n_jobs_FOOD AND DRINKS',
       'n_jobs_ACCOMODATION AND FOOD',
       'n_jobs_EQUIPMENT RENTAL', 'n_jobs_WHOLESALE',
       'n_jobs_ASSOCIATIVE ACTIVITIES',
       'n_jobs_AUTOMOBILES AND TRANSPORT', 'n_jobs_FINANCIAL ASSISTANCE',
       'n_jobs_TRADE REP VEHICLES', 'n_jobs_CONSTRUCTION',
       'n_jobs_MAIL AND TELECOM', 'n_jobs_CULTURE AND SPORT',
       'n_jobs_EDITING AND PRINTING', 'n_jobs_EDUCATION',
       'n_jobs_ELECTRICITY AND GAS', 'n_jobs_FINANCES',
       'n_jobs_CLEANING AND SEWAGE', 'n_jobs_MACHINERY',
       'n_jobs_BASIC METALLURGY', 'n_jobs_MINING',
       'n_jobs_WOOD PROD', 'n_jobs_NON-METALLIC MINERAL PRODUCTS',
       'n_jobs_HEALTH', 'n_jobs_SERVICES FOR COMPANIES',
       'n_jobs_PERSONAL SERVICES', 'n_jobs_TRANSPORTATION',
       'n_jobs_GROUND TRANSPORT',
       'n_jobs_WATER TREATMENT AND DISTRIBUTION', 'n_jobs_RETAIL',
       'n_jobs_COMPUTING', 'n_jobs_INSURANCE AND SOCIAL SECURITY',
       'n_jobs_METALLIC PRODUCTS', 'n_jobs_DOMESTIC SERVICES',
       'n_jobs_FORESTRY', 'n_jobs_CLOTHING',
       'n_jobs_PAPER',
       'n_jobs_INTERNATIONAL BODIES',
       'n_jobs_OIL AND GAS', 'n_jobs_FISHING AND AQUACULTURE',
       'n_jobs_CHEMICALS', 'n_jobs_WATER-BASED TRANSPORTATION',
       'n_jobs_REAL ESTATE', 'n_jobs_RECYCLING',
       'n_jobs_LEATHERS AND FOOTWEAR', 'n_jobs_RUBBER AND PLASTIC',
       'n_jobs_TEXTILES', 'n_jobs_RESEARCH AND DEVELOPMENT',
       'n_jobs_AERO TRANSPORT', 'n_jobs_SMOKE',
       'n_jobs_PETROLEUM REFINING', 'n_jobs_']

rais_df['n_jobs_TOTAL'] = rais_df[jobs_columns_list].sum(axis=1)

In [231]:
#change to percentage instead of total

In [232]:
rais_df[jobs_columns_list] = rais_df[jobs_columns_list].div(rais_df.n_jobs_TOTAL, axis=0)
rais_df[companies_columns_list] = rais_df[companies_columns_list].div(rais_df.n_companies_TOTAL, axis=0)

In [233]:
rais_df.head()

,id_municipio,ano,n_companies_PUBLIC ADMIN,n_companies_AGRICULTURE,n_companies_FOOD AND DRINKS,n_companies_ACCOMODATION AND FOOD,n_companies_EQUIPMENT RENTAL,n_companies_WHOLESALE,n_companies_ASSOCIATIVE ACTIVITIES,n_companies_AUTOMOBILES AND TRANSPORT,...,n_jobs_AERO TRANSPORT,n_jobs_SMOKE,n_jobs_PETROLEUM REFINING,n_jobs_,n_jobs_TOTAL INDUSTRIAL,n_jobs_TOTAL SERVICE,n_companies_TOTAL INDUSTRIAL,n_companies_TOTAL SERVICE,n_companies_TOTAL,n_jobs_TOTAL
0,1100015,2000,0.003711,0.050093,0.027829,0.024119,0.001855,0.070501,0.233766,0.009276,...,0.0,0.0,0.0,0.0,336,860,118,421,539,1196
1,1100015,2001,0.005525,0.058932,0.031308,0.018416,0.001842,0.073665,0.217311,0.007366,...,0.0,0.0,0.0,0.0,355,830,124,419,543,1185
2,1100015,2002,0.004992,0.074875,0.038270,0.021631,0.000000,0.064892,0.211314,0.006656,...,0.0,0.0,0.0,0.0,418,1022,145,456,601,1440
3,1100015,2003,0.003190,0.103668,0.036683,0.020734,0.000000,0.052632,0.173844,0.006380,...,0.0,0.0,0.0,0.0,477,1152,163,464,627,1629
4,1100015,2004,0.003125,0.129688,0.068750,0.015625,0.001563,0.045312,0.171875,0.004687,...,0.0,0.0,0.0,0.0,516,1094,180,460,640,1610

In [234]:
df = pd.merge(df, rais_df,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','ano'])

In [235]:
df.head()

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,n_jobs_AERO TRANSPORT,n_jobs_SMOKE,n_jobs_PETROLEUM REFINING,n_jobs_,n_jobs_TOTAL INDUSTRIAL,n_jobs_TOTAL SERVICE,n_companies_TOTAL INDUSTRIAL,n_companies_TOTAL SERVICE,n_companies_TOTAL,n_jobs_TOTAL
0,2109908,-6.0,9678982,-45.575,-3.925,2009,50.0,48.25,27.66923,41.0,...,0.0,0.0,0.0,0.0,1184,6509,304,1482,1786,7693
1,1702406,0.0,9570801,-47.075,-12.975,2011,25.0,24.25,20.85613,557.0,...,0.0,0.0,0.0,0.0,1510,561,86,112,198,2071
2,1300144,-7.0,8692383,-59.275,-7.625,2012,89.0,90.50,35.39343,241.0,...,0.0,0.0,0.0,0.0,77,732,93,295,388,809
3,1500503,0.0,9056236,-54.225,-0.275,2008,97.0,97.00,31.51432,352.0,...,0.0,0.0,0.0,0.0,5044,2257,144,486,630,7301
4,5107263,-7.0,8814701,-57.575,-14.425,2002,32.0,44.00,22.05117,314.0,...,0.0,0.0,0.0,0.0,36,133,18,54,72,169

In [236]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'id_municipio': 0,
 'ano': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0}

## Year Forest Data

## NOTE: HAS NAs for these municipalities: 
1504752    
2102374    
2103307    
2109304   
2111748
5104526    
5104542    

- check if these were created later with municipality split
- check about if they're early 
- figure out which ones split up, code them as the old municipality for the years before the split

In [237]:
result1 = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/year_deforest.RData')
df2 = pd.DataFrame(result1['year_deforest'])
#df2 = df2.fillna(0)
df2 = df2.drop(['term', 'inc', 'area', 'per'], axis = 1)
df2['audits'] = df2['audits'].fillna(0)
df2.head()

,year,munic_id,murder_threats,assassination,assassination_attempt,emiss_agr,emiss_agropec,emiss_pec,f_emitted_count,expen_agri,...,expen_petrol,expen_prom_ani_pro,expen_prom_veg_pro,expen_other_agr,expen_agr_defense,expen_min_fuel,illegal_mining,illegal_other,illegal_industry,audits
0,2000,1100015,0.0,0.0,0.0,0.0,0.0,0.0,36.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
1,2000,1100023,0.0,0.0,0.0,0.0,0.0,0.0,102.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,173.167599,0.0,1744.914255,0.0
2,2000,1100031,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
3,2000,1100049,0.0,0.0,0.0,0.0,0.0,0.0,46.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
4,2000,1100056,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0

In [238]:
dict(sorted((df2.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'year': 0,
 'munic_id': 0,
 'murder_threats': 0,
 'assassination': 0,
 'assassination_attempt': 0,
 'f_emitted_count': 0,
 'expen_agri': 0,
 'expen_env_man': 0,
 'expen_agr_org': 0,
 'expen_mining': 0,
 'expen_petrol': 0,
 'expen_prom_ani_pro': 0,
 'expen_prom_veg_pro': 0,
 'expen_other_agr': 0,
 'expen_agr_defense': 0,
 'expen_min_fuel': 0,
 'illegal_mining': 0,
 'illegal_other': 0,
 'illegal_industry': 0,
 'audits': 0,
 'emiss_agr': 760,
 'emiss_agropec': 760,
 'emiss_pec': 760}

In [239]:
#merge
df = pd.merge(df, df2,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

In [240]:
#fill nas with 0 for audits
#df['audits'] = df['audits'].fillna(0)

In [241]:
df[df.expen_agri.isna()].groupby(['ID']).size()

ID
1504752    14
2103307    15
2109304     1
2111748     1
2112704     1
2911105     1
dtype: int64

In [242]:
df[df.expen_agri.isna()].groupby(['year']).size()

year
2002    1
2004    3
2005    1
2006    1
2007    1
2008    1
2009    1
2010    5
2011    1
2012    1
2013    1
2014    4
2015    8
2016    4
dtype: int64

In [243]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'id_municipio': 0,
 'ano': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'munic_id': 33,
 'murder_threats': 33,
 'assassination': 33,
 'assassination_attempt': 33,
 'f_emitted_count': 33,
 'expen_agri': 33,
 'expen_env_man': 33,
 'expen_agr_org': 33,
 'expen_mining': 33,
 'expen_petrol': 33,
 'expen_prom_ani_pro': 33,
 'expen_prom_veg_pro': 33,
 'expen_other_agr': 33,
 'expen_agr_defense': 33,
 'expen_min_fuel': 33,
 'illegal_mining': 33,
 'illegal_other': 33,
 'illegal_industry': 33,
 'audits': 33,
 'emiss_agr': 3417,
 'emiss_agropec': 3417,
 'emiss_pec': 3417}

In [244]:
#now deal with missing emissions entries
# 3 emissions variables 'emiss_agr', 'emiss_agropec', 'emiss_pec',
#In the data, variable “atividade_economica” contains the values AGR, PEC and AGROPEC. 
#So, for each municipality/year, sum the emissions (emissao) that correspond to atividade_economica 
#== “AGROPEC”, “AGR” and “PEC” and that should give you the three variables.

In [245]:
df[df.emiss_agr.isna()].groupby(['year']).size()

year
2002       1
2004       3
2005       1
2006       1
2007       1
2008       1
2009       1
2010       5
2011       1
2012       1
2013       1
2014       4
2015       8
2016    3388
dtype: int64

In [246]:
#file_path = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/Rdata/emissions2016.Rdata'
file_path = '/Users/annieulichney/Desktop/Deforestation/emissions2016.Rdata'

emission2016 = pyreadr.read_r(file_path)
emdf = pd.DataFrame(emission2016['df.emissions'])
emdf.head()

,ano,sigla_uf,id_municipio,nivel_1,nivel_2,nivel_3,nivel_4,nivel_5,nivel_6,tipo_emissao,gas,atividade_economica,produto,emissao
0,2016,RO,1100015,Energia,Emissões pela Queima de Combustíveis,Geração de Eletricidade (Serviço Público),NaN,Diesel de petróleo,Centrais Elétricas de Serviço Público,Emissão,CO2e (t) GWP-AR5,ENE_ELET,ENE_ELET,882.924870
1,2016,RO,1100015,Energia,Emissões pela Queima de Combustíveis,Geração de Eletricidade (Serviço Público),NaN,Óleo diesel,Centrais Elétricas de Serviço Público,Emissão,CO2e (t) GWP-AR5,ENE_ELET,ENE_ELET,3.456047
2,2016,RO,1100015,Energia,Emissões pela Queima de Combustíveis,Transportes,Aéreo,Querosene de aviação,Aeronaves,Emissão,CO2e (t) GWP-AR5,TRAN,NaN,0.963241
3,2016,RO,1100015,Mudança de Uso da Terra e Floresta,Remoção em Áreas Protegidas,Amazônia,em Área Protegida,Vegetação nativa estável,Floresta primária -- Floresta primária,Remoção,CO2e (t) GWP-AR5,CONSERV,NaN,-271351.000000
4,2016,RO,1100015,Mudança de Uso da Terra e Floresta,Remoção em Áreas Protegidas,Amazônia,em Área Protegida,Vegetação nativa estável,Vegetação não florestal primária -- Vegetação ...,Remoção,CO2e (t) GWP-AR5,CONSERV,NaN,-49479.000000

In [247]:
#agro + pec
both = emdf.loc[emdf['atividade_economica'].isin(['PEC', 'AGR'])][['ano', 'id_municipio', 'atividade_economica', 'emissao']]
both.columns = ['ano', 'id_municipio', 'atividade_economica', 'emissao_agropec_2016']


both['emissao_agropec_2016'] = both['emissao_agropec_2016'].fillna(0)

both_summed = pd.DataFrame(both.groupby(['ano', 'id_municipio'])['emissao_agropec_2016'].sum()).reset_index()

#change dtype
both_summed['id_municipio'] = both_summed['id_municipio'].astype(int)
both_summed['ano'] = both_summed['ano'].astype(int)

both_summed.head()

    ano  id_municipio  emissao_agropec_2016
0  2016       1100015         761694.534692
1  2016       1100023         852491.945741
2  2016       1100031         268736.763683
3  2016       1100049         882192.110315
4  2016       1100056         212634.316121

In [248]:
#agro only
agro_df = emdf.loc[emdf['atividade_economica'].isin(['AGR'])][['ano', 'id_municipio', 'atividade_economica', 'emissao']]
agro_df.columns = ['ano', 'id_municipio', 'atividade_economica', 'emissao_agr_2016']


agro_df['emissao_agr_2016'] = agro_df['emissao_agr_2016'].fillna(0)

agro_df_summed = pd.DataFrame(agro_df.groupby(['ano', 'id_municipio'])['emissao_agr_2016'].sum()).reset_index()

#change dtype
agro_df_summed['id_municipio'] = agro_df_summed['id_municipio'].astype(int)
agro_df_summed['ano'] = agro_df_summed['ano'].astype(int)

agro_df_summed.head()

    ano  id_municipio  emissao_agr_2016
0  2016       1100015       8479.297773
1  2016       1100023       2822.190980
2  2016       1100031      17688.479558
3  2016       1100049       4250.759400
4  2016       1100056      32702.088696

In [249]:
#agro only
pec_df = emdf.loc[emdf['atividade_economica'].isin(['PEC'])][['ano', 'id_municipio', 'atividade_economica', 'emissao']]
pec_df.columns = ['ano', 'id_municipio', 'atividade_economica', 'emissao_pec_2016']


pec_df['emissao_pec_2016'] = pec_df['emissao_pec_2016'].fillna(0)

pec_df_summed = pd.DataFrame(pec_df.groupby(['ano', 'id_municipio'])['emissao_pec_2016'].sum()).reset_index()

#change dtype
pec_df_summed['id_municipio'] = pec_df_summed['id_municipio'].astype(int)
pec_df_summed['ano'] = pec_df_summed['ano'].astype(int)

pec_df_summed.head()

    ano  id_municipio  emissao_pec_2016
0  2016       1100015     753215.236920
1  2016       1100023     849669.754761
2  2016       1100031     251048.284126
3  2016       1100049     877941.350915
4  2016       1100056     179932.227425

In [250]:
#merge twice to get all 3 columns
emiss_df = pd.merge(agro_df_summed, both_summed,  how = 'left', left_on = ['id_municipio','ano'], right_on = ['id_municipio','ano'])
emiss_df = pd.merge(pec_df_summed, emiss_df,  how = 'left', left_on = ['id_municipio','ano'], right_on = ['id_municipio','ano'])

In [251]:
emiss_df.head()

,ano,id_municipio,emissao_pec_2016,emissao_agr_2016,emissao_agropec_2016
0,2016,1100015,753215.236920,8479.297773,761694.534692
1,2016,1100023,849669.754761,2822.190980,852491.945741
2,2016,1100031,251048.284126,17688.479558,268736.763683
3,2016,1100049,877941.350915,4250.759400,882192.110315
4,2016,1100056,179932.227425,32702.088696,212634.316121

In [252]:
df = pd.merge(df, emiss_df,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','ano'])

In [253]:
df['emissao_pec_2016'] = df['emissao_pec_2016'].fillna(0)
df['emissao_agr_2016'] = df['emissao_agr_2016'].fillna(0)
df['emissao_agropec_2016'] = df['emissao_agropec_2016'].fillna(0)


df['emiss_pec'] = df['emiss_pec'].fillna(0)
df['emiss_agr'] = df['emiss_agr'].fillna(0)
df['emiss_agropec'] = df['emiss_agropec'].fillna(0)

In [254]:
df['emiss_pec_full'] = df['emiss_pec'] + df['emissao_pec_2016']
df['emiss_agr_full'] = df['emiss_agr'] + df['emissao_agr_2016']
df['emiss_agropec_full'] = df['emiss_agropec'] + df['emissao_agropec_2016']

In [255]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'id_municipio_x': 0,
 'ano_x': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_agr': 0,
 'emiss_agropec': 0,
 'emiss_pec': 0,
 'emissao_pec_2016': 0,
 'emissao_agr_2016': 0,
 'emissao_agropec_2016': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'munic_id': 33,
 'murder_threats': 33,
 'assassination': 33,
 'assassination_attempt': 33,
 'f_emitted_count': 33,
 'expen_agri': 33,
 'expen_env_man': 33,
 'expen_agr_org': 33,
 'expen_mining': 33,
 'expen_petrol': 33,
 'expen_prom_ani_pro': 33,
 'expen_prom_veg_pro': 33,
 'expen_other_agr': 33,
 'expen_agr_defense': 33,
 'expen_min_fuel': 33,
 'illegal_mining': 33,
 'illegal_other': 33,
 'illegal_industry': 33,
 'audits': 33,
 'ano_y': 47211,
 'id_municipio_y': 47211}

In [256]:
df = df[['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l',
       'nn_forest.l', 'rain1', 'elevation', 'slope', 'aspect',
       'near_mines', 'near_roads', 'near_hidrovia', 'indigenous_homol',
       'mun_election_year', 'new_forest_code', 'lula', 'dilma', 'temer',
       'bolsonaro', 'fed_election_year', 'populacao', 'pib_pc', 'ironore',
       'silver', 'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs',
       'mining_jobs', 'public_jobs', 'construction_jobs', 'PIB','n_companies_PUBLIC ADMIN',
       'n_companies_AGRICULTURE', 'n_companies_FOOD AND DRINKS',
       'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT',
       'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD',
       'n_companies_NON-METALLIC MINERAL PRODUCTS', 'n_companies_HEALTH',
       'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION',
       'n_companies_RETAIL', 'n_companies_COMPUTING',
       'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER', 'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER-BASED TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR',
       'n_companies_RUBBER AND PLASTIC', 'n_companies_TEXTILES',
       'n_companies_RESEARCH AND DEVELOPMENT',
       'n_companies_AERO TRANSPORT', 'n_companies_SMOKE',
       'n_companies_PETROLEUM REFINING', 'n_companies_',
       'n_jobs_PUBLIC ADMIN', 'n_jobs_AGRICULTURE',
       'n_jobs_FOOD AND DRINKS', 'n_jobs_ACCOMODATION AND FOOD',
       'n_jobs_EQUIPMENT RENTAL', 'n_jobs_WHOLESALE',
       'n_jobs_ASSOCIATIVE ACTIVITIES',
       'n_jobs_AUTOMOBILES AND TRANSPORT', 'n_jobs_FINANCIAL ASSISTANCE',
       'n_jobs_TRADE REP VEHICLES', 'n_jobs_CONSTRUCTION',
       'n_jobs_MAIL AND TELECOM', 'n_jobs_CULTURE AND SPORT',
       'n_jobs_EDITING AND PRINTING', 'n_jobs_EDUCATION',
       'n_jobs_ELECTRICITY AND GAS', 'n_jobs_FINANCES',
       'n_jobs_CLEANING AND SEWAGE', 'n_jobs_MACHINERY',
       'n_jobs_BASIC METALLURGY', 'n_jobs_MINING', 'n_jobs_WOOD PROD',
       'n_jobs_NON-METALLIC MINERAL PRODUCTS', 'n_jobs_HEALTH',
       'n_jobs_SERVICES FOR COMPANIES', 'n_jobs_PERSONAL SERVICES',
       'n_jobs_TRANSPORTATION', 'n_jobs_GROUND TRANSPORT',
       'n_jobs_WATER TREATMENT AND DISTRIBUTION', 'n_jobs_RETAIL',
       'n_jobs_COMPUTING', 'n_jobs_INSURANCE AND SOCIAL SECURITY',
       'n_jobs_METALLIC PRODUCTS', 'n_jobs_DOMESTIC SERVICES',
       'n_jobs_FORESTRY', 'n_jobs_CLOTHING', 'n_jobs_PAPER',
       'n_jobs_INTERNATIONAL BODIES', 'n_jobs_OIL AND GAS',
       'n_jobs_FISHING AND AQUACULTURE', 'n_jobs_CHEMICALS',
       'n_jobs_WATER-BASED TRANSPORTATION', 'n_jobs_REAL ESTATE',
       'n_jobs_RECYCLING', 'n_jobs_LEATHERS AND FOOTWEAR',
       'n_jobs_RUBBER AND PLASTIC', 'n_jobs_TEXTILES',
       'n_jobs_RESEARCH AND DEVELOPMENT', 'n_jobs_AERO TRANSPORT',
       'n_jobs_SMOKE', 'n_jobs_PETROLEUM REFINING', 'n_jobs_',
       'n_jobs_TOTAL INDUSTRIAL', 'n_jobs_TOTAL SERVICE',
       'n_companies_TOTAL INDUSTRIAL', 'n_companies_TOTAL SERVICE',
       'n_companies_TOTAL', 'n_jobs_TOTAL', 
       'murder_threats', 'assassination',
       'assassination_attempt', 
       'f_emitted_count', 'expen_agri', 'expen_env_man', 'expen_agr_org',
       'expen_mining', 'expen_petrol', 'expen_prom_ani_pro',
       'expen_prom_veg_pro', 'expen_other_agr', 'expen_agr_defense',
       'expen_min_fuel', 'illegal_mining', 'illegal_other',
       'illegal_industry', 'audits', 
       'emiss_pec_full', 'emiss_agr_full', 'emiss_agropec_full']]

In [257]:
df[df.murder_threats.isna()].groupby(['ID']).size()

ID
1504752    14
2103307    15
2109304     1
2111748     1
2112704     1
2911105     1
dtype: int64

In [258]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'murder_threats': 33,
 'assassination': 33,
 'assassination_attempt': 33,
 'f_emitted_count': 33,
 'expen_agri': 33,
 'expen_env_man': 33,
 'expen_agr_org': 33,
 'expen_mining': 33,
 'expen_petrol': 33,
 'expen_prom_ani_pro': 33,
 'expen_prom_veg_pro': 33,
 'expen_other_agr': 33,
 'expen_agr_defense': 33,
 'expen_min_fuel': 33,
 'illegal_mining': 33,
 'illegal_other': 33,
 'illegal_industry': 33,
 'audits': 33}

In [259]:
#check that the merge worked
#df[(df.year == 2016) & (df.ID == 1100015) & (df.FID == 8454645)].emiss_pec_full.values[0] + df[(df.year == 2016) & (df.ID == 1100015) & (df.FID == 8454645)].emiss_agr_full.values[0] == df[(df.year == 2016) & (df.ID == 1100015) & (df.FID == 8454645)].emiss_agropec_full.values[0]

In [260]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'murder_threats': 33,
 'assassination': 33,
 'assassination_attempt': 33,
 'f_emitted_count': 33,
 'expen_agri': 33,
 'expen_env_man': 33,
 'expen_agr_org': 33,
 'expen_mining': 33,
 'expen_petrol': 33,
 'expen_prom_ani_pro': 33,
 'expen_prom_veg_pro': 33,
 'expen_other_agr': 33,
 'expen_agr_defense': 33,
 'expen_min_fuel': 33,
 'illegal_mining': 33,
 'illegal_other': 33,
 'illegal_industry': 33,
 'audits': 33}

In [261]:
#df[df.illegal_mining.isna()].groupby(['ID']).size()

In [262]:
#df[df.expen_mining.isna()].groupby(['ID']).size()

## Illegal mining data by municipality

In [263]:
#this is also in year_deforest so I don't double merge

In [264]:
#illegal_mine = pd.read_csv('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/illegal_mining.csv')
#df = pd.merge(df, illegal_mine,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

In [265]:
#illegal_mine.head()

## Violence

In [266]:
#made all NAs 0 here
#ended up also commenting this out because it's repeated in the year_deforest dataset

In [267]:
#violence = pd.read_csv('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/violence_all.csv')
#violence.fillna(0)
#violence = violence[['year', 'murder_threats', 'assassination', 'assassination_attempt', 'munic_id']]
#df = pd.merge(df, violence,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

## Fines

In [268]:
#also in year_deforest

In [269]:
#fines = pd.read_csv('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/fines.csv')
#fines = fines[['munic_id', 'year', 'f_emitted_count']]
#df = pd.merge(df, fines,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

In [270]:
#fines.head()

In [271]:
#dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

## Political Variables

In [272]:
path = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/legal_amazon_muncipalities_panel2001to2019.dta'

legal = pd.read_stata(path)
legal['forestplantaon'] = legal['forestplantaon'].fillna(0)
legal['soybean'] = legal['soybean'].fillna(0)
legal['sugarcane'] = legal['sugarcane'].fillna(0)




legal = legal[['id', 'municipality', 'state', 'region', 'year', 'pmv',
       'forestformation', 'forestplantaon', 'pasture', 'sugarcane', 'soybean',
       'yrmean_maxtemp', 'yrmean_pdsi', 'yrmean_prec', 'firetotal',
         'cowratio',
       'totalfineadj', 'adi', 'gfwlosssqkm', 'incremento',
       'forest_extent_sqkm', 'SFlosssqkm', 'SFincrement', 'sf1to8', 'sf9to16',
       'sf17to24', 'sf25to34']]

In [273]:
dict(sorted((legal.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'id': 0,
 'municipality': 0,
 'state': 0,
 'region': 0,
 'year': 0,
 'pmv': 0,
 'forestformation': 0,
 'forestplantaon': 0,
 'pasture': 0,
 'sugarcane': 0,
 'soybean': 0,
 'yrmean_maxtemp': 0,
 'yrmean_pdsi': 0,
 'yrmean_prec': 0,
 'firetotal': 0,
 'cowratio': 0,
 'totalfineadj': 0,
 'adi': 0,
 'gfwlosssqkm': 0,
 'incremento': 0,
 'forest_extent_sqkm': 0,
 'SFlosssqkm': 0,
 'SFincrement': 0,
 'sf1to8': 0,
 'sf9to16': 0,
 'sf17to24': 0,
 'sf25to34': 0}

In [274]:
#count fines and gdp per capita we already have and pop den

#drop yearpmv, pmv municipios verdes program participation, opt in, self selection so hard to test effect
#aid, tax benefits, in exchange for limiting deforestation and other forest code guidelines
#want more municipalities to register & keep deforestation under code levels, state/fed help & subsidies

#soybean and forest plantation missing values should be 0s DONE

#nonagvaladd data not available for 2001 and 2019, can drop for now since we have workforce in non ag as proxy

In [275]:
legal['year']= legal['year'].apply(lambda x: x.year)

In [276]:
df = pd.merge(df, legal,  how = 'left', left_on = ['ID','year'], right_on = ['id','year'])

In [277]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'murder_threats': 33,
 'assassination': 33,
 'assassination_attempt': 33,
 'f_emitted_count': 33,
 'expen_agri': 33,
 'expen_env_man': 33,
 'expen_agr_org': 33,
 'expen_mining': 33,
 'expen_petrol': 33,
 'expen_prom_ani_pro': 33,
 'expen_prom_veg_pro': 33,
 'expen_other_agr': 33,
 'expen_agr_defense': 33,
 'expen_min_fuel': 33,
 'illegal_mining': 33,
 'illegal_other': 33,
 'illegal_industry': 33,
 'audits': 33,
 'id': 90,
 'municipality': 90,
 'state': 90,
 'region': 90,
 'pmv': 90,
 'forestformation': 90,
 'forestplantaon': 90,
 'pasture': 90,
 'sugarcane': 90,
 'soybean': 90,
 'yrmean_maxtemp': 90,
 'yrmean_pdsi': 90,
 'yrmean_prec': 90,
 'firetotal': 90,
 'cowratio': 90,
 'totalfineadj': 90,
 'adi': 90,
 'gfwlosssqkm': 90,
 'incremento': 90,
 'forest_extent_sqkm': 90,
 'SFlosssqkm': 90,
 'SFincrement': 90,
 'sf1to8': 90,
 'sf9to16': 90,
 'sf17to24': 90,
 'sf25to34': 90}

In [278]:
#check where gaps in political variables occurr: 
df[df.sf25to34.isna()].groupby(['ID']).size()

ID
1504752    14
2103307    15
2109304     1
2111748     1
2112704     1
2911105     1
5104526    25
5104542    32
dtype: int64

In [279]:
df[df.adi.isna()].groupby(['ID']).size()

ID
1504752    14
2103307    15
2109304     1
2111748     1
2112704     1
2911105     1
5104526    25
5104542    32
dtype: int64

In [280]:
#check where gaps in expenditure
df[df.expen_petrol.isna()].groupby(['ID']).size()

ID
1504752    14
2103307    15
2109304     1
2111748     1
2112704     1
2911105     1
dtype: int64

In [281]:
df[df.murder_threats.isna()].groupby(['ID']).size()

#1504752 is Mojuí dos Campos, started 2006

ID
1504752    14
2103307    15
2109304     1
2111748     1
2112704     1
2911105     1
dtype: int64

In [106]:
#might be better to use other data than elec here, 

#candidate level dataset, more cands than muns, need to collapse to mun level
#this includes those that didn't win but not margin of victory 

#cand prefeito vote, includes vote counts for all of the candidates
#1996 doesn't have the cpf but we start in 2000
#cand prefeito includes the characteristics of each cand, merge to get votes (on cpf, )

#votes one has fewer cands, id candidato bd

#percentage of votes for prefeito, and margin of victory 

#effects of reelection and term limits, if the mayor appears 

#if person in office in 1996 term limited in 2004
#create one variable for if the person is an encumbant running for reelection, person in 1996 running in 2000 (binary)
#encumbant wins reelection (in next election will be term limited)

#first term or second term binary variables 
#percentage of votes and margin of victory

#resultado 

#keep sigla partido of the winner and coalition 

#keep age gender job of winner

In [107]:
#create 3rd dataset at the municipality level that I'm going to merge in for Kathryn

In [108]:
# path_2 = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/elections_munic.xlsx'
# elec = pd.read_excel(path_2)
# elec.head()

# dict(sorted((elec.isna().sum()).to_dict().items(), key=lambda item: item[1]))
# elec[elec.el_votos_p.isna()].groupby(['ano']).size()
# elec[elec.el_votos_p.isna()].groupby(['id']).size()

In [109]:
elec = pd.read_csv('/Users/annieulichney/Documents/GitHub/Deforestation/ElectionCleanedData.csv', index_col = [0])

In [110]:
elec.head()

,ano,id_municipio,id_candidato_bd,sigla_partido,votos_winner,votos,incumbant_run,incumbant_win,term_lim_seat,margin,votos_pct,genero,ocupacao,instrucao,idade
0,2000,2708907,1265591.0,PSD,3147,4882,0.0,0.0,0.0,1412.0,0.644613,masculino,proprietario de estabelecimento comercial,ensino medio completo,45.0
1,2000,1302553,19147.0,PST,1455,5658,0.0,0.0,0.0,155.0,0.257158,masculino,medico,ensino superior completo,31.0
2,2000,2903300,1071793.0,PAN,2135,3598,0.0,0.0,0.0,708.0,0.593385,masculino,outros,ensino superior completo,51.0
3,2000,2906907,962907.0,PSD,4614,8760,0.0,0.0,0.0,640.0,0.526712,masculino,outros,ensino fundamental incompleto,58.0
4,2000,2908606,1523132.0,PST,3643,8872,0.0,0.0,0.0,1015.0,0.410618,masculino,proprietario de estabelecimento comercial,ensino fundamental completo,42.0

In [111]:
dict(sorted((elec.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ano': 0,
 'id_municipio': 0,
 'sigla_partido': 0,
 'votos_winner': 0,
 'votos': 0,
 'incumbant_run': 0,
 'incumbant_win': 0,
 'term_lim_seat': 0,
 'margin': 0,
 'votos_pct': 0,
 'idade': 787,
 'ocupacao': 47197,
 'genero': 47787,
 'instrucao': 48579,
 'id_candidato_bd': 91981}

In [112]:
df.shape

(10113, 193)

In [113]:
df = pd.merge(df, elec,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','ano'])

In [114]:
df.shape

(14386, 208)

In [115]:
df.year

0        2006
1        2013
2        2012
3        2009
4        2004
         ...
14381    2002
14382    2008
14383    2015
14384    2012
14385    2015
Name: year, Length: 14386, dtype: int32

In [116]:
#make list of 3x cands
#make summary of NAs

#sit/situacao_candidatura variable in original, check if the 3 term people are denied, code and word, word is deferido

#cod sit candidatura, deferido, deferido con recurso (initially denied then accepted), 
#cod sit candidatura === 2 
#number of candidates per municipality, how attractive office is in that mun

#turno, numero turno 1/2, large muns, if cand doesn't get 50+% have runoffs, same mun two elections, 
#identify muns that have runoffs, indicator, num cands in first term, margin in second term keep

In [117]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'murder_threats': 4,
 'assassination': 4,
 'assassination_attempt': 4,
 'f_emitted_count': 4,
 'expen_agri': 4,
 'expen_env_man': 4,
 'expen_agr_org': 4,
 'expen_mining': 4,
 'expen_petrol': 4,
 'expen_prom_ani_pro': 4,
 'expen_prom_veg_pro': 4,
 'expen_other_agr': 4,
 'expen_agr_defense': 4,
 'expen_min_fuel': 4,
 'illegal_mining': 4,
 'illegal_other': 4,
 'illegal_industry': 4,
 'audits': 4,
 'id': 14,
 'municipality': 14,
 'state': 14,
 'region': 14,
 'pmv': 14,
 'forestformation': 14,
 'forestplantaon': 14,
 'pasture': 14,
 'sugarcane': 14,
 'soybean': 14,
 'yrmean_maxtemp': 14,
 'yrmean_pdsi': 14,
 'yrmean_prec': 14,
 'firetotal': 14,
 'cowratio': 14,
 'totalfineadj': 14,
 'adi': 14,
 'gfwlosssqkm': 14,
 'incremento': 14,
 'forest_extent_sqkm': 14,
 'SFlosssqkm': 14,
 'SFincrement': 14,
 'sf1to8': 14,
 'sf9to16': 14,
 'sf17to24': 14,
 'sf25to34': 14,
 'ano': 7513,
 'id_municipio': 7513,
 'sigla_partido': 7513,
 'votos_winner': 7513,
 'votos': 7513,
 'incumbant_run': 7513,
 'incumbant_win': 7513,
 'term_lim_seat': 7513,
 'margin': 7513,
 'votos_pct': 7513,
 'ocupacao': 7513,
 'genero': 7546,
 'idade': 7562,
 'instrucao': 7575,
 'id_candidato_bd': 11693}

In [118]:
dict(df[df.sigla_partido.isna()].groupby(['ID']).size())

{1100015: 10,
 1100023: 5,
 1100031: 4,
 1100049: 6,
 1100056: 4,
 1100072: 4,
 1100080: 7,
 1100098: 4,
 1100106: 26,
 1100114: 3,
 1100122: 9,
 1100130: 17,
 1100148: 2,
 1100155: 5,
 1100189: 12,
 1100205: 48,
 1100254: 4,
 1100262: 5,
 1100288: 1,
 1100296: 2,
 1100304: 11,
 1100320: 7,
 1100338: 16,
 1100346: 2,
 1100379: 5,
 1100403: 2,
 1100452: 5,
 1100502: 1,
 1100601: 7,
 1100700: 6,
 1100809: 10,
 1100908: 2,
 1100924: 12,
 1100940: 4,
 1101005: 5,
 1101104: 4,
 1101302: 2,
 1101401: 3,
 1101435: 1,
 1101450: 1,
 1101468: 6,
 1101492: 15,
 1101500: 5,
 1101609: 4,
 1101708: 3,
 1101757: 9,
 1101807: 3,
 1200013: 5,
 1200054: 6,
 1200104: 3,
 1200138: 1,
 1200179: 3,
 1200203: 20,
 1200252: 1,
 1200302: 48,
 1200328: 8,
 1200336: 14,
 1200344: 19,
 1200351: 13,
 1200393: 5,
 1200401: 19,
 1200427: 3,
 1200435: 13,
 1200450: 4,
 1200500: 43,
 1200609: 31,
 1200708: 6,
 1200807: 5,
 1300029: 8,
 1300060: 5,
 1300086: 2,
 1300102: 11,
 1300144: 71,
 1300201: 114,
 1300300: 18,
 1300409: 204,
 1300508: 11,
 1300607: 12,
 1300631: 30,
 1300680: 3,
 1300706: 24,
 1300805: 76,
 1300839: 10,
 1300904: 52,
 1301001: 34,
 1301100: 9,
 1301159: 2,
 1301209: 89,
 1301308: 28,
 1301407: 29,
 1301506: 7,
 1301605: 14,
 1301654: 7,
 1301704: 47,
 1301803: 15,
 1301852: 3,
 1301902: 19,
 1301951: 43,
 1302009: 12,
 1302108: 88,
 1302207: 24,
 1302306: 91,
 1302405: 97,
 1302504: 15,
 1302553: 5,
 1302603: 10,
 1302702: 68,
 1302801: 19,
 1302900: 60,
 1303007: 31,
 1303106: 14,
 1303205: 70,
 1303304: 50,
 1303403: 13,
 1303502: 62,
 1303536: 42,
 1303569: 9,
 1303601: 93,
 1303700: 25,
 1303809: 186,
 1303908: 24,
 1303957: 16,
 1304005: 4,
 1304062: 6,
 1304104: 140,
 1304203: 33,
 1304237: 11,
 1304260: 22,
 1304302: 36,
 1304401: 1,
 1400027: 50,
 1400050: 46,
 1400100: 10,
 1400159: 14,
 1400175: 14,
 1400209: 62,
 1400233: 12,
 1400282: 24,
 1400308: 21,
 1400407: 5,
 1400456: 11,
 1400472: 44,
 1400506: 8,
 1400605: 3,
 1400704: 12,
 1500107: 1,
 1500206: 9,
 1500305: 11,
 1500347: 8,
 1500404: 30,
 1500503: 113,
 1500602: 266,
 1500701: 11,
 1500859: 11,
 1500958: 2,
 1501006: 27,
 1501105: 6,
 1501204: 4,
 1501253: 5,
 1501402: 1,
 1501451: 6,
 1501576: 5,
 1501600: 1,
 1501709: 1,
 1501725: 8,
 1501758: 1,
 1501782: 5,
 1501808: 19,
 1501907: 2,
 1501956: 4,
 1502004: 6,
 1502103: 3,
 1502152: 4,
 1502202: 1,
 1502301: 2,
 1502400: 4,
 1502509: 18,
 1502608: 1,
 1502707: 5,
 1502756: 2,
 1502764: 23,
 1502772: 6,
 1502806: 5,
 1502855: 5,
 1502905: 1,
 1502939: 8,
 1502954: 4,
 1503002: 14,
 1503044: 7,
 1503077: 3,
 1503093: 8,
 1503101: 11,
 1503309: 3,
 1503408: 2,
 1503457: 11,
 1503507: 3,
 1503606: 79,
 1503705: 12,
 1503754: 57,
 1503804: 1,
 1503903: 21,
 1504000: 3,
 1504109: 2,
 1504208: 32,
 1504307: 1,
 1504406: 1,
 1504455: 12,
 1504505: 10,
 1504703: 13,
 1504752: 2,
 1504802: 29,
 1504901: 2,
 1504950: 4,
 1504976: 1,
 1505031: 61,
 1505064: 31,
 1505106: 42,
 1505205: 6,
 1505304: 134,
 1505403: 3,
 1505437: 23,
 1505486: 22,
 1505494: 1,
 1505502: 35,
 1505536: 9,
 1505551: 5,
 1505601: 1,
 1505635: 3,
 1505650: 3,
 1505700: 5,
 1505809: 44,
 1505908: 20,
 1506005: 27,
 1506138: 9,
 1506161: 9,
 1506187: 13,
 1506195: 10,
 1506203: 2,
 1506302: 3,
 1506401: 1,
 1506500: 1,
 1506559: 1,
 1506583: 10,
 1506708: 21,
 1506807: 18,
 1506906: 1,
 1507003: 1,
 1507151: 1,
 1507201: 4,
 1507300: 135,
 1507409: 3,
 1507458: 5,
 1507508: 1,
 1507607: 3,
 1507706: 1,
 1507755: 2,
 1507805: 18,
 1507904: 11,
 1507953: 11,
 1507979: 4,
 1508001: 11,
 1508035: 1,
 1508050: 11,
 1508084: 3,
 1508100: 4,
 1508126: 4,
 1508159: 7,
 1508209: 2,
 1508308: 10,
 1508357: 4,
 1508407: 6,
 1600055: 13,
 1600105: 12,
 1600154: 13,
 1600204: 29,
 1600238: 7,
 1600253: 2,
 1600279: 45,
 1600303: 5,
 1600402: 20,
 1600501: 29,
 1600535: 7,
 1600550: 5,
 1600709: 8,
 1600808: 6,
 1700251: 2,
 1700301: 1,
 1700350: 3,
 1700400: 2,
 1701002: 1,
 1701051: 1,
 1701101: 3,
 1701903: 2,
 1702000: 10,
 1702109: 7,
 1702158: 2,
 1702208: 5,
 1702307: 5,
 1702406: 12,
 1703008: 2,
 1703057: 4,
 1703107: 1,
 1703206: 3,
 1703305: 1,
 1703701: 3,
 1703800: 1,
 1703842: 4,
 1703867: 2,
 1703883: 1,
 1703909: 1,
 1704105: 2,
 1704600: 2,
 1705102: 3,
 1705508: 1,
 1705557: 3,
 1705607: 4,
 1706001: 4,
 1706100: 5,
 1706258: 1,
 1706506: 2,
 1707009: 4,
 1707108: 1,
 1707207: 3,
 1707306: 3,
 1707405: 2,
 1707702: 3,
 1708205: 23,
 1708304: 1,
 1709005: 11,
 1709302: 2,
 1709807: 2,
 1710508: 6,
 1710706: 1,
 1711100: 3,
 1711506: 2,
 1711803: 1,
 1711902: 14,
 1711951: 1,
 1712157: 1,
 1712405: 7,
 1712504: 1,
 1712702: 10,
 1712801: 1,
 1713205: 3,
 1713601: 4,
 1713809: 2,
 1713957: 3,
 1714203: 4,
 1714880: 1,
 1715002: 2,
 1715101: 4,
 1715259: 3,
 1715705: 2,
 1715754: 5,
 1716109: 4,
 1716208: 19,
 1716307: 3,
 1716505: 3,
 1716604: 6,
 1716653: 2,
 1716703: 1,
 1717008: 2,
 1717206: 1,
 1717503: 10,
 1717800: 2,
 1717909: 6,
 1718006: 2,
 1718204: 8,
 1718501: 4,
 1718659: 1,
 1718709: 2,
 1718758: 8,
 1718808: 1,
 1718840: 4,
 1718865: 1,
 1718881: 4,
 1718899: 7,
 1718907: 4,
 1719004: 2,
 1720101: 3,
 1720150: 1,
 1720259: 3,
 1720499: 1,
 1720655: 1,
 1720853: 2,
 1720903: 5,
 1720937: 2,
 1720978: 3,
 1721000: 1,
 1721109: 4,
 1721208: 1,
 1721257: 2,
 1721307: 1,
 1722081: 2,
 1722107: 4,
 2100055: 4,
 2100204: 4,
 2100402: 1,
 2100477: 2,
 2100501: 19,
 2100600: 11,
 2100709: 1,
 2100832: 1,
 2100956: 6,
 2101004: 1,
 2101202: 3,
 2101251: 1,
 2101301: 2,
 2101400: 18,
 2101608: 9,
 2101806: 2,
 2101905: 1,
 2102002: 11,
 2102036: 1,
 2102077: 2,
 2102150: 2,
 2102325: 4,
 2102606: 5,
 2102705: 2,
 2102804: 10,
 2102903: 3,
 2103109: 1,
 2103158: 2,
 2103174: 8,
 2103257: 2,
 2103307: 1,
 2103505: 4,
 2103554: 1,
 2103604: 1,
 2103703: 3,
 2104008: 1,
 2104057: 6,
 2104073: 3,
 2104081: 7,
 2104099: 4,
 2104107: 2,
 2104206: 1,
 2104305: 2,
 2104404: 3,
 2104628: 1,
 2104651: 5,
 2104800: 7,
 2105153: 2,
 2105351: 1,
 2105401: 1,
 2105427: 10,
 2105476: 4,
 2105500: 1,
 2105609: 2,
 2105708: 1,
 2105807: 1,
 2105906: 1,
 2105963: 1,
 2105989: 4,
 2106003: 2,
 2106102: 3,
 2106201: 2,
 2106326: 1,
 2106359: 1,
 2106631: 1,
 2106706: 18,
 2106755: 2,
 2106904: 3,
 2107001: 2,
 2107258: 1,
 2107308: 1,
 2107357: 3,
 2108009: 2,
 2108108: 3,
 2108207: 1,
 2108256: 5,
 2108306: 1,
 2108405: 1,
 2108454: 1,
 2108504: 1,
 2108603: 5,
 2109007: 1,
 2109056: 1,
 2109106: 2,
 2109205: 1,
 2109270: 1,
 2109502: 5,
 2109551: 2,
 2109700: 3,
 2109809: 6,
 2109908: 1,
 2110005: 14,
 2110203: 1,
 2110302: 1,
 2110500: 1,
 2110708: 1,
 2110807: 2,
 2111029: 2,
 2111052: 3,
 2111300: 2,
 2111508: 2,
 2111532: 2,
 2111573: 2,
 2111607: 5,
 2111706: 1,
 2111763: 1,
 2111789: 4,
 2111805: 7,
 2111904: 3,
 2112001: 8,
 2112274: 1,
 2112308: 2,
 2112407: 5,
 2112456: 3,
 2112803: 2,
 2112852: 4,
 2113009: 2,
 2114007: 4,
 5100201: 14,
 5100250: 12,
 5100300: 7,
 5100359: 3,
 5100409: 6,
 5100508: 3,
 5100805: 33,
 5101001: 9,
 5101209: 3,
 5101258: 5,
 5101308: 1,
 5101407: 43,
 5101605: 19,
 5101704: 5,
 5101803: 15,
 5101852: 4,
 5101902: 16,
 5102504: 40,
 5102603: 11,
 5102637: 12,
 5102678: 3,
 5102686: 12,
 5102694: 7,
 5102702: 15,
 5102793: 6,
 5102850: 7,
 5103007: 13,
 5103056: 7,
 5103106: 29,
 5103205: 2,
 5103254: 50,
 5103304: 39,
 5103353: 11,
 5103361: 3,
 5103379: 13,
 5103403: 7,
 5103452: 5,
 5103502: 15,
 5103601: 2,
 5103700: 22,
 5103809: 1,
 5103858: 23,
 5103908: 6,
 5104104: 8,
 5104203: 10,
 5104526: 5,
 5104542: 3,
 5104559: 5,
 5104609: 13,
 5104807: 3,
 5104906: 1,
 5105002: 3,
 5105101: 28,
 5105150: 36,
 5105176: 6,
 5105200: 2,
 5105234: 3,
 5105259: 5,
 5105309: 5,
 5105507: 22,
 5105580: 26,
 5105606: 8,
 5105622: 1,
 5105903: 10,
 5106000: 2,
 5106109: 11,
 5106158: 12,
 5106174: 8,
 5106182: 7,
 5106190: 6,
 5106208: 6,
 5106216: 5,
 5106224: 13,
 5106232: 1,
 5106240: 28,
 5106257: 2,
 5106265: 13,
 5106273: 1,
 5106281: 5,
 5106299: 6,
 5106307: 40,
 5106315: 7,
 5106372: 5,
 5106422: 15,
 5106455: 1,
 5106505: 21,
 5106653: 6,
 5106703: 1,
 5106752: 11,
 5106778: 3,
 5106802: 8,
 5106828: 5,
 5106851: 5,
 5107008: 11,
 5107040: 9,
 5107065: 33,
 5107107: 4,
 5107156: 1,
 5107180: 18,
 5107198: 1,
 5107206: 1,
 5107248: 9,
 5107263: 1,
 5107297: 1,
 5107305: 6,
 5107354: 10,
 5107578: 20,
 5107602: 6,
 5107701: 9,
 5107743: 8,
 5107768: 8,
 5107776: 8,
 5107792: 10,
 5107800: 23,
 5107859: 23,
 5107875: 20,
 5107883: 2,
 5107909: 1,
 5107925: 20,
 5107941: 11,
 5107958: 22,
 5108006: 8,
 5108055: 6,
 5108105: 2,
 5108204: 3,
 5108303: 9,
 5108352: 2,
 5108402: 1,
 5108501: 1,
 5108600: 15,
 5108808: 1,
 5108857: 5,
 5108907: 25,
 5108956: 4}

## Finbra

In [119]:
#codes aren't merging correctly here, there's an issue with municpality ids being different!

In [120]:
#

In [121]:
#can't find 7 digit code for 1504752 
#{'ibge7_code': , 'ibge6_code': 89, 'tse_code': 93, 'mesoregion': 99, 'microregion': 99, 'UF': }


#1504752 
#2103307    
#2111748

In [122]:
#url = 'https://raw.githubusercontent.com/ekatovich/Municipality_Name_ID_crosswalk/master/Raw_Brazil_GeographicalUnits.csv'
url = '/Users/annieulichney/Desktop/BrazilMunicipalIdentifiers.csv'
codes_df = pd.read_csv(url, header = 0, encoding='latin-1')

In [123]:
#add 6 digit codes to main dataframe
df = df.merge(codes_df[['ibge7_code', 'ibge6_code']], how = 'left', left_on = 'ID', right_on = 'ibge7_code')

In [124]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'ibge7_code': 3,
 'ibge6_code': 3,
 'murder_threats': 4,
 'assassination': 4,
 'assassination_attempt': 4,
 'f_emitted_count': 4,
 'expen_agri': 4,
 'expen_env_man': 4,
 'expen_agr_org': 4,
 'expen_mining': 4,
 'expen_petrol': 4,
 'expen_prom_ani_pro': 4,
 'expen_prom_veg_pro': 4,
 'expen_other_agr': 4,
 'expen_agr_defense': 4,
 'expen_min_fuel': 4,
 'illegal_mining': 4,
 'illegal_other': 4,
 'illegal_industry': 4,
 'audits': 4,
 'id': 14,
 'municipality': 14,
 'state': 14,
 'region': 14,
 'pmv': 14,
 'forestformation': 14,
 'forestplantaon': 14,
 'pasture': 14,
 'sugarcane': 14,
 'soybean': 14,
 'yrmean_maxtemp': 14,
 'yrmean_pdsi': 14,
 'yrmean_prec': 14,
 'firetotal': 14,
 'cowratio': 14,
 'totalfineadj': 14,
 'adi': 14,
 'gfwlosssqkm': 14,
 'incremento': 14,
 'forest_extent_sqkm': 14,
 'SFlosssqkm': 14,
 'SFincrement': 14,
 'sf1to8': 14,
 'sf9to16': 14,
 'sf17to24': 14,
 'sf25to34': 14,
 'ano': 7513,
 'id_municipio': 7513,
 'sigla_partido': 7513,
 'votos_winner': 7513,
 'votos': 7513,
 'incumbant_run': 7513,
 'incumbant_win': 7513,
 'term_lim_seat': 7513,
 'margin': 7513,
 'votos_pct': 7513,
 'ocupacao': 7513,
 'genero': 7546,
 'idade': 7562,
 'instrucao': 7575,
 'id_candidato_bd': 11693}

In [125]:
#pib.Rdata
finbra_read = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/finbra2001-2015.Rdata')
finbra_df = pd.DataFrame(finbra_read['finbra_2001_2015'])

finbra_df.cd_ibge_6 = finbra_df.cd_ibge_6.astype(int)
finbra_df.y = finbra_df.y.astype(int)

finbra_df.head()
#df = pd.merge(df, finbra_df,  how = 'left', left_on = ['ID','year'], right_on = ['cd_ibge_6','y'])

,cd_ibge_6,y,rev_total,rev_curr,rev_trib,rev_tax,rev_fee,rev_tr_curr,rev_tr_fed,rev_tr_stt,...,exp_ind,exp_heal_san,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2
0,431453,2001,2758335.41,2758335.41,6.555268e+04,4.331561e+04,22237.070000,2547699.62,1512795.74,1034903.88,...,362316.540000,265031.240,22846.1500,0.0,5337.26,0.00,NaN,NaN,.2001,4314532001
1,431453,2002,1973343.31,2136505.56,1.184666e+05,1.013939e+05,16159.060000,1924668.31,668256.74,1230217.45,...,3733.949951,452991.125,0.0000,278591.8,16365.81,40513.07,NaN,NaN,.2002,4314532002
2,421265,2013,9365629.00,9365629.00,1.260199e+05,1.089185e+05,12907.500000,9154815.00,6183653.00,2237162.00,...,16886.099609,988255.000,138301.4375,0.0,0.00,0.00,1492860.125,NaN,.2013,4212652013
3,500627,2013,20841374.00,20725176.00,2.806561e+06,2.773809e+06,32752.500000,17692492.00,6929948.50,10463405.00,...,0.000000,3325298.500,613889.8750,48373.0,0.00,0.00,4512029.000,NaN,.2013,5006272013
4,150475,2013,25632392.00,25632392.00,9.417746e+05,9.291695e+05,12605.080078,24414776.00,10333942.00,2591715.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.2013,1504752013

In [126]:
dict(sorted((finbra_df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'cd_ibge_6': 0,
 'y': 0,
 'id': 0,
 'id2': 0,
 'codigo': 15,
 'rev_total': 16,
 'rev_curr': 16,
 'rev_trib': 16,
 'rev_tax': 16,
 'rev_fee': 16,
 'rev_tr_curr': 16,
 'rev_tr_fed': 16,
 'rev_tr_stt': 17,
 'rev_cap': 17,
 'exp_total': 241,
 'exp_leg': 241,
 'exp_jud': 241,
 'exp_agr': 241,
 'exp_ed_cult': 241,
 'exp_hab': 241,
 'exp_ind': 241,
 'exp_heal_san': 241,
 'exp_assist': 241,
 'exp_transp': 241,
 'exp_secur': 241,
 'exp_energy': 241,
 'rev_tr_mun': 5469,
 'rev_tr_mult': 5469,
 'rev_agr': 5469,
 'rev_curr_oth': 15508,
 'exp_admin': 16490,
 'exp_cap': 63393,
 'rev_tr_curr_oth': 64151,
 'rev_tr_oth': 74190}

In [127]:
finbra_df

,cd_ibge_6,y,rev_total,rev_curr,rev_trib,rev_tax,rev_fee,rev_tr_curr,rev_tr_fed,rev_tr_stt,...,exp_ind,exp_heal_san,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2
0,431453,2001,2.758335e+06,2.758335e+06,6.555268e+04,4.331561e+04,2.223707e+04,2.547700e+06,1.512796e+06,1.034904e+06,...,3.623165e+05,2.650312e+05,2.284615e+04,0.000000e+00,5.337260e+03,0.000000e+00,NaN,NaN,.2001,4314532001
1,431453,2002,1.973343e+06,2.136506e+06,1.184666e+05,1.013939e+05,1.615906e+04,1.924668e+06,6.682567e+05,1.230217e+06,...,3.733950e+03,4.529911e+05,0.000000e+00,2.785918e+05,1.636581e+04,4.051307e+04,NaN,NaN,.2002,4314532002
2,421265,2013,9.365629e+06,9.365629e+06,1.260199e+05,1.089185e+05,1.290750e+04,9.154815e+06,6.183653e+06,2.237162e+06,...,1.688610e+04,9.882550e+05,1.383014e+05,0.000000e+00,0.000000e+00,0.000000e+00,1.492860e+06,NaN,.2013,4212652013
3,500627,2013,2.084137e+07,2.072518e+07,2.806561e+06,2.773809e+06,3.275250e+04,1.769249e+07,6.929948e+06,1.046340e+07,...,0.000000e+00,3.325298e+06,6.138899e+05,4.837300e+04,0.000000e+00,0.000000e+00,4.512029e+06,NaN,.2013,5006272013
4,150475,2013,2.563239e+07,2.563239e+07,9.417746e+05,9.291695e+05,1.260508e+04,2.441478e+07,1.033394e+07,2.591715e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.2013,1504752013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79639,522230,2012,1.351721e+07,1.544733e+07,1.187842e+06,1.181899e+06,5.943280e+03,1.412793e+07,7.123859e+06,4.577965e+06,...,3.460486e+05,2.689667e+06,8.631386e+05,4.967377e+05,0.000000e+00,0.000000e+00,1.674587e+06,5.222302e+06,52223022012,5222302012
79640,522230,2013,1.811173e+07,1.789173e+07,1.042245e+06,1.030196e+06,1.204840e+04,1.679562e+07,7.619004e+06,6.433764e+06,...,1.109080e+05,3.361664e+06,9.963528e+05,2.368516e+05,0.000000e+00,0.000000e+00,2.457511e+06,5.222302e+06,52223022013,5222302013
79641,522230,2014,1.914798e+07,1.821412e+07,6.581836e+05,6.413223e+05,1.686127e+04,1.746049e+07,8.298852e+06,6.390106e+06,...,3.600722e+05,3.688938e+06,1.025383e+06,1.055815e+05,0.000000e+00,0.000000e+00,2.167078e+06,5.222302e+06,52223022014,5222302014
79642,522230,2015,1.970494e+07,1.929254e+07,8.276906e+05,8.100056e+05,1.768507e+04,1.834481e+07,8.892128e+06,6.603110e+06,...,1.621564e+05,3.959784e+06,1.232056e+06,1.320656e+05,5.117601e+04,0.000000e+00,1.565677e+06,5.222302e+06,52223022015,5222302015
79643,6553600,0,6.790387e-313,9.973380e-313,2.058336e-312,9.973380e-313,2.355415e-312,2.121996e-312,2.419075e-312,9.973380e-313,...,1.018558e-312,1.018558e-312,2.334195e-312,1.782476e-312,9.973380e-313,1.442957e-312,1.082218e-312,7.847271e-44,7.85e-440,65536000

In [128]:
pd.merge(df, finbra_df,  how = 'left', left_on = ['ID','year'], right_on = ['cd_ibge_6','y'])

,ID,forest.diff,FID,x,y_x,year,forest.l,nn_forest.l,rain1,elevation,...,exp_ind,exp_heal_san,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id_y,id2
0,5107925,11.0,8940737,-55.825,-13.225,2006,28.0,27.25,27.97495,447.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2112308,-6.0,9743744,-44.675,-5.825,2013,42.0,44.25,14.66136,212.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1400472,-4.0,8516107,-61.725,-0.625,2012,97.0,95.00,43.29452,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1304104,5.0,8213551,-65.925,-7.125,2009,92.0,94.75,37.07212,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1505502,11.0,9563793,-47.175,-3.375,2004,40.0,48.25,20.06341,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14381,1303502,0.0,8033515,-68.425,-8.025,2002,97.0,97.00,34.86647,171.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14382,1500602,0.0,9084941,-53.825,-5.725,2008,97.0,93.00,27.95056,298.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14383,1400472,-30.0,8602537,-60.525,0.425,2015,92.0,91.75,22.48222,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14384,5104609,-1.0,8983865,-55.225,-17.525,2012,36.0,37.00,16.14718,172.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14385,2110005,-1.0,9650180,-45.975,-4.025,2015,44.0,48.50,21.37521,152.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
dir_read = pyreadr.read_r('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/diretorio.Rdata')
dir_df = dir_read['df.diretorio']

In [130]:
dir_df.head()

,id_municipio,id_municipio_6,id_municipio_tse,id_municipio_rf,id_municipio_bcb,municipio,capital_uf,id_comarca,id_regiao_saude,regiao_saude,...,microrregiao,id_mesorregiao,mesorregiao,id_uf,sigla_uf,uf,regiao,existia_1991,existia_2000,existia_2010
0,1100023,110002,78,7,9393,Ariquemes,0,1100023,11001,Vale do Jamari,...,Ariquemes,1102,Leste Rondoniense,11,RO,Rondônia,Norte,1,1,1
1,1100106,110010,19,1,22882,Guajará-Mirim,0,1100106,11004,Madeira-Mamoré,...,Guajará-Mirim,1101,Madeira-Guaporé,11,RO,Rondônia,Norte,1,1,1
2,1100114,110011,159,15,41258,Jaru,0,1100114,11003,Central,...,Ji-Paraná,1102,Leste Rondoniense,11,RO,Rondônia,Norte,1,1,1
3,1100130,110013,396,39,44547,Machadinho D'Oeste,0,1100122,11001,Vale do Jamari,...,Ariquemes,1102,Leste Rondoniense,11,RO,Rondônia,Norte,1,1,1
4,1100205,110020,35,3,30719,Porto Velho,1,1100205,11004,Madeira-Mamoré,...,Porto Velho,1101,Madeira-Guaporé,11,RO,Rondônia,Norte,1,1,1

In [131]:
finbra_merged = pd.merge(finbra_df, dir_df[['id_municipio', 'id_municipio_6']],  how = 'left', left_on = ['cd_ibge_6'], right_on = ['id_municipio_6'])
finbra_merged.head()

,cd_ibge_6,y,rev_total,rev_curr,rev_trib,rev_tax,rev_fee,rev_tr_curr,rev_tr_fed,rev_tr_stt,...,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2,id_municipio,id_municipio_6
0,431453,2001,2758335.41,2758335.41,6.555268e+04,4.331561e+04,22237.070000,2547699.62,1512795.74,1034903.88,...,22846.1500,0.0,5337.26,0.00,NaN,NaN,.2001,4314532001,NaN,NaN
1,431453,2002,1973343.31,2136505.56,1.184666e+05,1.013939e+05,16159.060000,1924668.31,668256.74,1230217.45,...,0.0000,278591.8,16365.81,40513.07,NaN,NaN,.2002,4314532002,NaN,NaN
2,421265,2013,9365629.00,9365629.00,1.260199e+05,1.089185e+05,12907.500000,9154815.00,6183653.00,2237162.00,...,138301.4375,0.0,0.00,0.00,1492860.125,NaN,.2013,4212652013,4212650.0,421265.0
3,500627,2013,20841374.00,20725176.00,2.806561e+06,2.773809e+06,32752.500000,17692492.00,6929948.50,10463405.00,...,613889.8750,48373.0,0.00,0.00,4512029.000,NaN,.2013,5006272013,5006275.0,500627.0
4,150475,2013,25632392.00,25632392.00,9.417746e+05,9.291695e+05,12605.080078,24414776.00,10333942.00,2591715.00,...,NaN,NaN,NaN,NaN,NaN,NaN,.2013,1504752013,1504752.0,150475.0

In [132]:
df_test = pd.merge(df, finbra_merged,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','y'])
df_test.head()

,ID,forest.diff,FID,x,y_x,year,forest.l,nn_forest.l,rain1,elevation,...,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id_y,id2,id_municipio_y,id_municipio_6
0,5107925,11.0,8940737,-55.825,-13.225,2006,28.0,27.25,27.97495,447.0,...,2880648.250,4390030.58,619392.53,0.00,5324332.23,5107925.0,51079252006,5107922006,5107925.0,510792.0
1,2112308,-6.0,9743744,-44.675,-5.825,2013,42.0,44.25,14.66136,212.0,...,0.000,0.00,0.00,0.00,1.00,2112308.0,21123082013,2112302013,2112308.0,211230.0
2,1400472,-4.0,8516107,-61.725,-0.625,2012,97.0,95.00,43.29452,54.0,...,1286613.250,3389971.00,0.00,911078.56,5332174.89,1400472.0,14004722012,1400472012,1400472.0,140047.0
3,1304104,5.0,8213551,-65.925,-7.125,2009,92.0,94.75,37.07212,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1505502,11.0,9563793,-47.175,-3.375,2004,40.0,48.25,20.06341,78.0,...,1983015.125,208647.70,0.00,0.00,6831325.30,1505502.0,15055022004,1505502004,1505502.0,150550.0

In [133]:
dict(sorted((df_test.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y_x': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'ibge7_code': 3,
 'ibge6_code': 3,
 'murder_threats': 4,
 'assassination': 4,
 'assassination_attempt': 4,
 'f_emitted_count': 4,
 'expen_agri': 4,
 'expen_env_man': 4,
 'expen_agr_org': 4,
 'expen_mining': 4,
 'expen_petrol': 4,
 'expen_prom_ani_pro': 4,
 'expen_prom_veg_pro': 4,
 'expen_other_agr': 4,
 'expen_agr_defense': 4,
 'expen_min_fuel': 4,
 'illegal_mining': 4,
 'illegal_other': 4,
 'illegal_industry': 4,
 'audits': 4,
 'id_x': 14,
 'municipality': 14,
 'state': 14,
 'region': 14,
 'pmv': 14,
 'forestformation': 14,
 'forestplantaon': 14,
 'pasture': 14,
 'sugarcane': 14,
 'soybean': 14,
 'yrmean_maxtemp': 14,
 'yrmean_pdsi': 14,
 'yrmean_prec': 14,
 'firetotal': 14,
 'cowratio': 14,
 'totalfineadj': 14,
 'adi': 14,
 'gfwlosssqkm': 14,
 'incremento': 14,
 'forest_extent_sqkm': 14,
 'SFlosssqkm': 14,
 'SFincrement': 14,
 'sf1to8': 14,
 'sf9to16': 14,
 'sf17to24': 14,
 'sf25to34': 14,
 'cd_ibge_6': 1918,
 'y_y': 1918,
 'id_y': 1918,
 'id2': 1918,
 'id_municipio_y': 1918,
 'id_municipio_6': 1918,
 'codigo': 1920,
 'rev_total': 1922,
 'rev_curr': 1922,
 'rev_trib': 1922,
 'rev_tax': 1922,
 'rev_fee': 1922,
 'rev_tr_curr': 1922,
 'rev_tr_fed': 1922,
 'rev_tr_stt': 1922,
 'rev_tr_mun': 1922,
 'rev_tr_mult': 1922,
 'rev_agr': 1922,
 'rev_cap': 1922,
 'exp_total': 1938,
 'exp_leg': 1938,
 'exp_jud': 1938,
 'exp_agr': 1938,
 'exp_ed_cult': 1938,
 'exp_hab': 1938,
 'exp_ind': 1938,
 'exp_heal_san': 1938,
 'exp_assist': 1938,
 'exp_transp': 1938,
 'exp_secur': 1938,
 'exp_energy': 1938,
 'exp_admin': 3262,
 'rev_curr_oth': 3646,
 'ano': 7513,
 'id_municipio_x': 7513,
 'sigla_partido': 7513,
 'votos_winner': 7513,
 'votos': 7513,
 'incumbant_run': 7513,
 'incumbant_win': 7513,
 'term_lim_seat': 7513,
 'margin': 7513,
 'votos_pct': 7513,
 'ocupacao': 7513,
 'genero': 7546,
 'idade': 7562,
 'instrucao': 7575,
 'id_candidato_bd': 11693,
 'rev_tr_curr_oth': 12662,
 'exp_cap': 13062,
 'rev_tr_oth': 14386}

In [134]:
df_test[df_test.exp_energy.isna()].groupby(['ID']).size()

ID
1100015     1
1100023     2
1100064     1
1100098     2
1100106    80
           ..
5108600     4
5108808     1
5108857     1
5108907     5
5108956     2
Length: 363, dtype: int64

In [135]:
#df = pd.merge(df, finbra_df,  how = 'left', left_on = ['ID','year'], right_on = ['cd_ibge_6','y'])

In [136]:
dir_df[['id_municipio', 'id_municipio_6']]

      id_municipio  id_municipio_6
0          1100023          110002
1          1100106          110010
2          1100114          110011
3          1100130          110013
4          1100205          110020
...            ...             ...
5565       2311801          231180
5566       2312502          231250
5567       2312700          231270
5568       2313005          231300
5569       2313104          231310

[5570 rows x 2 columns]

In [137]:
finbra_df.head()

,cd_ibge_6,y,rev_total,rev_curr,rev_trib,rev_tax,rev_fee,rev_tr_curr,rev_tr_fed,rev_tr_stt,...,exp_ind,exp_heal_san,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2
0,431453,2001,2758335.41,2758335.41,6.555268e+04,4.331561e+04,22237.070000,2547699.62,1512795.74,1034903.88,...,362316.540000,265031.240,22846.1500,0.0,5337.26,0.00,NaN,NaN,.2001,4314532001
1,431453,2002,1973343.31,2136505.56,1.184666e+05,1.013939e+05,16159.060000,1924668.31,668256.74,1230217.45,...,3733.949951,452991.125,0.0000,278591.8,16365.81,40513.07,NaN,NaN,.2002,4314532002
2,421265,2013,9365629.00,9365629.00,1.260199e+05,1.089185e+05,12907.500000,9154815.00,6183653.00,2237162.00,...,16886.099609,988255.000,138301.4375,0.0,0.00,0.00,1492860.125,NaN,.2013,4212652013
3,500627,2013,20841374.00,20725176.00,2.806561e+06,2.773809e+06,32752.500000,17692492.00,6929948.50,10463405.00,...,0.000000,3325298.500,613889.8750,48373.0,0.00,0.00,4512029.000,NaN,.2013,5006272013
4,150475,2013,25632392.00,25632392.00,9.417746e+05,9.291695e+05,12605.080078,24414776.00,10333942.00,2591715.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.2013,1504752013

In [138]:
df.head()

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,incumbant_win,term_lim_seat,margin,votos_pct,genero,ocupacao,instrucao,idade,ibge7_code,ibge6_code
0,5107925,11.0,8940737,-55.825,-13.225,2006,28.0,27.25,27.97495,447.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5107925.0,510792.0
1,2112308,-6.0,9743744,-44.675,-5.825,2013,42.0,44.25,14.66136,212.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2112308.0,211230.0
2,1400472,-4.0,8516107,-61.725,-0.625,2012,97.0,95.00,43.29452,54.0,...,0.0,0.0,2909.0,0.620997,masculino,empresario,ensino medio completo,45.0,1400472.0,140047.0
3,1304104,5.0,8213551,-65.925,-7.125,2009,92.0,94.75,37.07212,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1304104.0,130410.0
4,1505502,11.0,9563793,-47.175,-3.375,2004,40.0,48.25,20.06341,78.0,...,0.0,0.0,5635.0,0.572284,masculino,advogado,ensino superior completo,41.0,1505502.0,150550.0

In [139]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'PIB': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER-BASED TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_RUBBER AND PLASTIC': 0,
 'n_companies_TEXTILES': 0,
 'n_companies_RESEARCH AND DEVELOPMENT': 0,
 'n_companies_AERO TRANSPORT': 0,
 'n_companies_SMOKE': 0,
 'n_companies_PETROLEUM REFINING': 0,
 'n_companies_': 0,
 'n_jobs_PUBLIC ADMIN': 0,
 'n_jobs_AGRICULTURE': 0,
 'n_jobs_FOOD AND DRINKS': 0,
 'n_jobs_ACCOMODATION AND FOOD': 0,
 'n_jobs_EQUIPMENT RENTAL': 0,
 'n_jobs_WHOLESALE': 0,
 'n_jobs_ASSOCIATIVE ACTIVITIES': 0,
 'n_jobs_AUTOMOBILES AND TRANSPORT': 0,
 'n_jobs_FINANCIAL ASSISTANCE': 0,
 'n_jobs_TRADE REP VEHICLES': 0,
 'n_jobs_CONSTRUCTION': 0,
 'n_jobs_MAIL AND TELECOM': 0,
 'n_jobs_CULTURE AND SPORT': 0,
 'n_jobs_EDITING AND PRINTING': 0,
 'n_jobs_EDUCATION': 0,
 'n_jobs_ELECTRICITY AND GAS': 0,
 'n_jobs_FINANCES': 0,
 'n_jobs_CLEANING AND SEWAGE': 0,
 'n_jobs_MACHINERY': 0,
 'n_jobs_BASIC METALLURGY': 0,
 'n_jobs_MINING': 0,
 'n_jobs_WOOD PROD': 0,
 'n_jobs_NON-METALLIC MINERAL PRODUCTS': 0,
 'n_jobs_HEALTH': 0,
 'n_jobs_SERVICES FOR COMPANIES': 0,
 'n_jobs_PERSONAL SERVICES': 0,
 'n_jobs_TRANSPORTATION': 0,
 'n_jobs_GROUND TRANSPORT': 0,
 'n_jobs_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_jobs_RETAIL': 0,
 'n_jobs_COMPUTING': 0,
 'n_jobs_INSURANCE AND SOCIAL SECURITY': 0,
 'n_jobs_METALLIC PRODUCTS': 0,
 'n_jobs_DOMESTIC SERVICES': 0,
 'n_jobs_FORESTRY': 0,
 'n_jobs_CLOTHING': 0,
 'n_jobs_PAPER': 0,
 'n_jobs_INTERNATIONAL BODIES': 0,
 'n_jobs_OIL AND GAS': 0,
 'n_jobs_FISHING AND AQUACULTURE': 0,
 'n_jobs_CHEMICALS': 0,
 'n_jobs_WATER-BASED TRANSPORTATION': 0,
 'n_jobs_REAL ESTATE': 0,
 'n_jobs_RECYCLING': 0,
 'n_jobs_LEATHERS AND FOOTWEAR': 0,
 'n_jobs_RUBBER AND PLASTIC': 0,
 'n_jobs_TEXTILES': 0,
 'n_jobs_RESEARCH AND DEVELOPMENT': 0,
 'n_jobs_AERO TRANSPORT': 0,
 'n_jobs_SMOKE': 0,
 'n_jobs_PETROLEUM REFINING': 0,
 'n_jobs_': 0,
 'n_jobs_TOTAL INDUSTRIAL': 0,
 'n_jobs_TOTAL SERVICE': 0,
 'n_companies_TOTAL INDUSTRIAL': 0,
 'n_companies_TOTAL SERVICE': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'emiss_pec_full': 0,
 'emiss_agr_full': 0,
 'emiss_agropec_full': 0,
 'ibge7_code': 3,
 'ibge6_code': 3,
 'murder_threats': 4,
 'assassination': 4,
 'assassination_attempt': 4,
 'f_emitted_count': 4,
 'expen_agri': 4,
 'expen_env_man': 4,
 'expen_agr_org': 4,
 'expen_mining': 4,
 'expen_petrol': 4,
 'expen_prom_ani_pro': 4,
 'expen_prom_veg_pro': 4,
 'expen_other_agr': 4,
 'expen_agr_defense': 4,
 'expen_min_fuel': 4,
 'illegal_mining': 4,
 'illegal_other': 4,
 'illegal_industry': 4,
 'audits': 4,
 'id': 14,
 'municipality': 14,
 'state': 14,
 'region': 14,
 'pmv': 14,
 'forestformation': 14,
 'forestplantaon': 14,
 'pasture': 14,
 'sugarcane': 14,
 'soybean': 14,
 'yrmean_maxtemp': 14,
 'yrmean_pdsi': 14,
 'yrmean_prec': 14,
 'firetotal': 14,
 'cowratio': 14,
 'totalfineadj': 14,
 'adi': 14,
 'gfwlosssqkm': 14,
 'incremento': 14,
 'forest_extent_sqkm': 14,
 'SFlosssqkm': 14,
 'SFincrement': 14,
 'sf1to8': 14,
 'sf9to16': 14,
 'sf17to24': 14,
 'sf25to34': 14,
 'ano': 7513,
 'id_municipio': 7513,
 'sigla_partido': 7513,
 'votos_winner': 7513,
 'votos': 7513,
 'incumbant_run': 7513,
 'incumbant_win': 7513,
 'term_lim_seat': 7513,
 'margin': 7513,
 'votos_pct': 7513,
 'ocupacao': 7513,
 'genero': 7546,
 'idade': 7562,
 'instrucao': 7575,
 'id_candidato_bd': 11693}

## Drop NAs (for Now)

In [140]:
#todo: clean duplicate columns

In [141]:
#I think I need to drop the jobs variables, since they're correlated w the other n_jobs variables

In [142]:
df = df[['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l',
       'nn_forest.l', 'rain1', 'elevation', 'slope', 'aspect',
       'near_mines', 'near_roads', 'near_hidrovia', 'indigenous_homol',
       'mun_election_year', 'new_forest_code', 'lula', 'dilma', 'temer',
       'bolsonaro', 'fed_election_year', 'populacao', 'pib_pc', 'ironore',
       'silver', 'copper', 'gold', 'soy_price', 'beef_price', 'PIB',
       'n_companies_PUBLIC ADMIN', 'n_companies_AGRICULTURE',
       'n_companies_FOOD AND DRINKS', 'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT',
       'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD',
       'n_companies_NON-METALLIC MINERAL PRODUCTS', 'n_companies_HEALTH',
       'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION',
       'n_companies_RETAIL', 'n_companies_COMPUTING',
       'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER', 'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER-BASED TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR',
       'n_companies_RUBBER AND PLASTIC', 'n_companies_TEXTILES',
       'n_companies_RESEARCH AND DEVELOPMENT',
       'n_companies_AERO TRANSPORT', 'n_companies_SMOKE',
       'n_companies_PETROLEUM REFINING', 'n_companies_',
       'n_jobs_PUBLIC ADMIN', 'n_jobs_AGRICULTURE',
       'n_jobs_FOOD AND DRINKS', 'n_jobs_ACCOMODATION AND FOOD',
       'n_jobs_EQUIPMENT RENTAL', 'n_jobs_WHOLESALE',
       'n_jobs_ASSOCIATIVE ACTIVITIES',
       'n_jobs_AUTOMOBILES AND TRANSPORT', 'n_jobs_FINANCIAL ASSISTANCE',
       'n_jobs_TRADE REP VEHICLES', 'n_jobs_CONSTRUCTION',
       'n_jobs_MAIL AND TELECOM', 'n_jobs_CULTURE AND SPORT',
       'n_jobs_EDITING AND PRINTING', 'n_jobs_EDUCATION',
       'n_jobs_ELECTRICITY AND GAS', 'n_jobs_FINANCES',
       'n_jobs_CLEANING AND SEWAGE', 'n_jobs_MACHINERY',
       'n_jobs_BASIC METALLURGY', 'n_jobs_MINING', 'n_jobs_WOOD PROD',
       'n_jobs_NON-METALLIC MINERAL PRODUCTS', 'n_jobs_HEALTH',
       'n_jobs_SERVICES FOR COMPANIES', 'n_jobs_PERSONAL SERVICES',
       'n_jobs_TRANSPORTATION', 'n_jobs_GROUND TRANSPORT',
       'n_jobs_WATER TREATMENT AND DISTRIBUTION', 'n_jobs_RETAIL',
       'n_jobs_COMPUTING', 'n_jobs_INSURANCE AND SOCIAL SECURITY',
       'n_jobs_METALLIC PRODUCTS', 'n_jobs_DOMESTIC SERVICES',
       'n_jobs_FORESTRY', 'n_jobs_CLOTHING', 'n_jobs_PAPER',
       'n_jobs_INTERNATIONAL BODIES', 'n_jobs_OIL AND GAS',
       'n_jobs_FISHING AND AQUACULTURE', 'n_jobs_CHEMICALS',
       'n_jobs_WATER-BASED TRANSPORTATION', 'n_jobs_REAL ESTATE',
       'n_jobs_RECYCLING', 'n_jobs_LEATHERS AND FOOTWEAR',
       'n_jobs_RUBBER AND PLASTIC', 'n_jobs_TEXTILES',
       'n_jobs_RESEARCH AND DEVELOPMENT', 'n_jobs_AERO TRANSPORT',
       'n_jobs_SMOKE', 'n_jobs_PETROLEUM REFINING', 'n_jobs_',
       'n_jobs_TOTAL INDUSTRIAL', 'n_jobs_TOTAL SERVICE',
       'n_companies_TOTAL INDUSTRIAL', 'n_companies_TOTAL SERVICE',
       'n_companies_TOTAL', 'n_jobs_TOTAL', 'murder_threats',
       'assassination', 'assassination_attempt', 'f_emitted_count',
       'expen_agri', 'expen_env_man', 'expen_agr_org', 'expen_mining',
       'expen_petrol', 'expen_prom_ani_pro', 'expen_prom_veg_pro',
       'expen_other_agr', 'expen_agr_defense', 'expen_min_fuel',
       'illegal_mining', 'illegal_other', 'illegal_industry', 'audits',
       'emiss_pec_full', 'emiss_agr_full', 'emiss_agropec_full', 'id',
       'municipality', 'state', 'region', 'pmv', 'forestformation',
       'forestplantaon', 'pasture', 'sugarcane', 'soybean',
       'yrmean_maxtemp', 'yrmean_pdsi', 'yrmean_prec', 'firetotal',
       'cowratio', 'totalfineadj', 'adi', 'gfwlosssqkm', 'incremento',
       'forest_extent_sqkm', 'SFlosssqkm', 'SFincrement', 'sf1to8',
       'sf9to16', 'sf17to24', 'sf25to34', 
       'id_candidato_bd', 'sigla_partido', 'votos_winner', 'votos',
       'incumbant_run', 'incumbant_win', 'term_lim_seat', 'margin',
       'votos_pct', 'genero', 'ocupacao', 'instrucao', 'idade',
       'ibge7_code', 'ibge6_code']]

In [143]:
df.shape

(14386, 204)

In [144]:
df.head()

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,incumbant_win,term_lim_seat,margin,votos_pct,genero,ocupacao,instrucao,idade,ibge7_code,ibge6_code
0,5107925,11.0,8940737,-55.825,-13.225,2006,28.0,27.25,27.97495,447.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5107925.0,510792.0
1,2112308,-6.0,9743744,-44.675,-5.825,2013,42.0,44.25,14.66136,212.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2112308.0,211230.0
2,1400472,-4.0,8516107,-61.725,-0.625,2012,97.0,95.00,43.29452,54.0,...,0.0,0.0,2909.0,0.620997,masculino,empresario,ensino medio completo,45.0,1400472.0,140047.0
3,1304104,5.0,8213551,-65.925,-7.125,2009,92.0,94.75,37.07212,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1304104.0,130410.0
4,1505502,11.0,9563793,-47.175,-3.375,2004,40.0,48.25,20.06341,78.0,...,0.0,0.0,5635.0,0.572284,masculino,advogado,ensino superior completo,41.0,1505502.0,150550.0

In [145]:
df = df.dropna()

In [146]:
df.shape

(2687, 204)

In [147]:
df.to_csv('TempFullData.csv')

In [148]:
df_2016 = df[df.year == 2016]

In [149]:
df_2016

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,incumbant_win,term_lim_seat,margin,votos_pct,genero,ocupacao,instrucao,idade,ibge7_code,ibge6_code
5,1304203,0.0,8285618,-64.925,-3.875,2016,97.0,97.00,35.68278,81.0,...,0.0,0.0,410.0,0.323483,masculino,administrador,ensino superior completo,42.0,1304203.0,130420.0
16,1302405,0.0,8148725,-66.825,-8.375,2016,97.0,97.00,29.54938,151.0,...,0.0,0.0,6892.0,0.716893,masculino,empresario,ensino medio completo,40.0,1302405.0,130240.0
27,1301100,24.0,8627659,-60.175,-3.775,2016,71.0,74.50,34.48946,34.0,...,0.0,0.0,3506.0,0.487144,masculino,outros,ensino medio completo,40.0,1301100.0,130110.0
31,5100508,-5.0,8868693,-56.825,-15.025,2016,33.0,35.75,23.09588,201.0,...,0.0,1.0,369.0,0.516555,feminino,odontologo,ensino superior completo,47.0,5100508.0,510050.0
68,5108857,20.0,8807503,-57.675,-14.325,2016,49.0,42.00,27.41571,514.0,...,0.0,0.0,327.0,0.547458,masculino,pecuarista,ensino medio completo,55.0,5108857.0,510885.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14306,2104107,-1.0,9642919,-46.075,-7.075,2016,31.0,23.25,16.68005,386.0,...,0.0,0.0,561.0,0.535084,masculino,agente administrativo,ensino superior completo,45.0,2104107.0,210410.0
14320,1718881,4.0,9520484,-47.775,-8.825,2016,33.0,30.25,22.70906,268.0,...,0.0,0.0,572.0,0.639376,masculino,vereador,ensino medio completo,45.0,1718881.0,171888.0
14352,5108105,2.0,9088339,-53.775,-15.825,2016,13.0,16.50,24.55389,717.0,...,0.0,1.0,65.0,0.514211,masculino,pecuarista,ensino superior completo,53.0,5108105.0,510810.0
14356,5100250,-2.0,8922799,-56.075,-9.975,2016,41.0,40.00,31.73683,293.0,...,1.0,0.0,131.0,0.445602,masculino,medico,ensino superior completo,49.0,5100250.0,510025.0
14372,1300102,0.0,8462017,-62.475,-4.325,2016,97.0,97.00,33.83717,52.0,...,0.0,1.0,1179.0,0.572500,masculino,enfermeiro,ensino superior completo,39.0,1300102.0,130010.0

In [150]:
path = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/full_data_2016.csv'
df_2016.to_csv(path, index=False)

TimeoutError: [Errno 60] Operation timed out: '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/full_data_2016.csv'

In [ ]:
#df.to_csv('full_data.csv', index=False)